<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Cliente</center>
		</h1>

		<h:form id="mainForm">

			<p:confirmDialog global="true" appendTo="@(body)">
				<p:commandButton value="Si" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

			<p:commandButton value="Nuevo" icon="ui-icon-document"
				style="width:140px;"
				actionListener="#{clientebean.nuevaEntidad()}"
				update=":dlgNuevoEditarId :mainFormClienteEdit" />

			<p:commandButton value="Editar" icon="ui-icon-pencil"
				style="width:140px;" actionListener="#{clientebean.editar()}"
				update=":dlgNuevoEditarId :mainFormClienteEdit" />

			<p:commandButton value="Eliminar" icon="ui-icon-trash"
				style="width:140px;" actionListener="#{clientebean.eliminar()}"
				update=":mainFormClienteEdit :mainForm:idtablacliente">
				<p:confirm header="Confirmación"
					message="¿Esta seguro que desea eliminar este registro?"
					icon="ui-icon-alert" />
			</p:commandButton>

			<p:accordionPanel>
				<p:tab title="Filtros">
					<table>
						<tr>
							<td>Nombre</td>
							<td>Teléfono</td>
							<td>Opciones</td>
						</tr>
						<tr>
							<td><p:inputText id="idtbxNombre" label="Nombre" size="15"
									value="#{clientebean.filtroNombre}">
									<p:ajax event="keyup" listener="#{clientebean.buscar()}"
										update=":mainForm:idtablacliente" />
								</p:inputText></td>
							<td><p:inputText id="idtbxTelefono" label="Telefono"
									size="15" value="#{clientebean.filtroTelefono}">
									<p:ajax event="keyup" listener="#{clientebean.buscar()}"
										update=":mainForm:idtablacliente" />
								</p:inputText></td>
							<td><p:inputText id="idtbxOpciones" label="Opciones"
									size="15" value="#{clientebean.filtroOpciones}">
									<p:ajax event="keyup" listener="#{clientebean.buscar()}"
										update=":mainForm:idtablacliente" />
								</p:inputText></td>
							
						</tr>
					</table>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablacliente" var="row"
				value="#{clientebean.list}" selection="#{clientebean.selected}"
				selectionMode="single" emptyMessage="Ningun dato encontrado..."
				rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{clientebean.pagina} de #{clientebean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Clientes</div>
						<div class="div40 subtitle_table_right">Registros:
							#{clientebean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{clientebean.onRowSelect}" />

				<p:column headerText="Id" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>

				<p:column headerText="Nombre" width="20%">
					<h:outputText value="#{row.nombre}" />
				</p:column>

				<p:column headerText="Teléfono" width="10%">
					<h:outputText value="#{row.telefono}" />
				</p:column>

				<p:column headerText="Opciones" width="65%">
					<h:outputText value="#{row.opciones}" />
				</p:column>

				<f:facet name="footer">
					<p:commandLink actionListener="#{clientebean.firstpage()}"
						update=":mainForm:idtablacliente">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{clientebean.previouspage()}"
						update=":mainForm:idtablacliente">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{clientebean.nextpage()}"
						update=":mainForm:idtablacliente">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{clientebean.lastpage()}"
						update=":mainForm:idtablacliente">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

		<p:dialog id="dlgNuevoEditarId" widgetVar="dlgNuevoEditar"
			closeOnEscape="true" header="Nuevo/editar Cliente" modal="true"
			appendTo="@(body)" visible="#{clientebean.visibleNuevoEditar}"
			closable="true" resizable="false">
			<h:form id="mainFormClienteEdit">

				<ui:include src="Cliente_edit.xhtml" />

				<h:panelGrid id="pnlGrdControl" columns="4" cellspacing="4"
						cellpadding="0">

						<p:commandButton value="Guardar" icon="ui-icon-disk"
							style="width:100px;" actionListener="#{clientebean.guardar()}"
							update=":mainFormClienteEdit:pnlGrdData :mainForm" />

						<p:commandButton value="Nuevo" icon="ui-icon-document"
							style="width:100px;" actionListener="#{clientebean.nuevo()}"
							update=":mainFormClienteEdit:pnlGrdData :mainForm" />
							
					</h:panelGrid>

			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>