<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:panel id="ppanel" header="Información Cliente">
		<h:panelGrid id="pnlGrdData" columns="2" cellspacing="2"
			cellpadding="2">

			<p:outputLabel value="ID:" rendered="#{!clientebean.nuevo}" />
			<p:outputLabel value="#{clientebean.entidad.code}"
				rendered="#{!clientebean.nuevo}" />

			<p:outputLabel for="tbxNombre" value="Nombre:" />
			<p:inputText id="tbxNombre" label="Nombre" size="30"
				value="#{clientebean.entidad.nombre}" />

			<p:outputLabel for="tbxContactoTelefono" value="Contacto Teléfono:" />
			<p:inputMask id="tbxContactoTelefono" mask="999-99999"
				label="Contacto Teléfono" size="30" maxlength="8"
				value="#{clientebean.entidad.telefono}" />
			
			<p:outputLabel for="tbxOpciones" value="Opciones:" />			
			<p:inputText id="tbxOpciones" label="Opciones" size="30"
				value="#{clientebean.entidad.opciones}" />

		</h:panelGrid>
		
	</p:panel>

</ui:composition>