<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm">

			<div>
				<p:commandButton value="Nuevo"
					action="Venta.xhtml?faces-redirect=true" icon="ui-icon-disk"
					style="width:100px;" />
			</div>
			<h1>
				<center>Ventas</center>
			</h1>
			<p:accordionPanel>
				<p:tab title="Filtros">
					<h:panelGrid id="idFiltros" columns="10" cellspacing="5"
						cellpadding="0">

						<p:outputLabel for="idtbxCode" value="ID:" />
						<p:inputText id="idtbxCode" label="Code" size="15"
							value="#{ventalistbean.filtroCode}">
							<p:ajax event="keyup" listener="#{ventalistbean.buscar()}"
								update=":mainForm:idtablaventalist" />
						</p:inputText>

						<p:outputLabel for="idtbxComentario" value="Comentario:" />
						<p:inputText id="idtbxComentario" label="Comentario" size="15"
							value="#{ventalistbean.filtroComentario}">
							<p:ajax event="keyup" listener="#{ventalistbean.buscar()}"
								update=":mainForm:idtablaventalist" />
						</p:inputText>

						<p:outputLabel for="idtbxFecha" value="Fecha:" />
						<p:inputText id="idtbxFecha" label="Fecha" size="15"
							value="#{ventalistbean.filtroFecha}">
							<p:ajax event="keyup" listener="#{ventalistbean.buscar()}"
								update=":mainForm:idtablaventalist" />
						</p:inputText>

						<p:outputLabel for="idtbxCliente" value="Cliente:" />
						<p:inputText id="idtbxCliente" label="Cliente" size="15"
							value="#{ventalistbean.filtroCliente}">
							<p:ajax event="keyup" listener="#{ventalistbean.buscar()}"
								update=":mainForm:idtablaventalist" />
						</p:inputText>
						
						<p:outputLabel for="idtbxUsuario" value="Usuario:" />
						<p:inputText id="idtbxUsuario" label="Fecha" size="15"
							value="#{ventalistbean.filtroUsuario}">
							<p:ajax event="keyup" listener="#{ventalistbean.buscar()}"
								update=":mainForm:idtablaventalist" />
						</p:inputText>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablaventalist" var="row"
				value="#{ventalistbean.list}"
				selection="#{ventalistbean.selected}" selectionMode="single"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{ventalistbean.pagina} de #{ventalistbean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Ventas</div>
						<div class="div40 subtitle_table_right">Registros:
							#{ventalistbean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{ventalistbean.onRowSelect}" />

				<p:column headerText="ID" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>				

				<p:column headerText="Fecha" width="15%">
					<h:outputText value="#{row.fecha}" />
				</p:column>

				<p:column headerText="Cliente" width="20%">
					<h:outputText value="#{row.cliente.nombre}" />
				</p:column>

				<p:column headerText="Quinse" width="5%">
					<h:outputText value="#{row.quinse ? 'Si' : 'No' }" />
				</p:column>
				
				<p:column headerText="Boda" width="5%">
					<h:outputText value="#{row.boda ? 'Si' : 'No' }" />
				</p:column>				
				
				<p:column headerText="Vestir Novia" width="5%">
					<h:outputText value="#{row.vestirnovia ? 'Si' : 'No' }" />
				</p:column>
	
				<p:column headerText="Estado" width="10%">
					<h:outputText value="#{row.estado}" />
				</p:column>

				<p:column headerText="Usuario" width="10%">
					<h:outputText value="#{row.usuario.nombre}" />
				</p:column>

				<p:column headerText="Comentario" width="10%">
					<h:outputText value="#{row.comentario}" />
				</p:column>

				<p:column headerText="Total Bs" width="10%">
					<div align="right">
						<h:outputText value="#{row.totalbob}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</h:outputText>
					</div>
				</p:column>

				<p:column headerText="Total $" width="10%">
					<div align="right">
						<h:outputText value="#{row.totaldolar}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</h:outputText>
					</div>
				</p:column>
				
				<p:column headerText="Acción" width="5%">					
					<p:commandLink
						actionListener="#{ventalistbean.onVerVenta( row )}"
						action="VentaView.xhtml?faces-redirect=true">
						<h:graphicImage value="#{msj.img_delete}" />						
					</p:commandLink>
				</p:column>
	
				<f:facet name="footer">
					<p:commandLink actionListener="#{ventalistbean.firstpage()}"
						update=":mainForm:idtablaventalist">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{ventalistbean.previouspage()}"
						update=":mainForm:idtablaventalist">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{ventalistbean.nextpage()}"
						update=":mainForm:idtablaventalist">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{ventalistbean.lastpage()}"
						update=":mainForm:idtablaventalist">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>