<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm">
			
			<div>			
				<div class="div30">
					<p:commandButton value="Nuevo"
						action="Compra.xhtml?faces-redirect=true" icon="#{msj.icon_nuevo}"
						style="width:100px;"
						title="Nuevo Pedido" />
				</div>
				<div  class="div40">
					<div class="titulo">
						<h:graphicImage url="#{msj.img_compra}" style="margin-right: 2px;" />
						Compras
					</div>
				</div>
				<div class="div30"></div>
				<div class="footer"></div>
			</div>
			<br />
			<p:accordionPanel activeIndex="-1">
				<p:tab title="Filtros">
					<h:panelGrid id="idFiltros" columns="10" cellspacing="5"
						cellpadding="0">

						<p:outputLabel for="idtbxCode" value="ID:" />
						<p:inputText id="idtbxCode" label="Code" size="15"
							value="#{compralistbean.filtroCode}">
							<p:ajax event="keyup" listener="#{compralistbean.buscar()}"
								update=":mainForm:idtablacompralist" />
						</p:inputText>

						<p:outputLabel for="idtbxComentario" value="Comentario:" />
						<p:inputText id="idtbxComentario" label="Comentario" size="15"
							value="#{compralistbean.filtroComentario}">
							<p:ajax event="keyup" listener="#{compralistbean.buscar()}"
								update=":mainForm:idtablacompralist" />
						</p:inputText>

						<p:outputLabel for="idtbxFecha" value="Fecha:" />
						<p:inputText id="idtbxFecha" label="Fecha" size="15"
							value="#{compralistbean.filtroFecha}">
							<p:ajax event="keyup" listener="#{compralistbean.buscar()}"
								update=":mainForm:idtablacompralist" />
						</p:inputText>

						<p:outputLabel for="idtbxProveedor" value="Compra:" />
						<p:selectOneMenu id="idtbxProveedor"
							value="#{compralistbean.filtroProveedor}" style="width:200px">
							<p:ajax event="change" listener="#{compralistbean.buscar()}"
								update=":mainForm:idtablacompralist" />
							<f:selectItem itemLabel="Filtre por un proveedor"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{proveedorbean.list}" var="proveedor"
								itemLabel="#{proveedor.nombre}" itemValue="#{proveedor.code}" />
						</p:selectOneMenu>

						<p:outputLabel for="idtbxUsuario" value="Usuario:" />
						<p:inputText id="idtbxUsuario" label="Fecha" size="15"
							value="#{compralistbean.filtroUsuario}">
							<p:ajax event="keyup" listener="#{compralistbean.buscar()}"
								update=":mainForm:idtablacompralist" />
						</p:inputText>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablacompralist" var="row"
				value="#{compralistbean.list}"
				selection="#{compralistbean.selected}" selectionMode="single"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{compralistbean.pagina} de #{compralistbean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Compras</div>
						<div class="div40 subtitle_table_right">Registros:
							#{compralistbean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{compralistbean.onRowSelect}" />

				<p:column headerText="Acción" width="5%">
					<div align="center">					
						<p:commandLink
							actionListener="#{compralistbean.onVerCompra( row )}"
							action="CompraView.xhtml?faces-redirect=true">
							<h:graphicImage value="#{msj.img_view}"  />						
						</p:commandLink>
					</div>
				</p:column>

				<p:column headerText="ID" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>

				<p:column headerText="Fecha" width="15%">
					<h:outputText value="#{row.fecha}" />
				</p:column>

				<p:column headerText="Proveedor" width="20%">
					<h:outputText value="#{row.proveedor.nombre}" />
				</p:column>

				<p:column headerText="Usuario" width="10%">
					<h:outputText value="#{row.usuario.nombre}" />
				</p:column>

				<p:column headerText="Comentario" width="15%">
					<h:outputText value="#{row.comentario}" />
				</p:column>

				<p:column headerText="Pedido" width="15%">					
					<p:commandLink
						actionListener="#{compralistbean.OnVerPedido( row.pedido )}"
						action="PedidoView.xhtml?faces-redirect=true"
						rendered="#{row.pedido eq null ? false : true }"
						title="Ver Pedido #{row.pedido.code}">
						<h:graphicImage value="#{msj.img_pedido}" width="20" height="20" style="margin-right: 2px;" />
						<h:outputText value="#{row.pedido.code}" />							
					</p:commandLink>
				</p:column>

				<p:column headerText="Monto Total(Bs)" width="10%">
					<div align="right">
						<h:outputText value="#{row.total}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</h:outputText>
					</div>
				</p:column>

	
				<f:facet name="footer">
					<p:commandLink actionListener="#{compralistbean.firstpage()}"
						update=":mainForm:idtablacompralist">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{compralistbean.previouspage()}"
						update=":mainForm:idtablacompralist">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{compralistbean.nextpage()}"
						update=":mainForm:idtablacompralist">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{compralistbean.lastpage()}"
						update=":mainForm:idtablacompralist">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>				
					
				</f:facet>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>