<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm2">

			<div>
				<div class="div30">
				
					<p:confirmDialog global="true" appendTo="@(body)">
						<p:commandButton value="Si" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				
					<p:commandButton value="Cancelar"
						action="PedidoList.xhtml?faces-redirect=true" icon="#{msj.icon_cancelar}"
						style="width:100px;" />
					<p:commandButton value="Comprar" icon="#{msj.icon_guardar}"
						action="#{pcomprabean.comprarPedido()}"
						style="width:100px;">
						<p:confirm header="Confirmación" message="Favor confirmar" icon="ui-icon-alert" />
					</p:commandButton>
				</div>
				<div class="div40">
					<div class="titulo">Comprar Pedido</div>
				</div>
				<div class="div30" align="right">
					<p:outputLabel styleClass="tlabel" for="idtbxUsuario"
						value="Usuario:" />
					<p:outputLabel id="idtbxUsuario"
						value="#{pcomprabean.pedido.usuario.login}" />
				</div>
				<div class="footer"></div>
			</div>

			<br />

			<p:panel>
				<center>
					<h:panelGrid columns="6" cellpadding="2" cellspacing="10">

						<p:outputLabel styleClass="tlabel" for="idtbxAlmacen"
							value="Almacen:" />
						<p:outputLabel id="idtbxAlmacen"
							value="#{pcomprabean.pedido.almacen.nombre}" />

						<p:outputLabel styleClass="tlabel" for="idtbxProveedor"
							value="Proveedor:" />
						<p:outputLabel id="idtbxProveedor"
							value="#{pcomprabean.pedido.proveedor.nombre}" />

						<p:outputLabel styleClass="tlabel" for="idtbxComentario"
							value="Comentario:" />						
						<p:outputLabel id="idtbxComentario"
							value="#{pcomprabean.comentario}"/>

					</h:panelGrid>
				</center>
				<div align="right">
					<p:outputLabel styleClass="tlabel" value="Monto Total: " />
					<p:outputLabel id="tbxMontoTotal"
						value="#{pcomprabean.total}">
						<f:convertNumber pattern="#{msj.numero_formato}" />
					</p:outputLabel>

					<p:outputLabel value=" Bs" />

				</div>
			</p:panel>

			<p:dataTable id="idtablapedido" var="row"
				value="#{pcomprabean.detallepedidocompraList}"
				emptyMessage="Ningun dato encontrado..." rowIndexVar="rowIndex">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">
							<p:outputLabel styleClass="tlabel" value="Items: " />
							#{pcomprabean.detallepedidocompraList.size()}
						</div>
						<div class="div20 subtitle_table_center">
							<p:outputLabel styleClass="tlabel" value="Detalle" />
						</div>
						<div class="div40 subtitle_table_right">-</div>
						<div class="footer"></div>
					</div>
				</f:facet>
				
				<p:column headerText="Comprar?" width="10%">
					<div align="center">
					<p:selectBooleanCheckbox id="idSelecDetalle" value="#{row.selec}" />
					</div>					
				</p:column>
				
				<p:column headerText="Nro" width="5%">
					#{rowIndex + 1}
				</p:column>

				<p:column headerText="Catálogo" width="10%">
					<p:outputLabel id="idbpIdCatalogo"
						value="#{row.detallePedido.producto.baseproducto.code}" />
				</p:column>
				
				<p:column headerText="Id Producto" width="10%">
					<p:outputLabel id="idbpIdProducto"
						value="#{row.detallePedido.producto.code}" />
				</p:column>

				<p:column headerText="Código" width="10%">
					<p:outputLabel id="idbpCodigo"
						value="#{row.detallePedido.producto.baseproducto.codigo}" />
				</p:column>

				<p:column headerText="Prenda" width="10%">
					<p:outputLabel id="idbpPrenda"
						value="#{row.detallePedido.producto.baseproducto.prenda.nombre}" />
				</p:column>				

				<p:column headerText="Marca" width="10%">
					<p:outputLabel id="idbpMarca"
						value="#{row.detallePedido.producto.baseproducto.marca.nombre}" />
				</p:column>

				<p:column headerText="Estilo" width="10%">
					<p:outputLabel id="idbpEstilo"
						value="#{row.detallePedido.producto.baseproducto.estilo.nombre}" />
				</p:column>

				<p:column headerText="Precio Catálogo (Bs)" width="10%">
					<div align="right">
						<p:outputLabel id="idbpPrecio"
							value="#{row.detallePedido.producto.baseproducto.precio}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
					</div>
				</p:column>

				<p:column headerText="Nombre" width="10%">
					<p:outputLabel id="idbpnombre" value="#{row.detallePedido.producto.nombre}" />
				</p:column>

				<p:column headerText="Color" width="10%">
					<p:outputLabel id="idbpcolor" value="#{row.detallePedido.producto.color.nombre}" />
				</p:column>

				<p:column headerText="Talla" width="5%" >
					<div align="right">
					<p:outputLabel id="idbptalla" value="#{row.detallePedido.producto.talla.nombre}" />
					</div>
				</p:column>
				
				<p:column headerText="Estado" width="5%" >					
					<p:outputLabel id="idbpestado" value="#{row.detallePedido.producto.estado}" />					
				</p:column>
								
				<p:column headerText="Precio Compra (Bs)" width="10%" >
					<div align="right">												
						<p:inputText id="idbpPrecioPedido" value="#{row.costo}"
								required="true"
								requiredMessage="Campo precio item es requerido."
								converterMessage="Campo precio es decimal"
								size="10"
								style="text-align: right;">
								<p:ajax event="keyup"
									listener="#{pcomprabean.updateTotalDPC()}" 
									update=":mainForm2:tbxMontoTotal" />
								<f:convertNumber pattern="#{msj.numero_formato}" />
							</p:inputText>
					</div>
				</p:column>							

			</p:dataTable>
		</h:form>


	</ui:define>
</ui:composition>