<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm">
					
			<div class="borderHidden">
				<div class="div10">
					<p:commandButton value="Nuevo"
					action="Pedido.xhtml?faces-redirect=true" icon="#{msj.icon_nuevo}"
					style="width:100px;" />
				</div>
				<div class="div80">	
					<div class="titulo"><h:graphicImage url="#{msj.img_pedido}" style="margin-right: 2px;" />Pedidos</div>
				</div>
				<div class="div10">	
					
				</div>
				<div class="footer"></div>				
			</div>
			
			<br />
						
			<p:accordionPanel activeIndex="-1" >
				<p:tab title="Filtros" >
					<h:panelGrid id="idFiltros" columns="12" cellspacing="5"
						cellpadding="0">

						<p:outputLabel for="idtbxCode" value="ID:" />
						<p:inputText id="idtbxCode" label="Code" size="15"
							value="#{pedidolistbean.filtroCode}">
							<p:ajax event="keyup" listener="#{pedidolistbean.buscar()}"
								update=":mainForm:idtablapedidolist" />
						</p:inputText>

						<p:outputLabel for="idtbxComentario" value="Comentario:" />
						<p:inputText id="idtbxComentario" label="Comentario" size="15"
							value="#{pedidolistbean.filtroComentario}">
							<p:ajax event="keyup" listener="#{pedidolistbean.buscar()}"
								update=":mainForm:idtablapedidolist" />
						</p:inputText>

						<p:outputLabel for="idtbxFecha" value="Fecha:" />
						<p:inputText id="idtbxFecha" label="Fecha" size="15"
							value="#{pedidolistbean.filtroFecha}">
							<p:ajax event="keyup" listener="#{pedidolistbean.buscar()}"
								update=":mainForm:idtablapedidolist" />
						</p:inputText>

						<p:outputLabel for="idtbxAlmacen" value="Almacen:" />
						<p:selectOneMenu id="idtbxAlmacen"
							value="#{pedidolistbean.filtroAlmacen}" style="width:150px">
							<p:ajax event="change" listener="#{pedidolistbean.buscar()}"
								update=":mainForm:idtablapedidolist" />
							<f:selectItem itemLabel="Filtre por un almacen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{almacenbean.list}" var="almacen"
								itemLabel="#{almacen.nombre}" itemValue="#{almacen.code}" />
						</p:selectOneMenu>

						<p:outputLabel for="idtbxProveedor" value="Proveedor:" />
						<p:selectOneMenu id="idtbxProveedor"
							value="#{pedidolistbean.filtroProveedor}" style="width:150px">
							<p:ajax event="change" listener="#{pedidolistbean.buscar()}"
								update=":mainForm:idtablapedidolist" />
							<f:selectItem itemLabel="Filtre por un proveedor"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{proveedorbean.list}" var="proveedor"
								itemLabel="#{proveedor.nombre}" itemValue="#{proveedor.code}" />
						</p:selectOneMenu>

						<p:outputLabel for="idtbxUsuario" value="Usuario:" />
						<p:inputText id="idtbxUsuario" label="Fecha" size="15"
							value="#{pedidolistbean.filtroUsuario}">
							<p:ajax event="keyup" listener="#{pedidolistbean.buscar()}"
								update=":mainForm:idtablapedidolist" />
						</p:inputText>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablapedidolist" var="row"
				value="#{pedidolistbean.list}"
				selection="#{pedidolistbean.selected}" selectionMode="single"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{pedidolistbean.pagina} de #{pedidolistbean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Pedidos</div>
						<div class="div40 subtitle_table_right">Registros:
							#{pedidolistbean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{pedidolistbean.onRowSelect}" />

				<p:column headerText="Acción" width="5%">
					<div align="center">
						<p:commandLink
							actionListener="#{pedidolistbean.onVerPedido( row )}"
							action="PedidoView.xhtml?faces-redirect=true">
							<h:graphicImage value="#{msj.img_view}" title="Ver Pedido #{row.code}"  />						
						</p:commandLink>
						
						<p:commandLink
							actionListener="#{pedidolistbean.onComprar( row )}"
							action="PCompra.xhtml?faces-redirect=true"
							disabled="#{pedidolistbean.viewCompra( row.code )}">
							<h:graphicImage value="#{msj.img_compra_rojo}" title="Confirmar compra pedido #{row.code}" />
						</p:commandLink>
					</div>
				</p:column>

				<p:column headerText="ID" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>

				<p:column headerText="Fecha" width="15%">
					<h:outputText value="#{row.fecha}" />
				</p:column>

				<p:column headerText="Almacen" width="10%">
					<h:outputText value="#{row.almacen.nombre}" />
				</p:column>

				<p:column headerText="Proveedor" width="10%">
					<h:outputText value="#{row.proveedor.nombre}" />
				</p:column>

				<p:column headerText="Usuario" width="10%">
					<h:outputText value="#{row.usuario.nombre}" />
				</p:column>
	
				<p:column headerText="Comentario" width="20%">
					<h:outputText value="#{row.comentario}" />
				</p:column>
	
				<p:column headerText="Monto Total(Bs)" width="5%">
					<div align="right">
						<h:outputText value="#{row.total}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</h:outputText>
					</div>
				</p:column>

				
				<f:facet name="footer">
					<p:commandLink actionListener="#{pedidolistbean.firstpage()}"
						update=":mainForm:idtablapedidolist">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{pedidolistbean.previouspage()}"
						update=":mainForm:idtablapedidolist">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{pedidolistbean.nextpage()}"
						update=":mainForm:idtablapedidolist">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{pedidolistbean.lastpage()}"
						update=":mainForm:idtablapedidolist">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>