<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm2">

			<div>
				<div class="div30">
					<p:commandButton value="Ver Pedidos" 
						action="PedidoList.xhtml?faces-redirect=true" icon="ui-icon-disk"
						style="width:100px;" />
					<p:commandButton value="Exportar" icon="ui-icon-disk"
						style="width:100px;" />
					<p:commandButton value="Comprar" icon="ui-icon-disk"
						actionListener="#{pedidoviewbean.onComprar()}"
						action="PCompra.xhtml?faces-redirect=true"
						disabled="#{pedidoviewbean.viewCompra}"
						style="width:100px;" />

				</div>
				<div class="div40">
					<div class="titulo"><h:graphicImage url="#{msj.img_pedido}" style="margin-right: 2px;" />Pedido [#{pedidoviewbean.pedidoView.code}]</div>
				</div>
				<div class="div30" align="right">
					
					<h:graphicImage url="#{msj.img_usuario}" height="20" width="20" style="margin-right: 2px;" />
					<p:outputLabel id="idtbxUsuario"
						value="#{pedidoviewbean.pedidoView.usuario.login}" />
				
					<h:graphicImage url="#{msj.img_calendario}" height="20" width="20" style="margin:0 2px 0 4px;" />
					<p:outputLabel id="idtbxFecha"
						value="#{pedidoviewbean.pedidoView.fecha}" >
						<f:convertDateTime pattern="#{msj.fecha_ddMMyyyyhms}" />	
					</p:outputLabel>
				</div>
				<div class="footer"></div>
			</div>

			<br />

			<p:panel>
				<center>
					<h:panelGrid columns="6" cellpadding="2" cellspacing="2">

						<p:outputLabel styleClass="tlabel" for="idtbxAlmacen"
							value="Almacen:" />
						<p:outputLabel id="idtbxAlmacen"
							value="#{pedidoviewbean.pedidoView.almacen.nombre}" />

						<p:outputLabel styleClass="tlabel" for="idtbxProveedor"
							value="Proveedor:" />
						<p:outputLabel id="idtbxProveedor"
							value="#{pedidoviewbean.pedidoView.proveedor.nombre}" />

						<p:outputLabel styleClass="tlabel" for="idtbxComentario"
							value="Comentario:" />
						<p:inputTextarea id="idtbxComentario" cols="50"
							value="#{pedidoviewbean.pedidoView.comentario}" disabled="true" />

					</h:panelGrid>
				</center>
				<div>
					<div class="div50">
						<h:graphicImage url="#{msj.img_compra_verde}" height="15" width="15" style="margin-right: 2px;" />
						Producto pendiente de compra
						<h:graphicImage url="#{msj.img_compra_rojo }" height="15" width="15" style="margin-right: 2px;" />
						Producto comprado
					</div>
					<div class="div50">
						<div align="right">
							<p:outputLabel styleClass="tlabel" value="Total: " />
							<p:outputLabel id="tbxMontoTotal"
								value="#{pedidoviewbean.pedidoView.total}">
								<f:convertNumber pattern="#{msj.numero_formato}" />
							</p:outputLabel>
							<p:outputLabel value=" Bs" />
						</div>	
					</div>
					<div class="footer"></div>
				</div>
				
			</p:panel>

			<p:dataTable id="idtablapedido" var="row"
				value="#{pedidoviewbean.detallepedidoList}"
				emptyMessage="Ningun dato encontrado..." rowIndexVar="rowIndex">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">
							<p:outputLabel styleClass="tlabel" value="Items: " />
							#{pedidoviewbean.detallepedidoList.size()}
						</div>
						<div class="div20 subtitle_table_center">
							<p:outputLabel styleClass="tlabel" value="Detalle" />
						</div>
						<div class="div40 subtitle_table_right">-</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:column headerText="Nro" width="5%">
					#{rowIndex + 1}
				</p:column>

				<p:column headerText="Id Catálogo" width="10%">
					<p:outputLabel id="idbpId"
						value="#{row.producto.baseproducto.code}" />
				</p:column>
				
				<p:column headerText="Id Producto" width="10%">
					<h:graphicImage url="#{pedidoviewbean.viewItem(row.code) ? msj.img_compra_verde : msj.img_compra_rojo }" height="15" width="15" style="margin-right: 2px;" />					
					<p:outputLabel id="idbpid" value="#{row.producto.code}" />
				</p:column>

				<p:column headerText="Código" width="10%">
					<p:outputLabel id="idbpCodigo"
						value="#{row.producto.baseproducto.codigo}" />
				</p:column>

				<p:column headerText="Prenda" width="10%">
					<p:outputLabel id="idbpPrenda"
						value="#{row.producto.baseproducto.prenda.nombre}" />
				</p:column>

				<p:column headerText="Estilo" width="10%">
					<p:outputLabel id="idbpEstilo"
 						value="#{row.producto.baseproducto.estilo.nombre}" />
				</p:column>

				<p:column headerText="Marca" width="10%">
					<p:outputLabel id="idbpMarca"
						value="#{row.producto.baseproducto.marca.nombre}" />
				</p:column>

				<p:column headerText="Precio Catálogo (Bs)" width="10%">
					<div align="right" >
						<p:outputLabel id="idbpPrecio"
							value="#{row.producto.baseproducto.precio}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
					</div>
				</p:column>			
			
				<p:column headerText="Nombre" width="10%">
					<p:outputLabel id="idbpnombre" value="#{row.producto.nombre}" />
				</p:column>

				<p:column headerText="Color" width="10%">
					<p:outputLabel id="idbpcolor" value="#{row.producto.color.nombre}" />
				</p:column>

				<p:column headerText="Talla" width="5%">
					<p:outputLabel id="idbptalla" value="#{row.producto.talla.nombre}" />
				</p:column>
				
				<p:column headerText="Estado" width="5%">
					<p:outputLabel id="idbpestado" value="#{row.producto.estado}" />
				</p:column>

				<p:column headerText="Precio Pedido(Bs)" width="10%">
					<div align="right">
						<p:outputLabel id="idbpPrecioIngreso" value="#{row.costo}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
					</div>
				</p:column>

			</p:dataTable>
		</h:form>


	</ui:define>
</ui:composition>