<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm">
			
			<div>
				<div class="div40">
					<p:commandButton value="Nuevo" icon="ui-icon-document"
						style="width:90px;"
						actionListener="#{proveedorbean.nuevaEntidad()}"
						update=":dlgNuevoEditarId :mainFormProveedorEdit" />
		
					<p:commandButton value="Editar" icon="ui-icon-pencil"
						style="width:90px;" actionListener="#{proveedorbean.editar()}"
						update=":dlgNuevoEditarId :mainFormProveedorEdit" />
		
					<p:commandButton value="Eliminar" icon="ui-icon-trash"
						style="width:90px;" actionListener="#{proveedorbean.eliminar()}"
						update=":mainFormProveedorEdit">
						<p:confirm header="Confirmación"
							message="¿Esta seguro que desea eliminar este registro?"
							icon="ui-icon-alert" />
					</p:commandButton>					
				</div>
				<div class="div20">
					<div class="titulo">Proveedor</div>
				</div>
				<div class="div40"></div>
				<div class="footer"></div>
			</div>
			
			<br />
			
			<p:confirmDialog global="true" appendTo="@(body)">
				<p:commandButton value="Si" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

			<p:accordionPanel activeIndex="-1">
				<p:tab title="Filtros">
					<table>
						<tr>
							<td>Id</td>
							<td>Código</td>
							<td>Nombre</td>
							<td>Dirección</td>
							<td>Contacto</td>
							<td>Teléfono/Teléfono Contacto</td>
						</tr>
						<tr>
							<td><p:inputText id="idtbxCode" label="Code" size="15"
									value="#{proveedorbean.filtroCode}">
									<p:ajax event="keyup" listener="#{proveedorbean.buscar()}"
										update=":mainForm:idtablaproveedor" />
								</p:inputText></td>
							<td><p:inputText id="idtbxCodigo" label="Codigo" size="15"
									value="#{proveedorbean.filtroCodigo}">
									<p:ajax event="keyup" listener="#{proveedorbean.buscar()}"
										update=":mainForm:idtablaproveedor" />
								</p:inputText></td>
							<td><p:inputText id="idtbxNombre" label="Nombre" size="15"
									value="#{proveedorbean.filtroNombre}">
									<p:ajax event="keyup" listener="#{proveedorbean.buscar()}"
										update=":mainForm:idtablaproveedor" />
								</p:inputText></td>
							<td><p:inputText id="idtbxDireccion" label="Direccion"
									size="15" value="#{proveedorbean.filtroDireccion}">
									<p:ajax event="keyup" listener="#{proveedorbean.buscar()}"
										update=":mainForm:idtablaproveedor" />
								</p:inputText></td>
							<td><p:inputText id="idtbxContacto" label="Contacto"
									size="15" value="#{proveedorbean.filtroContacto}">
									<p:ajax event="keyup" listener="#{proveedorbean.buscar()}"
										update=":mainForm:idtablaproveedor" />
								</p:inputText></td>
							<td><p:inputText id="idtbxTelefono" label="Telefono"
									size="15" value="#{proveedorbean.filtroTelefono}">
									<p:ajax event="keyup" listener="#{proveedorbean.buscar()}"
										update=":mainForm:idtablaproveedor" />
								</p:inputText></td>

						</tr>
					</table>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablaproveedor" var="row"
				value="#{proveedorbean.list}" selection="#{proveedorbean.selected}"
				selectionMode="single" emptyMessage="Ningun dato encontrado..."
				rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{proveedorbean.pagina} de #{proveedorbean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Proveedores</div>
						<div class="div40 subtitle_table_right">Registros:
							#{proveedorbean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{proveedorbean.onRowSelect}" />

				<p:column headerText="Id" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>

				<p:column headerText="Código" width="15%">
					<h:outputText value="#{row.codigo}" />
				</p:column>

				<p:column headerText="Nombre" width="15%">
					<h:outputText value="#{row.nombre}" />
				</p:column>

				<p:column headerText="Dirección" width="15%">
					<h:outputText value="#{row.direccion}" />
				</p:column>

				<p:column headerText="Contacto" width="15%">
					<h:outputText value="#{row.contacto}" />
				</p:column>

				<p:column headerText="Email Contacto" width="10%">
					<h:outputText value="#{row.contactoEmail}" />
				</p:column>

				<p:column headerText="Teléfono Contacto" width="5%">
					<h:outputText value="#{row.contactoTelefono}" />
				</p:column>

				<p:column headerText="Sitio" width="15%">
					<h:outputText value="#{row.sitio}" />
				</p:column>

				<p:column headerText="Teléfono" width="5%">
					<h:outputText value="#{row.telefono}" />
				</p:column>

				<f:facet name="footer">
					<p:commandLink actionListener="#{proveedorbean.firstpage()}"
						update=":mainForm:idtablaproveedor">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{proveedorbean.previouspage()}"
						update=":mainForm:idtablaproveedor">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{proveedorbean.nextpage()}"
						update=":mainForm:idtablaproveedor">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{proveedorbean.lastpage()}"
						update=":mainForm:idtablaproveedor">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

		<p:dialog id="dlgNuevoEditarId" widgetVar="dlgNuevoEditar"
			closeOnEscape="true" header="Nuevo/editar Proveedor" modal="true"
			appendTo="@(body)" visible="#{proveedorbean.visibleNuevoEditar}"
			closable="true" resizable="false">
			<h:form id="mainFormProveedorEdit">

				<ui:include src="Proveedor_edit.xhtml" />

				<h:panelGrid id="pnlGrdControl" columns="4" cellspacing="4"
						cellpadding="0">

						<p:commandButton value="Guardar" icon="ui-icon-disk"
							style="width:100px;" actionListener="#{proveedorbean.guardar()}"
							update=":mainFormProveedorEdit:pnlGrdData :mainForm" />

						<p:commandButton value="Nuevo" icon="ui-icon-document"
							style="width:100px;" actionListener="#{proveedorbean.nuevo()}"
							update=":mainFormProveedorEdit:pnlGrdData :mainForm" />
							
					</h:panelGrid>

			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>