<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:panel id="ppanel" header="Información Proveedor">
		<h:panelGrid id="pnlGrdData" columns="2" cellspacing="2"
			cellpadding="2">

			<p:outputLabel value="ID:" rendered="#{!proveedorbean.nuevo}" />
			<p:outputLabel value="#{proveedorbean.entidad.code}"
				rendered="#{!proveedorbean.nuevo}" />

			<p:outputLabel for="tbxCodigo" value="Código:" />
			<p:inputText id="tbxCodigo" label="Codigo" size="30"
				value="#{proveedorbean.entidad.codigo}" />

			<p:outputLabel for="tbxNombre" value="Nombre:" />
			<p:inputText id="tbxNombre" label="Nombre" size="30"
				value="#{proveedorbean.entidad.nombre}" />

			<p:outputLabel for="tbxContacto" value="Contacto:" />
			<p:inputText id="tbxContacto" label="Contacto" size="30"
				value="#{proveedorbean.entidad.contacto}" />

			<p:outputLabel for="tbxDireccion" value="Dirección:" />
			<p:inputText id="tbxDireccion" label="Direccion" size="30"
				value="#{proveedorbean.entidad.direccion}" />

			<p:outputLabel for="tbxContactoEmail" value="Contacto Email:" />
			<p:inputText id="tbxContactoEmail" label="Contacto Email" size="30"
				value="#{proveedorbean.entidad.contactoEmail}" />

			<p:outputLabel for="tbxContactoTelefono" value="Contacto Teléfono:" />
			<p:inputMask id="tbxContactoTelefono" mask="999-99999"
				label="Contacto Teléfono" size="30" maxlength="8"
				value="#{proveedorbean.entidad.contactoTelefono}" />

			<p:outputLabel for="tbxSitio" value="Sitio:" />
			<p:inputText id="tbxSitio" label="Sitio" size="30"
				value="#{proveedorbean.entidad.sitio}" />

			<p:outputLabel for="tbxTelefono" value="Telefono:" />
			<p:inputMask id="tbxTelefono" mask="999-99999" label="Telefono"
				size="30" maxlength="8" value="#{proveedorbean.entidad.telefono}" />

		</h:panelGrid>
		
	</p:panel>

</ui:composition>