<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm2">

			<div>
				<div class="div30">
					<p:commandButton value="Ver Recepciones"
						action="RecepcionList.xhtml?faces-redirect=true" icon="ui-icon-disk"
						style="width:170px;" />
					<p:commandButton value="Exportar" icon="ui-icon-disk"
						style="width:100px;" />

				</div>
				<div class="div40">
					<div class="titulo"><h:graphicImage url="#{msj.img_recepcion}" style="margin-right: 2px;" />Recepciones - #{recepcionviewbean.recepcionView.code}</div>
				</div>
				<div class="div30" align="right">
					<h:graphicImage url="#{msj.img_usuario}" height="20" width="20" style="margin-right: 2px;" />
					<p:outputLabel id="idtbxUsuario" value="#{recepcionviewbean.recepcionView.usuario.login}" />
				

					<h:graphicImage url="#{msj.img_calendario}" height="20" width="20" style="margin:0 2px 0 4px;" />
					<p:outputLabel id="idtbxFecha" value="#{recepcionviewbean.recepcionView.fecha}" />
				</div>
				<div class="footer"></div>
			</div>
			<br />			

			<p:panel>
				<center>
					<h:panelGrid columns="6" cellpadding="2" cellspacing="2">
						
						<p:outputLabel styleClass="tlabel" for="idtbxTransito" value="Transito:" />
						<p:outputLabel id="idtbxTransito" value="#{recepcionviewbean.recepcionView.transito.code}"  />
						
						<p:outputLabel styleClass="tlabel" for="idtbxTraspaso" value="Traspaso:" />
						<p:outputLabel id="idtbxTraspaso" value="#{recepcionviewbean.recepcionView.traspaso.code}"  />
						
						<p:outputLabel styleClass="tlabel" for="idtbxComentario" value="Comentario:" />
						<p:inputTextarea id="idtbxComentario" value="#{recepcionviewbean.recepcionView.comentario}" disabled="true" />
						
						<p:outputLabel styleClass="tlabel" for="idtbxAlmacenOrigen" value="Almacen Origen:" />
						<p:outputLabel id="idtbxAlmacenOrigen" value="#{recepcionviewbean.recepcionView.traspaso.egreso.almacen.nombre}"  />
						
						<p:outputLabel styleClass="tlabel" for="idtbxAlmacenDestino" value="Almacen Destino:" />
						<p:outputLabel id="idtbxAlmacenDestino" value="#{recepcionviewbean.recepcionView.traspaso.ingreso.almacen.nombre}"  />						
					</h:panelGrid>
				</center>
				<div align="right">
					<p:outputLabel styleClass="tlabel" value="Monto Total: " />
					<p:outputLabel id="tbxMontoTotal"
						value="#{recepcionviewbean.recepcionView.total}">
						<f:convertNumber pattern="#{msj.numero_formato}" />
					</p:outputLabel>

				</div>
			</p:panel>

			<p:dataTable id="idtablaingreso" var="row"
				value="#{recepcionviewbean.detallerecepcionList}"
				emptyMessage="Ningun dato encontrado..." rowIndexVar="rowIndex">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">
							<p:outputLabel styleClass="tlabel" value="Items: " />
							#{recepcionviewbean.detallerecepcionList.size()}
						</div>
						<div class="div20 subtitle_table_center">
							<p:outputLabel styleClass="tlabel" value="Detalle" />
						</div>
						<div class="div40 subtitle_table_right">-</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:column headerText="Id Catálogo" width="10%">
					<p:outputLabel id="idbpCatalogo"
						value="#{row.detalletransito.detalleingreso.producto.baseproducto.code}" />
				</p:column>
				
				<p:column headerText="Id Producto" width="10%">
					<p:outputLabel id="idbpProducto"
						value="#{row.detalletransito.detalleingreso.producto.code}" />
				</p:column>
				
				<p:column headerText="Codigo" width="10%">
					<p:outputLabel id="idbpCodigo"
						value="#{row.detalletransito.detalleingreso.producto.baseproducto.codigo}" />
				</p:column>

				<p:column headerText="Prenda" width="10%">
					<p:outputLabel id="idbpPrenda"
						value="#{row.detalletransito.detalleingreso.producto.baseproducto.prenda.nombre}" />
				</p:column>

				<p:column headerText="Estilo" width="10%">
					<p:outputLabel id="idbpEstilo"
						value="#{row.detalletransito.detalleingreso.producto.baseproducto.estilo.nombre}" />
				</p:column>

				<p:column headerText="Marca" width="10%">
					<p:outputLabel id="idbpMarca"
						value="#{row.detalletransito.detalleingreso.producto.baseproducto.marca.nombre}" />
				</p:column>

				<p:column headerText="Nombre" width="5%">
					<p:outputLabel id="idbpnombre" value="#{row.detalletransito.detalleingreso.producto.nombre}" />
				</p:column>

				<p:column headerText="Talla" width="5%">
					<p:outputLabel id="idbptalla" value="#{row.detalletransito.detalleingreso.producto.talla.nombre}" />
				</p:column>

				<p:column headerText="Color" width="10%">
					<p:outputLabel id="idbpcolor" value="#{row.detalletransito.detalleingreso.producto.color.nombre}" />
				</p:column>

				<p:column headerText="Precio Catálogo" width="10%">
					<div align="right">
						<p:outputLabel id="idbpPrecioCatalogo" value="#{row.detalletransito.detalleingreso.producto.baseproducto.precio}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
					</div>
				</p:column>

			</p:dataTable>
		</h:form>


	</ui:define>
</ui:composition>