<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm2">

			<div>
				<div class="div30">
					<p:confirmDialog global="true" appendTo="@(body)">
						<p:commandButton value="Si" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>

					<p:commandButton value="Cancelar"
						action="RecepcionList.xhtml?faces-redirect=true"
						icon="ui-icon-disk" style="width:100px;" />

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						action="#{recepcionbean.save()}" style="width:100px;">
						<p:confirm header="Confirmación" message="Favor confirmar"
							icon="ui-icon-alert" />
					</p:commandButton>
					
				</div>
				<div class="div40">
					<div class="titulo"><h:graphicImage url="#{msj.img_recepcion}" style="margin-right: 2px;" />Recepción</div>
				</div>
				<div class="div30" align="right">
					<h:graphicImage url="#{msj.img_usuario}" height="20" width="20" style="margin-right: 2px;" />
					<p:outputLabel id="idtbxUsuario" value="#{recepcionbean.usuario}" />

				</div>
				<div class="footer"></div>
			</div>
			<br />

			<p:panel>
				<center>
					<h:panelGrid columns="4" cellpadding="2" cellspacing="2">
					
						<p:outputLabel styleClass="tlabel" for="idtbxAlmacen"
							value="Almacen Destino:" />
						<p:selectOneMenu id="idtbxAlmacen"
							value="#{recepcionbean.codeAlmacen}" style="width:150px">
							<f:selectItem itemLabel="Seleccione un almacen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{almacenbean.list}" var="almacen"
								itemLabel="#{almacen.nombre}" itemValue="#{almacen.code}" />
						</p:selectOneMenu>
					
						<p:outputLabel styleClass="tlabel" for="idtbxComentario"
							value="Comentario:" />
						<p:inputTextarea id="idtbxComentario" cols="50"
							value="#{recepcionbean.comentario}" />
					</h:panelGrid>
				</center>
			</p:panel>

			<p:separator />

			<div>
				<div class="div60">

					<p:outputLabel value="Ingrese el codigo de la Recepcion: TRAN" />
					<p:inputText id="idtbxCode" label="Code"
						size="#{msj.caja_filtro_width}"
						value="#{recepcionbean.filtroBusqueda}">
						<p:ajax event="keyup" listener="#{recepcionbean.buscar()}"
							update=":mainForm2:idtabladetallerecepcion :mainForm2:tbxTotal :mainForm2:idTransitoSelect :mainForm2:idTransitoSelectIcon :mainForm2:idTransitoAlmacenSelect" />
					</p:inputText>					
										
					<h:graphicImage id="idTransitoSelectIcon" url="#{msj.img_transito_rojo}" height="15" width="15" style="margin:0 2px 0 10px;" />					
					<p:outputLabel  id="idTransitoSelect" value="#{recepcionbean.transito.code}" />					
					<h:graphicImage url="#{msj.img_store_rojo}" height="15" width="15" style="margin:0 2px 0 10px" />					
					<p:outputLabel id="idTransitoAlmacenSelect" value="#{recepcionbean.transito.compra.pedido.almacen.nombre}" />

				</div>
				<div class="div40">
					<div align="right">
						<p:outputLabel styleClass="tlabel" value="Total: " />
						<p:outputLabel id="tbxTotal" value="#{recepcionbean.total}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
						<p:outputLabel value=" Bs" />
					</div>
				</div>
				<div class="footer"></div>
			</div>

			<p:separator />

			<p:dataTable id="idtabladetallerecepcion" var="row"
				value="#{recepcionbean.list}"
				emptyMessage="Ningun dato encontrado..." rowIndexVar="rowIndex">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">
							<p:outputLabel styleClass="tlabel" value="Items: " />
							#{recepcionbean.list.size()}
						</div>
						<div class="div20 subtitle_table_center">
							<p:outputLabel styleClass="tlabel" value="Detalle" />
						</div>
						<div class="div40 subtitle_table_right">-</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:column headerText="Acción" width="3%">
					<div align="center">
						<p:selectBooleanCheckbox value="#{row.recibir}" disabled="#{row.recibido}">
							<p:ajax event="change" update=":mainForm2:tbxTotal" listener="#{recepcionbean.onUpdateTotal()}" />
						</p:selectBooleanCheckbox>
					</div>
				</p:column>

				<p:column headerText="Id Catálogo" width="10%">
					<p:outputLabel
						value="#{row.detalleTransito.detalleingreso.producto.baseproducto.code}" />
				</p:column>
				
				<p:column headerText="Id Producto" width="10%">
					<h:graphicImage url="#{row.recibido ? msj.img_recepcion_rojo : msj.img_transito_rojo }" height="15" width="15" style="margin-right: 2px;" />
					<p:outputLabel value="#{row.detalleTransito.detalleingreso.producto.code}" />
				</p:column>

				<p:column headerText="Código" width="5%">
					<p:outputLabel
						value="#{row.detalleTransito.detalleingreso.producto.baseproducto.codigo}" />
				</p:column>

				<p:column headerText="Prenda" width="10%">
					<p:outputLabel
						value="#{row.detalleTransito.detalleingreso.producto.baseproducto.prenda.nombre}" />
				</p:column>

				<p:column headerText="Estilo" width="15%">
					<p:outputLabel
						value="#{row.detalleTransito.detalleingreso.producto.baseproducto.estilo.nombre}" />
				</p:column>

				<p:column headerText="Marca" width="10%">
					<p:outputLabel
						value="#{row.detalleTransito.detalleingreso.producto.baseproducto.marca.nombre}" />
				</p:column>

				<p:column headerText="Nombre" width="5%">
					<p:outputLabel value="#{row.detalleTransito.detalleingreso.producto.nombre}" />
				</p:column>

				<p:column headerText="Talla" width="5%">
					<p:outputLabel value="#{row.detalleTransito.detalleingreso.producto.talla.nombre}" />
				</p:column>

				<p:column headerText="Color" width="10%">
					<p:outputLabel value="#{row.detalleTransito.detalleingreso.producto.color.nombre}" />
				</p:column>

				<p:column headerText="Precio Compra" width="5%">
					<div align="right">
						<p:outputLabel id="idbpPrecioIngreso"
							value="#{row.detalleTransito.detalleingreso.precio}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
					</div>
				</p:column>

				<p:column headerText="Precio Catálogo" width="5%">
					<div align="right">
						<p:outputLabel id="idbpPrecioCatalogo"
							value="#{row.detalleTransito.detalleingreso.producto.baseproducto.precio}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
					</div>
				</p:column>
				
				<p:column headerText="Precio (Bs)" width="10%">
					<div align="right">
						<h:graphicImage title="Nota: Este precio será el precio del catálogo para la venta!!!" 
									url="#{msj.img_info_rojo}" style="padding:0px 5px 0px 0px;" />
						<p:inputText id="idprprecio" value="#{row.costoCatalogo}"
							required="true" disabled="#{row.recibido}"
							requiredMessage="Campo precio item es requerido."
							converterMessage="Campo precio es decimal"
							style="text-align: right;" size="8">
							<p:ajax event="keyup"
								listener="#{recepcionbean.onUpdateTotal()}"
								update=":mainForm2:tbxTotal" />
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:inputText>
					</div>
				</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>