<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm">

			<div>
				<div class="div30">
					<p:commandButton value="Nuevo"
						action="Recepcion.xhtml?faces-redirect=true" icon="#{msj.icon_nuevo}"
						style="width:100px;" />
				</div>
				<div class="div40">
					<div class="titulo"><h:graphicImage url="#{msj.img_recepcion}" style="margin-right: 2px;" />Recepciones</div>
				</div>
				<div class="div30">
				</div>
				<div class="footer"></div>				
			</div>
			<br />

			<p:accordionPanel activeIndex="-1">
				<p:tab title="Filtros">
					<h:panelGrid id="idFiltros" columns="10" cellspacing="5"
						cellpadding="0">

						<p:outputLabel for="idtbxCode" value="ID:" />
						<p:inputText id="idtbxCode" label="Code" size="15"
							value="#{recepcionlistbean.filtroCode}">
							<p:ajax event="keyup" listener="#{recepcionlistbean.buscar()}"
								update=":mainForm:idtablarecepcionlist" />
						</p:inputText>

						<p:outputLabel for="idtbxComentario" value="Comentario:" />
						<p:inputText id="idtbxComentario" label="Comentario" size="15"
							value="#{recepcionlistbean.filtroComentario}">
							<p:ajax event="keyup" listener="#{recepcionlistbean.buscar()}"
								update=":mainForm:idtablarecepcionlist" />
						</p:inputText>

						<p:outputLabel for="idtbxFecha" value="Fecha:" />
						<p:inputText id="idtbxFecha" label="Fecha" size="15"
							value="#{recepcionlistbean.filtroFecha}">
							<p:ajax event="keyup" listener="#{recepcionlistbean.buscar()}"
								update=":mainForm:idtablarecepcionlist" />
						</p:inputText>

						<p:outputLabel for="idtbxRecepcion" value="Recepción:" />
						<p:inputText id="idtbxRecepcion" label="Recepcion" size="15"
							value="#{recepcionlistbean.filtroRecepcion}">
							<p:ajax event="keyup" listener="#{recepcionlistbean.buscar()}"
								update=":mainForm:idtablarecepcionlist" />
						</p:inputText>						

						<p:outputLabel for="idtbxUsuario" value="Usuario:" />
						<p:inputText id="idtbxUsuario" label="Fecha" size="15"
							value="#{recepcionlistbean.filtroUsuario}">
							<p:ajax event="keyup" listener="#{recepcionlistbean.buscar()}"
								update=":mainForm:idtablarecepcionlist" />
						</p:inputText>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablarecepcionlist" var="row"
				value="#{recepcionlistbean.list}"
				selection="#{recepcionlistbean.selected}" selectionMode="single"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{recepcionlistbean.pagina} de #{recepcionlistbean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Recepcions</div>
						<div class="div40 subtitle_table_right">Registros:
							#{recepcionlistbean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{recepcionlistbean.onRowSelect}" />
				
				<p:column headerText="Acción" width="5%">
					<div align="center">					
						<p:commandLink
							actionListener="#{recepcionlistbean.onVerRecepcion( row )}"
							action="RecepcionView.xhtml?faces-redirect=true">						
							<h:graphicImage alt="Ver recepción" url="#{msj.img_view}"  />						
						</p:commandLink>
					</div>	
				</p:column>
				
				<p:column headerText="ID" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>				

				<p:column headerText="Fecha" width="15%">
					<h:outputText value="#{row.fecha}" />
				</p:column>

				<p:column headerText="Transito" width="10%">
					<h:outputText value="#{row.transito.code}" />
				</p:column>
				
				<p:column headerText="Traspaso" width="10%">
					<h:outputText value="#{row.traspaso.code}" />
				</p:column>
				
				<p:column headerText="Egreso" width="10%">
					<h:outputText value="#{row.traspaso.egreso.code}" />
				</p:column>
				
				<p:column headerText="Ingreso" width="10%">
					<h:outputText value="#{row.traspaso.ingreso.code}" />
				</p:column>

				<p:column headerText="Usuario" width="10%">
					<h:outputText value="#{row.usuario.nombre}" />
				</p:column>			
				
				<p:column headerText="Comentario" width="15%">
					<h:outputText value="#{row.comentario}" />
				</p:column>
				
				<p:column headerText="Total (Bs)" width="10%">
					<div align="right">
						<h:outputText value="#{row.total}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</h:outputText>
					</div>
				</p:column>				
	
				<f:facet name="footer">
					<p:commandLink actionListener="#{recepcionlistbean.firstpage()}"
						update=":mainForm:idtablarecepcionlist">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{recepcionlistbean.previouspage()}"
						update=":mainForm:idtablarecepcionlist">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{recepcionlistbean.nextpage()}"
						update=":mainForm:idtablarecepcionlist">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{recepcionlistbean.lastpage()}"
						update=":mainForm:idtablarecepcionlist">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>