<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div>

		<p:outputLabel value="Ingrese el codigo de la compra: COM" />
		<p:inputText id="idtbxCode" label="Code"
			size="#{msj.caja_filtro_width}"
			value="#{recepcionselectdetalleingresobean.filtroCompra}">
			<p:ajax event="keyup" listener="#{recepcionselectdetalleingresobean.buscar()}"
				update=":FormSeleccProducto:idtabladetalleingresoselected" />
		</p:inputText>
		
		<p:accordionPanel>
			<p:tab title="Filtros">
				<table>
					<tr>
						<td>Id</td>
						<td>Catálogo</td>
						<td>Prenda</td>
						<td>Estilo</td>
						<td>Marca</td>
						<td>Talla</td>
						<td>Color</td>
						<td>Nombre</td>
						<td>Estado</td>
					</tr>
					<tr>
						<td><p:inputText id="idtbxCode" label="Code"
								size="#{msj.caja_filtro_width}"
								value="#{recepcionselectdetalleingresobean.filtroCode}">
								<p:ajax event="keyup"
									listener="#{recepcionselectdetalleingresobean.buscar()}"
									update=":FormSeleccProducto:idtabladetalleingresoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxCatalogo" label="Catálogo"
								size="#{msj.caja_filtro_width}"
								value="#{recepcionselectdetalleingresobean.filtroCatalogo}">
								<p:ajax event="keyup"
									listener="#{recepcionselectdetalleingresobean.buscar()}"
									update=":FormSeleccProducto:idtabladetalleingresoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxPrenda" label="Prenda"
								size="#{msj.caja_filtro_width}"
								value="#{recepcionselectdetalleingresobean.filtroPrenda}">
								<p:ajax event="keyup"
									listener="#{recepcionselectdetalleingresobean.buscar()}"
									update=":FormSeleccProducto:idtabladetalleingresoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxEstilo" label="Estilo"
								size="#{msj.caja_filtro_width}"
								value="#{recepcionselectdetalleingresobean.filtroEstilo}">
								<p:ajax event="keyup"
									listener="#{recepcionselectdetalleingresobean.buscar()}"
									update=":FormSeleccProducto:idtabladetalleingresoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxMarca" label="Marca"
								size="#{msj.caja_filtro_width}"
								value="#{recepcionselectdetalleingresobean.filtroMarca}">
								<p:ajax event="keyup"
									listener="#{recepcionselectdetalleingresobean.buscar()}"
									update=":FormSeleccProducto:idtabladetalleingresoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxTalla" label="Talla"
								size="#{msj.caja_filtro_width}"
								value="#{recepcionselectdetalleingresobean.filtroTalla}">
								<p:ajax event="keyup"
									listener="#{recepcionselectdetalleingresobean.buscar()}"
									update=":FormSeleccProducto:idtabladetalleingresoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxColor" label="Color"
								size="#{msj.caja_filtro_width}"
								value="#{recepcionselectdetalleingresobean.filtroColor}">
								<p:ajax event="keyup"
									listener="#{recepcionselectdetalleingresobean.buscar()}"
									update=":FormSeleccProducto:idtabladetalleingresoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxNombre" label="Nombre"
								size="#{msj.caja_filtro_width}"
								value="#{recepcionselectdetalleingresobean.filtroNombre}">
								<p:ajax event="keyup"
									listener="#{recepcionselectdetalleingresobean.buscar()}"
									update=":FormSeleccProducto:idtabladetalleingresoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxEstado" label="Estado"
								size="#{msj.caja_filtro_width}"
								value="#{recepcionselectdetalleingresobean.filtroEstado}">
								<p:ajax event="keyup"
									listener="#{recepcionselectdetalleingresobean.buscar()}"
									update=":FormSeleccProducto:idtabladetalleingresoselected" />
							</p:inputText></td>

					</tr>
				</table>
			</p:tab>
		</p:accordionPanel>
	</div>
	<p:dataTable id="idtabladetalleingresoselected" var="row"
		value="#{recepcionselectdetalleingresobean.list}"
		selection="#{recepcionselectdetalleingresobean.selected}" selectionMode="single"
		emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

		<f:facet name="header">
			<div>
				<div class="div40 subtitle_table_left">Página:
					#{recepcionselectdetalleingresobean.pagina} de
					#{recepcionselectdetalleingresobean.cantidadPaginas}</div>
				<div class="div20 subtitle_table_center">Productos</div>
				<div class="div40 subtitle_table_right">Registros:
					#{recepcionselectdetalleingresobean.cantidadRegistros}</div>
				<div class="footer"></div>
			</div>
		</f:facet>

		<p:ajax event="rowSelect"
			listener="#{recepcionselectdetalleingresobean.onRowSelect}" />

		<p:column headerText="Compra" width="5%">
			<h:outputText value="COM#{recepcionselectdetalleingresobean.filtroCompra}" />
		</p:column>
	
		<p:column headerText="Id" width="10%">
			<h:outputText value="#{row.producto.code}" />
		</p:column>

		<p:column headerText="Catálogo" width="10%">
			<h:outputText value="#{row.producto.baseproducto.code}" />
		</p:column>

		<p:column headerText="Prenda" width="15%">
			<h:outputText value="#{row.producto.baseproducto.tipoprenda.nombre}" />
		</p:column>

		<p:column headerText="Estilo" width="15%">
			<h:outputText value="#{row.producto.baseproducto.estilo.nombre}" />
		</p:column>

		<p:column headerText="Marca" width="15%">
			<h:outputText value="#{row.producto.baseproducto.marca.nombre}" />
		</p:column>

		<p:column headerText="Talla" width="5%">
			<h:outputText value="#{row.producto.talla.nombre}" />
		</p:column>

		<p:column headerText="Color" width="5%">
			<h:outputText value="#{row.producto.color.nombre}" />
		</p:column>

		<p:column headerText="Nombre" width="10%">
			<h:outputText value="#{row.producto.nombre}" />
		</p:column>

		<p:column headerText="Estado" width="10%">
			<h:outputText value="#{row.producto.estado}" />
		</p:column>

		<f:facet name="footer">
			<p:commandLink actionListener="#{recepcionselectdetalleingresobean.firstpage()}"
				update=":FormSeleccProducto:idtabladetalleingresoselected">
				<h:graphicImage value="#{msj.navfirst}" />
			</p:commandLink>
			<p:commandLink
				actionListener="#{recepcionselectdetalleingresobean.previouspage()}"
				update=":FormSeleccProducto:idtabladetalleingresoselected">
				<h:graphicImage value="#{msj.navprevious}" />
			</p:commandLink>
			<p:commandLink actionListener="#{recepcionselectdetalleingresobean.nextpage()}"
				update=":FormSeleccProducto:idtabladetalleingresoselected">
				<h:graphicImage value="#{msj.navnext}" />
			</p:commandLink>
			<p:commandLink actionListener="#{recepcionselectdetalleingresobean.lastpage()}"
				update=":FormSeleccProducto:idtabladetalleingresoselected">
				<h:graphicImage value="#{msj.navlast}" />
			</p:commandLink>
		</f:facet>

	</p:dataTable>

</ui:composition>