<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm2">

			<div>
				<div class="div30">
					<p:commandButton value="Ver Transitos"
						action="TransitoList.xhtml?faces-redirect=true" icon="ui-icon-disk"
						style="width:170px;" />
					<p:commandButton value="Exportar" icon="ui-icon-disk"
						style="width:100px;" />
				</div>
				<div class="div40">
					<div class="titulo"><h:graphicImage url="#{msj.img_transito}" style="margin-right: 2px;" />
							Transito - #{transitoviewbean.transitoView.code}</div>
				</div>
				<div class="div30" align="right">
					<h:graphicImage url="#{msj.img_usuario}" height="20" width="20" style="margin-right: 2px;" />
					<p:outputLabel id="idtbxUsuario"
						value="#{transitoviewbean.transitoView.usuario.login}" />

					<h:graphicImage url="#{msj.img_calendario}" height="20" width="20" style="margin:0 2px 0 4px;" />
					<p:outputLabel id="idtbxFecha"
						value="#{transitoviewbean.transitoView.fecha}" />
				</div>
				<div class="footer"></div>
			</div>
			<br />

			<p:panel>
				<center>
					<h:panelGrid columns="6" cellpadding="2" cellspacing="2">
						
						<p:outputLabel styleClass="tlabel" for="idtbxEmpresa" value="Empresa:" />											
						<p:outputLabel id="idtbxEmpresa" value="#{transitoviewbean.transitoView.transporteEmpresa}" />
						
						<p:outputLabel styleClass="tlabel" for="idtbxTransporteFecha" value="Fecha:" />
						<p:outputLabel id="idtbxTransporteFecha" value="#{transitoviewbean.transitoView.transporteFecha}" />
						
						<p:outputLabel styleClass="tlabel" for="idtbxFechaLlegada" value="Fecha Llegada:" />
						<p:outputLabel id="idtbxFechaLlegada" value="#{transitoviewbean.transitoView.transporteFechallegada}" />
						
						<p:outputLabel styleClass="tlabel" for="idtbxTipo" value="Tipo:" />
						<p:outputLabel id="idtbxTipo" value="#{transitoviewbean.transitoView.transporteTipo}" />																	
						
						<p:outputLabel styleClass="tlabel" for="idtbxComentario" value="Comentario:" />
						<p:inputTextarea id="idtbxComentario" cols="50"
							value="#{transitoviewbean.transitoView.comentario}" disabled="true" />

					</h:panelGrid>
				</center>
				<div align="right">
					<p:outputLabel styleClass="tlabel" value="Monto Total: " />
					<p:outputLabel id="tbxMontoTotal"
						value="#{transitoviewbean.transitoView.total}">
						<f:convertNumber pattern="#{msj.numero_formato}" />
					</p:outputLabel>

				</div>
			</p:panel>

			<p:dataTable id="idtablaingreso" var="row"
				value="#{transitoviewbean.detalletransitoList}"
				emptyMessage="Ningun dato encontrado..." rowIndexVar="rowIndex">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">
							<p:outputLabel styleClass="tlabel" value="Items: " />
							#{transitoviewbean.detalletransitoList.size()}
						</div>
						<div class="div20 subtitle_table_center">
							<p:outputLabel styleClass="tlabel" value="Detalle" />
						</div>
						<div class="div40 subtitle_table_right">-</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:column headerText="Id Catálogo" width="10%">
					<p:outputLabel id="idbpbcode"
						value="#{row.detalleingreso.producto.baseproducto.code}" />
				</p:column>

				<p:column headerText="Id Producto" width="10%">
					<p:outputLabel id="idbpId"
						value="#{row.detalleingreso.producto.code}" />
				</p:column>

				<p:column headerText="Código" width="10%">
					<p:outputLabel id="idbpCodigo"
						value="#{row.detalleingreso.producto.baseproducto.codigo}" />
				</p:column>

				<p:column headerText="Prenda" width="10%">
					<p:outputLabel id="idbpPrenda"
						value="#{row.detalleingreso.producto.baseproducto.prenda.nombre}" />
				</p:column>
				
				<p:column headerText="Marca" width="10%">
					<p:outputLabel id="idbpMarca"
						value="#{row.detalleingreso.producto.baseproducto.marca.nombre}" />
				</p:column>

				<p:column headerText="Estilo" width="10%">
					<p:outputLabel id="idbpEstilo"
						value="#{row.detalleingreso.producto.baseproducto.estilo.nombre}" />
				</p:column>								

				<p:column headerText="Nombre" width="10%">
					<p:outputLabel id="idbpnombre" value="#{row.detalleingreso.producto.nombre}" />
				</p:column>

				<p:column headerText="Color" width="10%">
					<p:outputLabel id="idbpcolor" value="#{row.detalleingreso.producto.color.nombre}" />
				</p:column>

				<p:column headerText="Talla" width="5%">
					<p:outputLabel id="idbptalla" value="#{row.detalleingreso.producto.talla.nombre}" />
				</p:column>
				
				<p:column headerText="Estado" width="5%">
					<p:outputLabel id="idbpestado" value="#{row.detalleingreso.producto.estado}" />
				</p:column>

				<p:column headerText="Precio" width="10%">
					<div align="right">
						<p:outputLabel id="idbpPrecioIngreso" value="#{row.detalleingreso.precio}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
					</div>
				</p:column>

			</p:dataTable>
		</h:form>


	</ui:define>
</ui:composition>