<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm2">

			<div>
				<div class="div30">
					<p:confirmDialog global="true" appendTo="@(body)">
						<p:commandButton value="Si" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
					<p:commandButton value="Cancelar"
						action="TransitoList.xhtml?faces-redirect=true"
						icon="ui-icon-disk" style="width:100px;" />
					<p:commandButton value="Guardar" icon="ui-icon-disk"
						action="#{transitobean.save()}" style="width:100px;">
						<p:confirm header="Confirmación" message="Favor confirmar"
							icon="ui-icon-alert" />
					</p:commandButton>
				</div>
				<div class="div40">
					<div class="titulo"><h:graphicImage url="#{msj.img_transito}" style="margin-right: 2px;" /> Transito</div>
				</div>
				<div class="div30" align="right">
					<h:graphicImage url="#{msj.img_usuario}" height="20" width="20" style="margin-right: 2px;" />
					<p:outputLabel id="idtbxUsuario" value="#{transitobean.usuario}" />
				</div>
				<div class="footer"></div>
			</div>
			<br />

			<p:panel>
				<center>
					<h:panelGrid columns="6" cellpadding="2" cellspacing="2">
						<p:outputLabel styleClass="tlabel" for="idtbxEmpresa"
							value="Empresa:" />
						<p:inputText id="idtbxEmpresa" size="25"
							value="#{transitobean.transporteEmpresa}" />
						
						<p:outputLabel styleClass="tlabel" for="idtbxtransporteTipo"
							value="Transporte:" />
						<p:selectOneMenu id="idtbxtransporteTipo"
							value="#{transitobean.transporteTipo}" style="width:150px">
							<f:selectItem itemLabel="Seleccione el transporte"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{transitobean.transporteTipolist}" var="tipo"
								itemLabel="#{tipo}" itemValue="#{tipo}" />
						</p:selectOneMenu>
						
						<p:outputLabel styleClass="tlabel" for="idtbxComentario"
							value="Comentario:" />
						<p:inputTextarea id="idtbxComentario" cols="50"
							value="#{transitobean.comentario}" />
						
						<p:outputLabel styleClass="tlabel" for="idtbxtransporteFecha"
							value="Fecha:" />
						<p:calendar id="idtbxtransporteFecha" value="#{transitobean.transporteFecha}" 
								pattern="dd/MM/yyyy hh:mm:ss" navigator="true" display="inline" size="25"/>
							
						<p:outputLabel styleClass="tlabel" for="idtbxtransporteFechallegada"
							value="Fecha llegada:" />
						<p:calendar id="idtbxtransporteFechallegada" value="#{transitobean.transporteFechaLlegada}" 
								pattern="dd/MM/yyyy hh:mm:ss" navigator="true" display="inline" size="25" />	
						
						
					</h:panelGrid>
				</center>
			</p:panel>

			<p:separator />

			<div>
				<div class="div60">

					<p:outputLabel value="Ingrese el codigo de la compra: COM" />
					<p:inputText id="idtbxCode" label="Code"
						size="#{msj.caja_filtro_width}"
						value="#{transitobean.filtroBusqueda}">
						<p:ajax event="keyup" listener="#{transitobean.buscar()}"
							update=":mainForm2:idtabladetalletransito :mainForm2:tbxTotal" />
					</p:inputText>

				</div>
				<div class="div40">
					<div align="right">

						<p:outputLabel styleClass="tlabel" value="Total: " />
						<p:outputLabel id="tbxTotal" value="#{transitobean.total}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
						<p:outputLabel value=" Bs" />
					</div>
				</div>
				<div class="footer"></div>
			</div>

			<p:separator />

			<p:dataTable id="idtabladetalletransito" var="row"
				value="#{transitobean.list}"
				emptyMessage="Ningun dato encontrado..." rowIndexVar="rowIndex">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">
							<p:outputLabel styleClass="tlabel" value="Items: " />
							#{transitobean.list.size()}
						</div>
						<div class="div20 subtitle_table_center">
							<p:outputLabel styleClass="tlabel" value="Detalle" />
						</div>
						<div class="div40 subtitle_table_right">-</div>
						<div class="footer"></div>
					</div>
				</f:facet>
				
				<p:column headerText="Select" width="5%">
					<p:selectBooleanCheckbox value="#{row.enTransito}" disabled="#{row.transitando}" >
						<p:ajax event="change" update=":mainForm2:tbxTotal" listener="#{transitobean.onUpdateTotal()}" />
					</p:selectBooleanCheckbox>
				</p:column>

				<p:column headerText="Compra" width="10%">
					<p:outputLabel value="#{transitobean.compra.code}" />
				</p:column>				

				<p:column headerText="Id Catalogo" width="10%">
					<p:outputLabel
						value="#{row.detalleIngreso.producto.baseproducto.code}" />
				</p:column>

				<p:column headerText="Id Producto" width="10%">
					<h:graphicImage url="#{row.transitando ? msj.img_transito_rojo : msj.img_compra_rojo }" height="15" width="15" style="margin-right: 2px;" />
					<p:outputLabel value="#{row.detalleIngreso.producto.code}" />
				</p:column>

				<p:column headerText="Código" width="10%">
					<p:outputLabel
						value="#{row.detalleIngreso.producto.baseproducto.codigo}" />
				</p:column>							
				
				<p:column headerText="Prenda" width="10%">
					<p:outputLabel
						value="#{row.detalleIngreso.producto.baseproducto.prenda.nombre}" />
				</p:column>

				<p:column headerText="Estilo" width="15%">
					<p:outputLabel
						value="#{row.detalleIngreso.producto.baseproducto.estilo.nombre}" />
				</p:column>
				
				<p:column headerText="Nombre" width="10%">
					<p:outputLabel
						value="#{row.detalleIngreso.producto.nombre}" />
				</p:column>
	
				<p:column headerText="Marca" width="10%">
					<p:outputLabel
						value="#{row.detalleIngreso.producto.baseproducto.marca.nombre}" />
				</p:column>

				<p:column headerText="Talla" width="5%">
					<p:outputLabel value="#{row.detalleIngreso.producto.talla.nombre}" />
				</p:column>

				<p:column headerText="Color" width="10%">
					<p:outputLabel value="#{row.detalleIngreso.producto.color.nombre}" />
				</p:column>
				
				<p:column headerText="Estado" width="10%">
					<p:outputLabel value="#{row.detalleIngreso.producto.estado}" />
				</p:column>

				<p:column headerText="Precio" width="10%">
					<div align="right">
						<p:outputLabel id="idbpPrecioIngreso"
							value="#{row.detalleIngreso.precio}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
					</div>
				</p:column>
				

			</p:dataTable>
		</h:form>


		<!-- 
			Dialogo para seleccionar un catalogo  
		-->
		

	</ui:define>
</ui:composition>