<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm">
			<div>
				<div class="div30">
					<p:commandButton value="Nuevo"
						action="Transito.xhtml?faces-redirect=true" icon="#{msj.icon_nuevo}"
						style="width:100px;" />
				</div>
				<div class="div40">
					<div class="titulo"><h:graphicImage url="#{msj.img_transito}" style="margin-right: 2px;" />En Transitos</div>
				</div>
				<div class="div30"></div>
				<div class="footer"></div>
			</div>
			<br />
			
			<p:accordionPanel activeIndex="-1">
				<p:tab title="Filtros">
					<h:panelGrid id="idFiltros" columns="10" cellspacing="5"
						cellpadding="0">

						<p:outputLabel for="idtbxCode" value="ID:" />
						<p:inputText id="idtbxCode" label="Code" size="15"
							value="#{transitolistbean.filtroCode}">
							<p:ajax event="keyup" listener="#{transitolistbean.buscar()}"
								update=":mainForm:idtablatransitolist" />
						</p:inputText>

						<p:outputLabel for="idtbxComentario" value="Comentario:" />
						<p:inputText id="idtbxComentario" label="Comentario" size="15"
							value="#{transitolistbean.filtroComentario}">
							<p:ajax event="keyup" listener="#{transitolistbean.buscar()}"
								update=":mainForm:idtablatransitolist" />
						</p:inputText>

						<p:outputLabel for="idtbxFecha" value="Fecha:" />
						<p:inputText id="idtbxFecha" label="Fecha" size="15"
							value="#{transitolistbean.filtroFecha}">
							<p:ajax event="keyup" listener="#{transitolistbean.buscar()}"
								update=":mainForm:idtablatransitolist" />
						</p:inputText>

						<p:outputLabel for="idtbxCompra" value="Compra:" />
						<p:inputText id="idtbxCompra" label="Compra" size="15"
							value="#{transitolistbean.filtroCompra}">
							<p:ajax event="keyup" listener="#{transitolistbean.buscar()}"
								update=":mainForm:idtablatransitolist" />
						</p:inputText>						

						<p:outputLabel for="idtbxUsuario" value="Usuario:" />
						<p:inputText id="idtbxUsuario" label="Fecha" size="15"
							value="#{transitolistbean.filtroUsuario}">
							<p:ajax event="keyup" listener="#{transitolistbean.buscar()}"
								update=":mainForm:idtablatransitolist" />
						</p:inputText>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablatransitolist" var="row"
				value="#{transitolistbean.list}"
				selection="#{transitolistbean.selected}" selectionMode="single"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{transitolistbean.pagina} de #{transitolistbean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">En Transitos</div>
						<div class="div40 subtitle_table_right">Registros:
							#{transitolistbean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{transitolistbean.onRowSelect}" />

				<p:column headerText="Acción" width="5%">
					<div align="center">					
						<p:commandLink id="idtVer"
							actionListener="#{transitolistbean.onVerTransito( row )}"
							action="TransitoView.xhtml?faces-redirect=true"
							title="Ver Detalle #{row.code}">
							<h:graphicImage value="#{msj.img_view}" />
							<p:tooltip for="idtVer" value="Ver detalle #{row.code}" />						
						</p:commandLink>
					</div>
				</p:column>

				<p:column headerText="ID" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>

				<p:column headerText="Comentario" width="15%">
					<h:outputText value="#{row.comentario}" />
				</p:column>

				<p:column headerText="Fecha" width="20%">
					<h:outputText value="#{row.fecha}" />
				</p:column>							
				
				<p:column headerText="Empresa" width="10%">
					<h:outputText value="#{row.transporteEmpresa}" />
				</p:column>
				
				<p:column headerText="Fecha" width="10%">
					<h:outputText value="#{row.transporteFecha}" />
				</p:column>
				
				<p:column headerText="Fecha Llegada" width="10%">
					<h:outputText value="#{row.transporteFechallegada}" />
				</p:column>
				
				<p:column headerText="Tipo" width="10%">
					<h:outputText value="#{row.transporteTipo}" />
				</p:column>
				
				<p:column headerText="Compra" width="10%">
					<h:outputText value="#{row.compra.code}" />
				</p:column>

				<p:column headerText="Ingreso" width="10%">
					<h:outputText value="#{row.compra.ingreso.code}" />
				</p:column>

				<p:column headerText="Usuario" width="10%">
					<h:outputText value="#{row.usuario.nombre}" />
				</p:column>			
				
				<p:column headerText="Total (Bs)" width="10%">
					<div align="right">
						<h:outputText value="#{row.total}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</h:outputText>
					</div>
				</p:column>				
	
				<f:facet name="footer">
					<p:commandLink actionListener="#{transitolistbean.firstpage()}"
						update=":mainForm:idtablatransitolist">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{transitolistbean.previouspage()}"
						update=":mainForm:idtablatransitolist">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{transitolistbean.nextpage()}"
						update=":mainForm:idtablatransitolist">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{transitolistbean.lastpage()}"
						update=":mainForm:idtablatransitolist">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>