<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<p:panel id="ppanel" header="Información Baseproducto">
		<h:panelGrid id="pnlGrdData" columns="2" cellspacing="2" cellpadding="2">

			<p:outputLabel value="ID:" rendered="#{!baseproductobean.nuevo}" />
			<p:outputLabel value="#{baseproductobean.entidad.code}"
				rendered="#{!baseproductobean.nuevo}" />

			<p:outputLabel for="tbxCodigo" value="Código:"/>
			<p:inputText id="tbxCodigo" value="#{baseproductobean.entidad.codigo}" 
				label="codigo" size="30"/>
	
			<p:outputLabel for="tbxEstilo" value="Estilo:" />
			<p:selectOneMenu id="tbxEstilo" value="#{baseproductobean.estiloCode}" style="width:200px" 
        			required="true" requiredMessage="Campo Estilo es requerido">                
                <f:selectItem itemLabel="Seleccione un estilo" itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{estilobean.list}" var="estilo" itemLabel="#{estilo.nombre}" itemValue="#{sucursal.code}"/>
            </p:selectOneMenu>			

			<p:outputLabel for="tbxMarca" value="Marca:" />
			<p:selectOneMenu id="tbxMarca" value="#{baseproductobean.marcaCode}" style="width:200px" 
        			required="true" requiredMessage="Campo Marca es requerido">                
                <f:selectItem itemLabel="Seleccione una marca" itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{marcabean.list}" var="marca" itemLabel="#{marca.nombre}" itemValue="#{marca.code}"/>
            </p:selectOneMenu>
            
            <p:outputLabel for="tbxTipoPrenda" value="Tipo Prenda:" />
			<p:selectOneMenu id="tbxTipoPrenda" value="#{baseproductobean.tipoprendaCode}" style="width:200px" 
        			required="true" requiredMessage="Campo Tipo Prenda es requerido">                
                <f:selectItem itemLabel="Seleccione un tipo de prenda" itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{tipoprendabean.list}" var="tipoprenda" itemLabel="#{tipoprenda.nombre}" itemValue="#{tipoprenda.code}"/>
            </p:selectOneMenu>

			<p:outputLabel for="tbxPrecio" value="Precio:" />
			<p:inputText id="tbxPrecio" label="Precio" size="50"
				value="#{baseproductobean.entidad.precio}" required="true" requiredMessage="Campo precio es requerido"
				converterMessage="Valor invalido...">
				<f:convertNumber pattern="#,##0.00"/> 
			</p:inputText>
			
			<p:outputLabel for="tbxEsPromo" value="En Promoción?:" />
			<p:selectBooleanCheckbox id="tbxEsPromo" value="#{baseproductobean.entidad.espromo}" >
				<p:ajax event="change" update=":mainFormBaseproductoEdit:tbxPrecioPromo"/> 
			</p:selectBooleanCheckbox>
			
			<p:outputLabel for="tbxEsPorcentaje" value="Precio Promoción es %?:" />
			<p:selectBooleanCheckbox id="tbxEsPorcentaje" value="#{baseproductobean.entidad.esporcentaje}" >
				<p:ajax event="change" update=":mainFormBaseproductoEdit:tbxPrecioPromoLbl"/> 
			</p:selectBooleanCheckbox>
			
			<p:outputLabel id="tbxPrecioPromoLbl" for="tbxPrecioPromo" value="Precio Promoción #{baseproductobean.entidad.esporcentaje ? '%' : '' }:" />
			<p:inputText id="tbxPrecioPromo" label="PrecioPromo" size="50" disabled="#{!baseproductobean.entidad.espromo}"
				value="#{baseproductobean.entidad.precioPromo}" required="#{baseproductobean.entidad.espromo}" requiredMessage="Campo precio promoción es requerido"
				converterMessage="Valor invalido...">
				<f:convertNumber pattern="#,##0.00"/> 
			</p:inputText>			

		</h:panelGrid>

		<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
			cellpadding="0">

			<p:commandButton value="Guardar" icon="ui-icon-disk"
				style="width:100px;" actionListener="#{baseproductobean.guardar()}"
				update=":mainFormBaseproductoEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Eliminar" icon="ui-icon-document"
				style="width:100px;" actionListener="#{baseproductobean.eliminar()}"
				update=":mainFormBaseproductoEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Nuevo" icon="ui-icon-document"
				style="width:100px;" actionListener="#{baseproductobean.nuevo()}"
				update=":mainFormBaseproductoEdit:pnlGrdData :mainForm" />

		</h:panelGrid>

	</p:panel>

</ui:composition>