<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>BaseProducto</center>
		</h1>

		<table class="borderHidden" cellpadding="0" cellspacing="0"
			width="100%" border="0">
			<tr>
				<td width="66%"><h:form id="mainForm">
						<p:accordionPanel >
							<p:tab title="Filtros" >
								<h:panelGrid id="idFiltros" columns="10" cellspacing="5" cellpadding="0">
								
									<p:outputLabel for="idtbxCode" value="ID:" />
									<p:inputText id="idtbxCode" label="Code" size="15"
										value="#{baseproductobean.filtroCode}">
										<p:ajax event="keyup" listener="#{baseproductobean.buscar()}"
											update=":mainForm:idtablabaseproducto" />
									</p:inputText>

									<p:outputLabel for="idtbxCodigo" value="Código:" />
									<p:inputText id="idtbxCodigo" label="Codigo" size="15"
										value="#{baseproductobean.filtroCodigo}">
										<p:ajax event="keyup" listener="#{baseproductobean.buscar()}"
											update=":mainForm:idtablabaseproducto" />
									</p:inputText>

									<p:outputLabel for="idtbxEstilo" value="Estilo:" />
									<p:selectOneMenu id="idtbxEstilo" value="#{baseproductobean.filtroEstilo}" style="width:200px">
										<p:ajax event="change" listener="#{baseproductobean.buscar()}" update=":mainForm:idtablabaseproducto"/>
						                <f:selectItem itemLabel="Filtre por un estilo" itemValue="#{null}" noSelectionOption="true" />
						                <f:selectItems value="#{estilobean.list}" var="tipoprenda" itemLabel="#{estilo.nombre}" itemValue="#{estilo.code}"/>
						            </p:selectOneMenu>									
						            
									<p:outputLabel for="idtbxMarca" value="Marca:" />
									<p:selectOneMenu id="idtbxMarca" value="#{baseproductobean.filtroMarca}" style="width:200px">
									<p:ajax event="change" listener="#{baseproductobean.buscar()}" update=":mainForm:idtablabaseproducto"/>
						                <f:selectItem itemLabel="Filtre por una marca" itemValue="#{null}" noSelectionOption="true" />
						                <f:selectItems value="#{marcabean.list}" var="marca" itemLabel="#{marca.nombre}" itemValue="#{marca.code}"/>
						            </p:selectOneMenu>

									<p:outputLabel for="idtbxTipoPrenda" value="TipoPrenda:" />
									<p:selectOneMenu id="idtbxTipoPrenda" value="#{baseproductobean.filtroTipoPrenda}" style="width:200px">
										<p:ajax event="change" listener="#{baseproductobean.buscar()}" update=":mainForm:idtablabaseproducto"/>
						                <f:selectItem itemLabel="Filtre por un tipo de prenda" itemValue="#{null}" noSelectionOption="true" />
						                <f:selectItems value="#{tipoprendabean.list}" var="tipoprenda" itemLabel="#{tipoprenda.nombre}" itemValue="#{tipoprenda.code}"/>
						            </p:selectOneMenu>


								</h:panelGrid>
							</p:tab>
						</p:accordionPanel>
						<p:dataTable id="idtablabaseproducto" var="row"
							value="#{baseproductobean.list}" selection="#{baseproductobean.selected}"
							selectionMode="single" emptyMessage="Ningun dato encontrado..."
							rowKey="#{row.code}">

							<f:facet name="header">
								<div>
									<div class="div40 subtitle_table_left">Página:
										#{baseproductobean.pagina} de #{baseproductobean.cantidadPaginas}</div>
									<div class="div20 subtitle_table_center">BaseProductoes</div>
									<div class="div40 subtitle_table_right">Registros:
										#{baseproductobean.cantidadRegistros}</div>
									<div class="footer"></div>
								</div>
							</f:facet>

							<p:ajax event="rowSelect" listener="#{baseproductobean.onRowSelect}"
								update=":mainFormBaseproductoEdit" />

							<p:column sortBy="#{row.code}" headerText="ID" width="10%">
								<h:outputText value="#{row.code}" />
							</p:column>

							<p:column sortBy="#{row.codigo}" headerText="Codigo" width="30%">
								<h:outputText value="#{row.codigo}" />
							</p:column>

							<p:column sortBy="#{row.marca.nombre}" headerText="Marca" width="30%">
								<h:outputText value="#{row.marca.nombre}" />
							</p:column>

							<p:column sortBy="#{row.estilo.nombre}" headerText="Estilo" width="30%">
								<h:outputText value="#{row.estilo.nombre}" />
							</p:column>
							
							<p:column sortBy="#{row.tipoprenda.nombre}" headerText="Tipo Prenda" width="30%">
								<h:outputText value="#{row.tipoprenda.nombre}" />
							</p:column>
							
							<p:column sortBy="#{row.cantidad}" headerText="Cantidad" width="30%">
								<h:outputText value="#{row.cantidad}" />
							</p:column>

							<p:column sortBy="#{row.precio}" headerText="Precio" width="30%">
								<h:outputText value="#{row.precio}">
									<f:convertNumber pattern="#.###" />
								</h:outputText>
							</p:column>
							
							<p:column sortBy="#{row.espromo}" headerText="En Promoción?" width="30%">
								<h:outputText value="#{row.espromo ? 'Si' : 'No' }" />
							</p:column>													
							
							<p:column sortBy="#{row.precioPromo}" headerText="Precio Promo" width="30%">
								<h:outputText value="#{row.precioPromo}">
									<f:convertNumber pattern="#,##0.00" />
								</h:outputText>
								 #{row.esporcentaje ? '%' : '' }
							</p:column>

							<p:column sortBy="#{row.esporcentaje}" headerText="Precio Promoción en %?" width="30%">
								<h:outputText value="#{row.esporcentaje ? 'Si' : 'No' }" />
							</p:column>

							<f:facet name="footer">
								<p:commandLink actionListener="#{baseproductobean.firstpage()}"
									update=":mainForm:idtablabaseproducto">
									<h:graphicImage value="#{msj.navfirst}" />
								</p:commandLink>
								<p:commandLink actionListener="#{baseproductobean.previouspage()}"
									update=":mainForm:idtablabaseproducto">
									<h:graphicImage value="#{msj.navprevious}" />
								</p:commandLink>
								<p:commandLink actionListener="#{baseproductobean.nextpage()}"
									update=":mainForm:idtablabaseproducto">
									<h:graphicImage value="#{msj.navnext}" />
								</p:commandLink>
								<p:commandLink actionListener="#{baseproductobean.lastpage()}"
									update=":mainForm:idtablabaseproducto">
									<h:graphicImage value="#{msj.navlast}" />
								</p:commandLink>
							</f:facet>

						</p:dataTable>
					</h:form></td>
				<td width="2%"></td>
				<td width="30%"><h:form id="mainFormBaseproductoEdit">
						<ui:include src="BaseProducto_edit.xhtml" />
					</h:form></td>
				<td width="2%"></td>
			</tr>
		</table>		
	</ui:define>
</ui:composition>