<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panel header="Información Catálogo">

		<h:panelGrid id="pnlGrdData" columns="3" cellspacing="5"
			cellpadding="2">

			<p:outputLabel value="ID:" rendered="#{!baseproductobean.nuevo}" />
			<p:outputLabel value="#{baseproductobean.entidad.code}"
				rendered="#{!baseproductobean.nuevo}" />
			<p:outputLabel value="-" rendered="#{!baseproductobean.nuevo}" />

			<p:outputLabel for="tbxCodigo" value="Código:" />
			<p:inputText id="tbxCodigo"
				value="#{baseproductobean.entidad.codigo}" label="codigo" size="30" />
			<p:outputLabel value="" />

			<p:outputLabel for="tbxPrenda" value="Prenda:" />
			<p:selectOneMenu id="tbxPrenda"
				value="#{baseproductobean.prendaCode}" style="width:200px"
				required="true" requiredMessage="Campo Tipo Prenda es requerido">
				<f:selectItem itemLabel="Seleccione una prenda" itemValue=""
					noSelectionOption="true" />
				<f:selectItems value="#{prendabean.list}" var="prenda"
					itemLabel="#{prenda.nombre}" itemValue="#{prenda.code}" />
			</p:selectOneMenu>
			<p:commandButton value="Add" icon="ui-icon-disk"
				oncomplete="PF('dlgNuevoPrendaVar').show();" immediate="true" />

			
			<p:outputLabel for="tbxMarca" value="Marca:" />
			<p:selectOneMenu id="tbxMarca" value="#{baseproductobean.marcaCode}"
				style="width:200px" required="true"
				requiredMessage="Campo Marca es requerido">
				<f:selectItem itemLabel="Seleccione una marca" itemValue=""
					noSelectionOption="true" />
				<f:selectItems value="#{marcabean.list}" var="marca"
					itemLabel="#{marca.nombre}" itemValue="#{marca.code}" />
			</p:selectOneMenu>
			<p:commandButton value="Add" icon="ui-icon-disk"
				oncomplete="PF('dlgNuevaMarcaVar').show();" immediate="true"
				title="Adicionar una Marca" />
			
			<p:outputLabel for="tbxEstilo" value="Estilo:" />
			<p:selectOneMenu id="tbxEstilo"
				value="#{baseproductobean.estiloCode}" style="width:200px"
				required="true" requiredMessage="Campo Estilo es requerido">
				<f:selectItem itemLabel="Seleccione un estilo" itemValue=""
					noSelectionOption="true" />
				<f:selectItems value="#{estilobean.list}" var="estilo"
					itemLabel="#{estilo.nombre}" itemValue="#{estilo.code}" />
			</p:selectOneMenu>
			<p:commandButton value="Add" icon="ui-icon-disk"
				oncomplete="PF('dlgNuevoEstiloVar').show();" immediate="true" />

			
			<p:outputLabel for="tbxPrecio" value="Precio:" />
			<p:inputText id="tbxPrecio" label="Precio" style="width:200px"
				value="#{baseproductobean.entidad.precio}" required="true"
				requiredMessage="Campo precio es requerido"
				converterMessage="Valor invalido...">
				<f:convertNumber pattern="#,##0.00" />
			</p:inputText>
			<p:outputLabel value="" />

			<p:outputLabel for="tbxEsPromo" value="En Promoción?:" />
			<p:selectBooleanCheckbox id="tbxEsPromo"
				value="#{baseproductobean.entidad.espromo}">
				<p:ajax event="change"
					update=":mainFormBaseProductoEdit:tbxPrecioPromoLbl :mainFormBaseProductoEdit:tbxPrecioPromo :mainFormBaseProductoEdit:tbxEsPorcentaje" />
			</p:selectBooleanCheckbox>
			<p:outputLabel value="" />

			<p:outputLabel for="tbxEsPorcentaje" value="Precio Promoción es %?:" />
			<p:selectBooleanCheckbox id="tbxEsPorcentaje"
				disabled="#{!baseproductobean.entidad.espromo}"
				value="#{baseproductobean.entidad.esporcentaje}">
				<p:ajax event="change"
					update=":mainFormBaseProductoEdit:tbxPrecioPromoLbl" />
			</p:selectBooleanCheckbox>
			<p:outputLabel value="" />


			<p:outputLabel id="tbxPrecioPromoLbl" for="tbxPrecioPromo"
				value="Precio Promoción #{baseproductobean.entidad.esporcentaje ? '%' : '' }:" />
			<p:inputText id="tbxPrecioPromo" label="PrecioPromo"
				style="width:200px" disabled="#{!baseproductobean.entidad.espromo}"
				value="#{baseproductobean.entidad.precioPromo}"
				required="#{baseproductobean.entidad.espromo}"
				requiredMessage="Campo precio promoción es requerido"
				converterMessage="Valor invalido...">
				<f:convertNumber pattern="#,##0.00" />
			</p:inputText>
			<p:outputLabel value="" />

		</h:panelGrid>
		
		<br />
		<div class="obligatorio">(*) Campos obligatorios!</div>

	</p:panel>

</ui:composition>