<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm">
			
			<div>
				<div class="div30">
					<p:confirmDialog global="true" appendTo="@(body)">
						<p:commandButton value="Si" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
		
					<p:commandButton value="Nuevo" icon="ui-icon-document"
						style="width:100px;"
						actionListener="#{baseproductobean.nuevaEntidad()}"
						update=":dlgNuevoEditarId :mainFormBaseProductoEdit" />
		
					<p:commandButton value="Editar" icon="ui-icon-pencil"
						style="width:100px;" actionListener="#{baseproductobean.editar()}"
						update=":dlgNuevoEditarId :mainFormBaseProductoEdit" />
		
					<p:commandButton value="Eliminar" icon="ui-icon-trash"
						style="width:100px;" actionListener="#{baseproductobean.eliminar()}"
						update=":mainForm:idtablabaseproducto">
						<p:confirm header="Confirmación"
							message="¿Esta seguro que desea eliminar este registro?"
							icon="ui-icon-alert" />
					</p:commandButton>					
				</div>
				<div class="div40">
					<div class="titulo">Producto Base</div>
				</div>
				<div class="div30"></div>
				<div class="footer"></div>
			</div>
			<br />
			

			<p:accordionPanel activeIndex="-1">
				<p:tab title="Filtros">
					<h:panelGrid id="idFiltros" columns="10" cellspacing="5"
						cellpadding="0">

						<p:outputLabel for="idtbxCode" value="ID:" />
						<p:inputText id="idtbxCode" label="Code" size="15"
							value="#{baseproductobean.filtroCode}">
							<p:ajax event="keyup" listener="#{baseproductobean.buscar()}"
								update=":mainForm:idtablabaseproducto" />
						</p:inputText>

						<p:outputLabel for="idtbxCodigo" value="Código:" />
						<p:inputText id="idtbxCodigo" label="Codigo" size="15"
							value="#{baseproductobean.filtroCodigo}">
							<p:ajax event="keyup" listener="#{baseproductobean.buscar()}"
								update=":mainForm:idtablabaseproducto" />
						</p:inputText>

						<p:outputLabel for="idtbxEstilo" value="Estilo:" />
						<p:selectOneMenu id="idtbxEstilo"
							value="#{baseproductobean.filtroEstilo}" style="width:200px">
							<p:ajax event="change" listener="#{baseproductobean.buscar()}"
								update=":mainForm:idtablabaseproducto" />
							<f:selectItem itemLabel="Filtre por un estilo"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{estilobean.list}" var="estilo"
								itemLabel="#{estilo.nombre}" itemValue="#{estilo.code}" />
						</p:selectOneMenu>

						<p:outputLabel for="idtbxMarca" value="Marca:" />
						<p:selectOneMenu id="idtbxMarca"
							value="#{baseproductobean.filtroMarca}" style="width:200px">
							<p:ajax event="change" listener="#{baseproductobean.buscar()}"
								update=":mainForm:idtablabaseproducto" />
							<f:selectItem itemLabel="Filtre por una marca"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{marcabean.list}" var="marca"
								itemLabel="#{marca.nombre}" itemValue="#{marca.code}" />
						</p:selectOneMenu>

						<p:outputLabel for="idtbxPrenda" value="Prenda:" />
						<p:selectOneMenu id="idtbxPrenda"
							value="#{baseproductobean.filtroPrenda}" style="width:200px">
							<p:ajax event="change" listener="#{baseproductobean.buscar()}"
								update=":mainForm:idtablabaseproducto" />
							<f:selectItem itemLabel="Filtre por una prenda"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{prendabean.list}" var="prenda"
								itemLabel="#{prenda.nombre}" itemValue="#{prenda.code}" />
						</p:selectOneMenu>


					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablabaseproducto" var="row"
				value="#{baseproductobean.list}"
				selection="#{baseproductobean.selected}" selectionMode="single"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{baseproductobean.pagina} de #{baseproductobean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">BaseProductoes</div>
						<div class="div40 subtitle_table_right">Registros:
							#{baseproductobean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{baseproductobean.onRowSelect}"
					update=":mainFormBaseProductoEdit" />

				<p:column sortBy="#{row.code}" headerText="ID" width="20%">
					<h:outputText value="#{row.code}" />
				</p:column>

				<p:column sortBy="#{row.codigo}" headerText="Codigo" width="40%">
					<h:outputText value="#{row.codigo}" />
				</p:column>

				<p:column sortBy="#{row.prenda.nombre}" headerText="Tipo Prenda"
					width="40%">
					<h:outputText value="#{row.prenda.nombre}" />
				</p:column>

				<p:column sortBy="#{row.marca.nombre}" headerText="Marca"
					width="40%">
					<h:outputText value="#{row.marca.nombre}" />
				</p:column>

				<p:column sortBy="#{row.estilo.nombre}" headerText="Estilo"
					width="40%">
					<h:outputText value="#{row.estilo.nombre}" />
				</p:column>

				<p:column sortBy="#{row.cantidad}" headerText="Cantidad" width="20%">
					<div align="center"> <h:outputText value="#{row.cantidad}" /> </div>
				</p:column>

				<p:column sortBy="#{row.precio}" headerText="Precio" width="20%">
					<h:outputText value="#{row.precio}">
						<f:convertNumber pattern="#.###" />
					</h:outputText>
				</p:column>

				<p:column sortBy="#{row.espromo}" headerText="En Promoción?"
					width="20%">
					<h:outputText value="#{row.espromo ? 'Si' : 'No' }" />
				</p:column>

				<p:column sortBy="#{row.precioPromo}" headerText="Precio Promo"
					width="20%">
					<h:outputText value="#{row.precioPromo}">
						<f:convertNumber pattern="#,##0.00" />
					</h:outputText>
								 #{row.esporcentaje ? '%' : '' }
							</p:column>

				<p:column sortBy="#{row.esporcentaje}"
					headerText="Precio Promoción en %?" width="20%">
					<h:outputText value="#{row.esporcentaje ? 'Si' : 'No' }" />
				</p:column>

				<f:facet name="footer">
					<p:commandLink actionListener="#{baseproductobean.firstpage()}"
						update=":mainForm:idtablabaseproducto">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{baseproductobean.previouspage()}"
						update=":mainForm:idtablabaseproducto">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{baseproductobean.nextpage()}"
						update=":mainForm:idtablabaseproducto">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{baseproductobean.lastpage()}"
						update=":mainForm:idtablabaseproducto">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

		<p:dialog id="dlgNuevoEditarId" widgetVar="dlgNuevoEditar"
			closeOnEscape="false" header="Nuevo/editar Base Producto"
			modal="true" appendTo="@(body)"
			visible="#{baseproductobean.visibleNuevoEditar}" closable="true">
			<h:form id="mainFormBaseProductoEdit">
				<ui:include src="BaseProducto_edit.xhtml" />
				<p:commandButton value="Guardar" icon="#{msj.icon_guardar}"
					style="width:100px;" actionListener="#{baseproductobean.guardar()}"
					update=":mainFormBaseProductoEdit:pnlGrdData :mainForm:idtablabaseproducto" />

				<p:commandButton value="Eliminar" icon="#{msj.icon_eliminar}"
					style="width:100px;"
					actionListener="#{baseproductobean.eliminar()}"
					update=":mainFormBaseProductoEdit:pnlGrdData :mainForm:idtablabaseproducto" />

				<p:commandButton value="Nuevo" icon="#{msj.icon_nuevo}"
					style="width:100px;" actionListener="#{baseproductobean.nuevo()}"
					update=":mainFormBaseProductoEdit:pnlGrdData" />
								
			</h:form>
		</p:dialog>

		<p:dialog id="dlgNuevoPrenda" widgetVar="dlgNuevoPrendaVar"
			closeOnEscape="false" header="Nueva Prenda" modal="true"
			appendTo="@(body)" closable="false" resizable="false">
			<h:form id="mainFormprendaEdit">
				<ui:include src="/view/Producto/Prenda_edit.xhtml" />
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						style="width:100px;" actionListener="#{prendabean.guardar()}"
						update=":mainFormprendaEdit:pnlGrdData" />

					<p:commandButton value="Salir" icon="ui-icon-disk"
						actionListener="#{prendabean.cargarLista()}"
						update=":mainFormBaseProductoEdit:tbxPrenda"
						oncomplete="PF('dlgNuevoPrendaVar').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog id="dlgNuevaMarca" widgetVar="dlgNuevaMarcaVar"
			closeOnEscape="false" header="Nueva Marca" modal="true"
			appendTo="@(body)" closable="false" resizable="false">
			<h:form id="mainFormmarcaEdit">
				<ui:include src="/view/Producto/Marca_edit.xhtml" />
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						style="width:100px;" actionListener="#{marcabean.guardar()}"
						update=":mainFormmarcaEdit:pnlGrdData" />

					<p:commandButton value="Salir" icon="ui-icon-disk"
						actionListener="#{marcabean.cargarLista()}"
						update=":mainFormBaseProductoEdit:tbxMarca"
						oncomplete="PF('dlgNuevaMarcaVar').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog id="dlgNuevoEstilo" widgetVar="dlgNuevoEstiloVar"
			closeOnEscape="false" header="Nuevo Estilo" modal="true"
			appendTo="@(body)" closable="false" resizable="false">
			<h:form id="mainFormestiloEdit">
				<ui:include src="/view/Producto/Estilo_edit.xhtml" />
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						style="width:100px;" actionListener="#{estilobean.guardar()}"
						update=":mainFormestiloEdit:pnlGrdData" />

					<p:commandButton value="Salir" icon="ui-icon-disk"
						actionListener="#{estilobean.cargarLista()}"
						update=":mainFormBaseProductoEdit:tbxEstilo"
						oncomplete="PF('dlgNuevoEstiloVar').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		

	</ui:define>
</ui:composition>