<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<div>
		<div class="div30" align="right">
			<p:outputLabel styleClass="tlabel" value="Prenda :" />
		</div>
		<div class="div70">
			<p:selectOneMenu id="idtbxPrenda" value="#{baseproductoselecbean.prendaCode}"
				style="width:130px">
				<f:selectItem itemLabel="Seleccione una prenda" itemValue="#{null}"
					noSelectionOption="true" />
				<f:selectItems value="#{baseproductoselecbean.prendaList}" var="prenda"
					itemLabel="#{prenda.nombre}" itemValue="#{prenda.code}" />
				<p:ajax event="change"
					listener="#{baseproductoselecbean.onUpdateMarcas()}"
					update=":FormSeleccBaseProducto:idtbxMarca :FormSeleccBaseProducto:idtbxEstilo :FormSeleccBaseProducto:idpindetallebaseproducto" />
			</p:selectOneMenu>
		</div>
		<div class="footer"></div>
	</div>

	<div style="padding-top: 5px;">
		<div class="div30" align="right">
			<p:outputLabel styleClass="tlabel" value="Marca :" />
		</div>
		<div class="div70">
			<p:selectOneMenu id="idtbxMarca" value="#{baseproductoselecbean.marcaCode}"
				style="width:130px" disabled="#{empty baseproductoselecbean.prendaCode}">
				<f:selectItem itemLabel="Seleccione una marca" itemValue="#{null}"
					noSelectionOption="true" />
				<f:selectItems value="#{baseproductoselecbean.marcaList}" var="marca"
					itemLabel="#{marca.nombre}" itemValue="#{marca.code}" />
				<p:ajax event="change"
					listener="#{baseproductoselecbean.onUpdateEstilos()}"
					update=":FormSeleccBaseProducto:idtbxEstilo :FormSeleccBaseProducto:idpindetallebaseproducto" />
			</p:selectOneMenu>
		</div>
		<div class="footer"></div>
	</div>

	<div style="padding-top: 5px;">
		<div class="div30" align="right">
			<p:outputLabel styleClass="tlabel" value="Estilo :" />
		</div>
		<div class="div70">
			<p:selectOneMenu id="idtbxEstilo" value="#{baseproductoselecbean.estiloCode}"
				style="width:130px" disabled="#{empty baseproductoselecbean.marcaCode}">
				<f:selectItem itemLabel="Seleccione un estilo" itemValue="#{null}"
					noSelectionOption="true" />
				<f:selectItems value="#{baseproductoselecbean.estiloList}" var="estilo"
					itemLabel="#{estilo.nombre}" itemValue="#{estilo.code}" />
				<p:ajax event="change"
					listener="#{baseproductoselecbean.onUpdateBaseproductoSelected()}"
					update=":FormSeleccBaseProducto:idpindetallebaseproducto :FormSeleccBaseProducto:pnlGrdControlButton" />
			</p:selectOneMenu>
		</div>
		<div class="footer"></div>
	</div>

	

	<p:panel id="idpindetallebaseproducto" header="Detalle">
		<div style="padding-top: 5px;">
			<div class="div50" align="right">
				<p:outputLabel styleClass="tlabel" value="Código :" />
			</div>
			<div class="div50">
				<p:outputLabel id="idbpCodigo" value="#{baseproductoselecbean.baseProducto.codigo}" />
			</div>
			<div class="footer"></div>
		</div>
		
		<div style="padding-top: 5px;">
			<div class="div50" align="right">
				<p:outputLabel styleClass="tlabel" value="Prenda :" />
			</div>
			<div class="div50">
				<p:outputLabel id="idbpPrenda" value="#{baseproductoselecbean.baseProducto.prenda.nombre}" />
			</div>
			<div class="footer"></div>
		</div>
		
		<div style="padding-top: 5px;">
			<div class="div50" align="right">
				<p:outputLabel styleClass="tlabel" value="Estilo :" />
			</div>
			<div class="div50">
				<p:outputLabel id="idbpEstilo" value="#{baseproductoselecbean.baseProducto.estilo.nombre}" />
			</div>
			<div class="footer"></div>
		</div>
		
		<div style="padding-top: 5px;">
			<div class="div50" align="right">
				<p:outputLabel styleClass="tlabel" value="Marca :" />
			</div>
			<div class="div50">
				<p:outputLabel id="idbpMarca" value="#{baseproductoselecbean.baseProducto.marca.nombre}" />
			</div>
			<div class="footer"></div>
		</div>
		
		<div style="padding-top: 5px;">
			<div class="div50" align="right">
				<p:outputLabel styleClass="tlabel" value="Precio :" />
			</div>
			<div class="div50">
				<p:outputLabel id="idbpPrecio" value="#{baseproductoselecbean.baseProducto.precio}">
					<f:convertNumber pattern="#{msj.numero_formato}" />
				</p:outputLabel>
				<p:outputLabel value=" Bs" />
			</div>
			<div class="footer"></div>
		</div>
		
	</p:panel>	

</ui:composition>