<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<p:panel header="Información Estilo">
		<center>
			<h:panelGrid id="pnlGrdData" columns="2" cellspacing="2"
				cellpadding="0">

				<p:outputLabel value="Code:" rendered="#{!estilobean.nuevo}" />
				<p:outputLabel value="#{estilobean.entidad.code}"
					rendered="#{!estilobean.nuevo}" />

				<p:outputLabel for="tbxNombre" value="Nombre: *" />
				<p:inputText id="tbxNombre" label="Nombre" size="50"
					value="#{estilobean.entidad.nombre}" />

			</h:panelGrid>
			<br />
			<div class="obligatorio">(*) Campos obligatorios!</div>
		</center>
	</p:panel>

</ui:composition>