<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Marca</center>
		</h1>

		<table class="borderHidden" cellpadding="0" cellspacing="0"
			width="100%" border="0">
			<tr>
				<td width="30%"><h:form id="mainForm">
						<div>
							<p:outputLabel for="idtbxNombre" value="Marca:" />
							<p:inputText id="idtbxNombre" label="Nombre" size="50"
								value="#{marcabean.cadenaBusqueda}">
								<p:ajax event="keyup" listener="#{marcabean.buscar()}"
									update=":mainForm:idtablamarca" />
							</p:inputText>
						</div>
						<p:dataTable id="idtablamarca" var="row" value="#{marcabean.list}"
							selection="#{marcabean.selected}" selectionMode="single"
							emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}"
							rowIndexVar="rowIndex">

							<f:facet name="header">
								<div>
									<div class="div40 subtitle_table_left">Página:
										#{marcabean.pagina} de #{marcabean.cantidadPaginas}</div>
									<div class="div20 subtitle_table_center">marcas</div>
									<div class="div40 subtitle_table_right">Registros:
										#{marcabean.cantidadRegistros}</div>
									<div class="footer"></div>
								</div>
							</f:facet>

							<p:ajax event="rowSelect" listener="#{marcabean.onRowSelect}"
								update=":mainFormmarcaEdit" />

							<p:column headerText="Nro" width="10%">
								<h:outputText value="#{rowIndex + 1}" />
							</p:column>

							<p:column sortBy="#{row.nombre}" headerText="Nombre" width="90%">
								<h:outputText value="#{row.nombre}" />
							</p:column>

							<f:facet name="footer">
								<p:commandLink actionListener="#{marcabean.firstpage()}"
									update=":mainForm:idtablamarca">
									<h:graphicImage value="#{msj.navfirst}" />
								</p:commandLink>
								<p:commandLink actionListener="#{marcabean.previouspage()}"
									update=":mainForm:idtablamarca">
									<h:graphicImage value="#{msj.navprevious}" />
								</p:commandLink>
								<p:commandLink actionListener="#{marcabean.nextpage()}"
									update=":mainForm:idtablamarca">
									<h:graphicImage value="#{msj.navnext}" />
								</p:commandLink>
								<p:commandLink actionListener="#{marcabean.lastpage()}"
									update=":mainForm:idtablamarca">
									<h:graphicImage value="#{msj.navlast}" />
								</p:commandLink>
							</f:facet>

						</p:dataTable>
					</h:form></td>
				<td width="15%"></td>
				<td width="40%"><h:form id="mainFormmarcaEdit">
						<ui:include src="Marca_edit.xhtml" />
						<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
							cellpadding="0">

							<p:commandButton value="Guardar" icon="ui-icon-disk"
								style="width:100px;" actionListener="#{marcabean.guardar()}"
								update=":mainFormmarcaEdit:pnlGrdData :mainForm:idtablamarca" />

							<p:commandButton value="Eliminar" icon="ui-icon-document"
								style="width:100px;" actionListener="#{marcabean.eliminar()}"
								update=":mainFormmarcaEdit:pnlGrdData :mainForm:idtablamarca" />

							<p:commandButton value="Nuevo" icon="ui-icon-document"
								style="width:100px;" actionListener="#{marcabean.nuevo()}"
								update=":mainFormmarcaEdit:pnlGrdData :mainForm:idtablamarca" />

						</h:panelGrid>
					</h:form></td>
				<td width="15%"></td>
			</tr>
		</table>

	</ui:define>
</ui:composition>