<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Prenda</center>
		</h1>

		<table class="borderHidden" cellpadding="0" cellspacing="0"
			width="100%" border="0">
			<tr>
				<td width="30%"><h:form id="mainForm">
						<div>
							<p:outputLabel for="idtbxNombre" value="prenda:" />
							<p:inputText id="idtbxNombre" label="Nombre" size="50"
								value="#{prendabean.cadenaBusqueda}">
								<p:ajax event="keyup" listener="#{prendabean.buscar()}"
									update=":mainForm:idtablaprenda" />
							</p:inputText>
						</div>
						<p:dataTable id="idtablaprenda" var="row"
							value="#{prendabean.list}"
							selection="#{prendabean.selected}" selectionMode="single"
							emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}"
							rowIndexVar="rowIndex">

							<f:facet name="header">
								<div>
									<div class="div40 subtitle_table_left">Página:
										#{prendabean.pagina} de #{prendabean.cantidadPaginas}</div>
									<div class="div20 subtitle_table_center">Prendas</div>
									<div class="div40 subtitle_table_right">Registros:
										#{prendabean.cantidadRegistros}</div>
									<div class="footer"></div>
								</div>
							</f:facet>

							<p:ajax event="rowSelect"
								listener="#{prendabean.onRowSelect}"
								update=":mainFormprendaEdit" />

							<p:column headerText="Nro" width="10%">
								<h:outputText value="#{rowIndex + 1}" />
							</p:column>

							<p:column sortBy="#{row.nombre}" headerText="Nombre" width="90%">
								<h:outputText value="#{row.nombre}" />
							</p:column>

							<f:facet name="footer">
								<p:commandLink actionListener="#{prendabean.firstpage()}"
									update=":mainForm:idtablaprenda">
									<h:graphicImage value="#{msj.navfirst}" />
								</p:commandLink>
								<p:commandLink actionListener="#{prendabean.previouspage()}"
									update=":mainForm:idtablaprenda">
									<h:graphicImage value="#{msj.navprevious}" />
								</p:commandLink>
								<p:commandLink actionListener="#{prendabean.nextpage()}"
									update=":mainForm:idtablaprenda">
									<h:graphicImage value="#{msj.navnext}" />
								</p:commandLink>
								<p:commandLink actionListener="#{prendabean.lastpage()}"
									update=":mainForm:idtablaprenda">
									<h:graphicImage value="#{msj.navlast}" />
								</p:commandLink>
							</f:facet>

						</p:dataTable>
					</h:form></td>
				<td width="15%"></td>
				<td width="40%"><h:form id="mainFormprendaEdit">
						<ui:include src="Prenda_edit.xhtml" />
						<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
							cellpadding="0">

							<p:commandButton value="Guardar" icon="#{msj.icon_guardar}"
								style="width:100px;"
								actionListener="#{prendabean.guardar()}"
								update=":mainForm:idtablaprenda :mainFormprendaEdit:pnlGrdData" />

							<p:commandButton value="Eliminar" icon="#{msj.icon_eliminar}"
								style="width:100px;"
								actionListener="#{prendabean.eliminar()}"
								update=":mainForm:idtablaprenda :mainFormprendaEdit:pnlGrdData" />

							<p:commandButton value="Nuevo" icon="#{msj.icon_nuevo}"
								style="width:100px;" actionListener="#{prendabean.nuevo()}"
								update=":mainForm:idtablaprenda :mainFormprendaEdit:pnlGrdData" />

						</h:panelGrid>
					</h:form></td>
				<td width="15%"></td>
			</tr>
		</table>

	</ui:define>
</ui:composition>