<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:accordionPanel>
		<p:tab title="Filtros">
			<h:panelGrid id="idFiltrosBaseProducto" columns="6" cellspacing="3"
				cellpadding="0">

				<p:outputLabel for="idtbxEstilo" value="Estilo:" />
				<p:selectOneMenu id="idtbxEstilo"
					value="#{baseproductobean.filtroEstilo}" style="width:200px">
					<p:ajax event="change" listener="#{baseproductobean.buscar()}"
						update=":mainForm:idtablabaseproducto" />
					<f:selectItem itemLabel="Filtre por un estilo" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{estilobean.list}" var="estilo"
						itemLabel="#{estilo.nombre}" itemValue="#{estilo.code}" />
				</p:selectOneMenu>

				<p:outputLabel for="idtbxMarca" value="Marca:" />
				<p:selectOneMenu id="idtbxMarca"
					value="#{baseproductobean.filtroMarca}" style="width:200px">
					<p:ajax event="change" listener="#{baseproductobean.buscar()}"
						update=":mainForm:idtablabaseproducto" />
					<f:selectItem itemLabel="Filtre por una marca" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{marcabean.list}" var="marca"
						itemLabel="#{marca.nombre}" itemValue="#{marca.code}" />
				</p:selectOneMenu>

				<p:outputLabel for="idtbxTipoPrenda" value="Prenda:" />
				<p:selectOneMenu id="idtbxTipoPrenda"
					value="#{baseproductobean.filtroTipoPrenda}" style="width:200px">
					<p:ajax event="change" listener="#{baseproductobean.buscar()}"
						update=":mainForm:idtablabaseproducto" />
					<f:selectItem itemLabel="Filtre por una prenda" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{tipoprendabean.list}" var="tipoprenda"
						itemLabel="#{tipoprenda.nombre}" itemValue="#{tipoprenda.code}" />
				</p:selectOneMenu>
			</h:panelGrid>
		</p:tab>
	</p:accordionPanel>
	
	<p:commandButton value="Add" />
	
	<p:dataTable id="idtablabaseproducto" var="row"
		value="#{baseproductobean.list}"
		selection="#{baseproductobean.selected}" selectionMode="single"
		emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}"
		scrollRows="5">

		<f:facet name="header">
			<div>
				<div class="div40 subtitle_table_left">Página:
					#{baseproductobean.pagina} de #{baseproductobean.cantidadPaginas}</div>
				<div class="div20 subtitle_table_center">BaseProductoes</div>
				<div class="div40 subtitle_table_right">Registros:
					#{baseproductobean.cantidadRegistros}</div>
				<div class="footer"></div>
			</div>
		</f:facet>

		<p:ajax event="rowSelect" listener="#{baseproductobean.onRowSelect}"
			update=":idtablaproducto" />

		<p:column headerText="IDs" width="10%">
			<p:panelGrid columns="2">
				<p:outputLabel for="idbpcode" value="Id: " />
				<p:outputLabel id="idbpcodigo" value="#{row.code}" />

				<p:outputLabel for="idbpcodigo" value="Código: " />
				<p:outputLabel id="idbpcodigo" value="#{row.codigo}" />
			</p:panelGrid>
		</p:column>

		<p:column headerText="Marca / Estilo / Prenda" width="10%">
			<p:panelGrid columns="2">
				<p:outputLabel for="idbpmarca" value="Marca: " />
				<p:outputLabel id="idbpmarca" value="#{row.marca.nombre}" />

				<p:outputLabel for="idbpestilo" value="Marca: " />
				<p:outputLabel id="idbpestilo" value="#{row.estilo.nombre}" />

				<p:outputLabel for="idbptipoprenda" value="Prenda: " />
				<p:outputLabel id="idbptipoprenda" value="#{row.tipoprenda.nombre}" />
			</p:panelGrid>
		</p:column>

		<p:column headerText="Cantidad / Precio / Precio Promo" width="30%">
			<p:panelGrid columns="3">
				<p:outputLabel for="idbpcantidad" value="Cantidad: " />
				<p:outputLabel id="idbpcantidad" value="#{row.cantidad}" />
				<p:outputLabel value="" />

				<p:outputLabel for="idbpprecio" value="Precio: " />
				<p:outputLabel id="idbpprecio" value="#{row.precio}">
					<f:convertNumber pattern="#.###" />
				</p:outputLabel>
				<p:outputLabel value="" />

				<p:outputLabel for="idbppreciopromo" value="Precio Promo: " />
				<p:outputLabel id="idbppreciopromo" value="#{row.precioPromo}">
					<f:convertNumber pattern="#,##0.00" />
				</p:outputLabel>
				<p:outputLabel value="#{row.esporcentaje ? '%' : '' }" />
			</p:panelGrid>
		</p:column>

		<p:column headerText="?" width="30%">
			<p:panelGrid columns="2">
				<p:outputLabel for="idbpespromo" value="Es Promo?: " />
				<p:outputLabel id="idbpespromo"
					value="#{row.espromo ? 'Si' : 'No' }" />

				<p:outputLabel for="idbpesporcentaje" value="En %?: " />
				<p:outputLabel id="idbpesporcentaje"
					value="#{row.esporcentaje ? 'Si' : 'No' }" />
			</p:panelGrid>
		</p:column>

		<f:facet name="footer">
			<p:commandLink actionListener="#{baseproductobean.firstpage()}"
				update=":mainForm:idtablabaseproducto">
				<h:graphicImage value="#{msj.navfirst}" />
			</p:commandLink>
			<p:commandLink actionListener="#{baseproductobean.previouspage()}"
				update=":mainForm:idtablabaseproducto">
				<h:graphicImage value="#{msj.navprevious}" />
			</p:commandLink>
			<p:commandLink actionListener="#{baseproductobean.nextpage()}"
				update=":mainForm:idtablabaseproducto">
				<h:graphicImage value="#{msj.navnext}" />
			</p:commandLink>
			<p:commandLink actionListener="#{baseproductobean.lastpage()}"
				update=":mainForm:idtablabaseproducto">
				<h:graphicImage value="#{msj.navlast}" />
			</p:commandLink>
		</f:facet>

	</p:dataTable>

	<p:separator title="Productos Físicos" />

	<p:dataTable id="idtablaproducto" var="row"
		value="#{productobean.list}" selection="#{productobean.selected}"
		selectionMode="single" emptyMessage="Ningun dato encontrado..."
		rowKey="#{row.code}" scrollHeight="50">

		<f:facet name="header"> Productos </f:facet>

		<p:ajax event="rowSelect"
			listener="#{productobean.onRowSelectProducto}" />

		<p:column headerText="Nombre" width="30%">
			<p:inputText id="idprnombre" value="#{row.nombre}" />
		</p:column>

		<p:column headerText="Color" width="30%">
			<p:selectOneMenu id="idtbxColor" value="#{row.color.code}"
				style="width:200px">
				<f:selectItem itemLabel="Filtre por un color" itemValue="#{null}"
					noSelectionOption="true" />
				<f:selectItems value="#{colorbean.list}" var="color"
					itemLabel="#{color.nombre}" itemValue="#{color.code}" />
			</p:selectOneMenu>
		</p:column>

		<p:column headerText="Talla" width="30%">
			<p:selectOneMenu id="idtbxTalla" value="#{row.talla.code}"
				style="width:200px">
				<f:selectItem itemLabel="Filtre por un talla" itemValue="#{null}"
					noSelectionOption="true" />
				<f:selectItems value="#{tallabean.list}" var="talla"
					itemLabel="#{talla.nombre}" itemValue="#{talla.code}" />
			</p:selectOneMenu>
		</p:column>

	</p:dataTable>

	<p:separator />

	<p:commandButton value="Add" icon="ui-icon-disk" style="width:100px;"
		actionListener="#{productobean.guardar()}"
		update=":mainFormProductoEdit:pnlGrdData :mainForm" />

</ui:composition>