<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Producto</center>
		</h1>

		<div>
			<div class="div60">

				<h:form id="mainForm">

					<p:confirmDialog global="true" appendTo="@(body)">
						<p:commandButton value="Si" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>

					<p:commandButton value="Nuevo" icon="ui-icon-document"
						style="width:140px;"
						actionListener="#{productobean.nuevaEntidad()}"
						update=":mainFormProducto" />

					<p:commandButton value="Editar" icon="ui-icon-pencil"
						style="width:140px;" actionListener="#{productobean.editar()}"
						update=":mainFormProducto" />

					<p:commandButton value="Eliminar" icon="ui-icon-trash"
						style="width:140px;" actionListener="#{productobean.eliminar()}"
						update=":mainFormProducto">
						<p:confirm header="Confirmación"
							message="¿Esta seguro que desea eliminar este registro?"
							icon="ui-icon-alert" />
					</p:commandButton>

					<p:accordionPanel>
						<p:tab title="Filtros">

							<table border="0" cellpadding="0" cellspacing="5">
								<tr>
									<td>Code</td>
									<td>Codigo</td>
									<td>Estilo</td>
									<td>Marca</td>
									<td>Tipo de Prenda</td>
								</tr>
								<tr>
									<td><p:inputText id="idtbxCode" label="Code" size="15"
											value="#{baseproductobean.filtroCode}">
											<p:ajax event="keyup" listener="#{baseproductobean.buscar()}"
												update=":mainForm:idtablabaseproducto" />
										</p:inputText></td>
									<td><p:inputText id="idtbxCodigo" label="Codigo" size="15"
											value="#{baseproductobean.filtroCodigo}">
											<p:ajax event="keyup" listener="#{baseproductobean.buscar()}"
												update=":mainForm:idtablabaseproducto" />
										</p:inputText></td>
									<td><p:selectOneMenu id="idtbxEstilo"
											value="#{baseproductobean.filtroEstilo}" style="width:100px">
											<p:ajax event="change"
												listener="#{baseproductobean.buscar()}"
												update=":mainForm:idtablabaseproducto" />
											<f:selectItem itemLabel="Filtre por un estilo"
												itemValue="#{null}" noSelectionOption="true" />
											<f:selectItems value="#{estilobean.list}" var="estilo"
												itemLabel="#{estilo.nombre}" itemValue="#{estilo.code}" />
										</p:selectOneMenu></td>
									<td><p:selectOneMenu id="idtbxMarca"
											value="#{baseproductobean.filtroMarca}" style="width:100px">
											<p:ajax event="change"
												listener="#{baseproductobean.buscar()}"
												update=":mainForm:idtablabaseproducto" />
											<f:selectItem itemLabel="Filtre por una marca"
												itemValue="#{null}" noSelectionOption="true" />
											<f:selectItems value="#{marcabean.list}" var="marca"
												itemLabel="#{marca.nombre}" itemValue="#{marca.code}" />
										</p:selectOneMenu></td>
									<td><p:selectOneMenu id="idtbxPrenda"
											value="#{baseproductobean.filtroPrenda}"
											style="width:100px">
											<p:ajax event="change"
												listener="#{baseproductobean.buscar()}"
												update=":mainForm:idtablabaseproducto" />
											<f:selectItem itemLabel="Filtre por un tipo de prenda"
												itemValue="#{null}" noSelectionOption="true" />
											<f:selectItems value="#{prendabean.list}"
												var="prenda" itemLabel="#{prenda.nombre}"
												itemValue="#{prenda.code}" />
										</p:selectOneMenu></td>
								</tr>
							</table>						
						</p:tab>
					</p:accordionPanel>
					<p:dataTable id="idtablabaseproducto" var="row"
						value="#{baseproductobean.list}"
						selection="#{baseproductobean.selected}" selectionMode="single"
						emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}"
						scrollHeight="50">

						<f:facet name="header">
							<div>
								<div class="div40 subtitle_table_left">Página:
									#{baseproductobean.pagina} de
									#{baseproductobean.cantidadPaginas}</div>
								<div class="div20 subtitle_table_center">Productos</div>
								<div class="div40 subtitle_table_right">Registros:
									#{baseproductobean.cantidadRegistros}</div>
								<div class="footer"></div>
							</div>
						</f:facet>

						<p:ajax event="rowSelect"
							listener="#{productobean.onRowSelectBaseProducto}"
							update=":mainFormProducto" />

						<p:column headerText="Foto" width="30%">
							<p:panel>	
								panel para la foto
							</p:panel>
							<h:outputText value="#{row.code} " />
							<h:outputText value="| #{row.codigo} "
								rendered="#{not empty row.codigo}" />
						</p:column>

						<p:column sortBy="#{row.code}" headerText="Destalle" width="70%">

							<h:panelGrid columns="2">
								<p:outputLabel for="idpmarca" value="Marca" />
								<p:outputLabel id="idpmarca" value="#{row.marca.nombre}" />

								<p:outputLabel for="idpestilo" value="Estilo" />
								<p:outputLabel id="idpestilo" value="#{row.estilo.nombre}" />

								<p:outputLabel for="idpprenda" value="Prenda" />
								<p:outputLabel id="idpprenda"
									value="#{row.prenda.nombre}" />

								<p:outputLabel for="idpcantidad" value="Cantidad" />
								<p:outputLabel id="idpcantidad" value="#{row.cantidad}" />

								<p:outputLabel for="idpprecio" value="Precio" />
								<p:outputLabel id="idpprecio" value="#{row.precio}">
									<f:convertNumber pattern="#,##0.00" />
								</p:outputLabel>

								<p:outputLabel for="idppreciopromo"
									value="Precio Promo #{row.esporcentaje ? '%' : '' }" />
								<p:outputLabel id="idppreciopromo" value="#{row.precioPromo}">
									<f:convertNumber pattern="#,##0.00" />
								</p:outputLabel>

								<p:outputLabel for="idpespromo" value="En Promoción?" />
								<p:outputLabel id="idpespromo"
									value="#{row.espromo ? 'Si' : 'No' }" />

								<p:outputLabel for="idpprecioporcentaje"
									value="Precio promo en porcentaje?" />
								<p:outputLabel id="idpprecioporcentaje"
									value="#{row.esporcentaje ? 'Si' : 'No' }" />
							</h:panelGrid>

						</p:column>

						<f:facet name="footer">
							<p:commandLink actionListener="#{baseproductobean.firstpage()}"
								update=":mainFormProducto:idtablaproducto">
								<h:graphicImage value="#{msj.navfirst}" />
							</p:commandLink>
							<p:commandLink
								actionListener="#{baseproductobean.previouspage()}"
								update=":mainFormProducto:idtablaproducto">
								<h:graphicImage value="#{msj.navprevious}" />
							</p:commandLink>
							<p:commandLink actionListener="#{baseproductobean.nextpage()}"
								update=":mainFormProducto:idtablaproducto">
								<h:graphicImage value="#{msj.navnext}" />
							</p:commandLink>
							<p:commandLink actionListener="#{baseproductobean.lastpage()}"
								update=":mainFormProducto:idtablaproducto">
								<h:graphicImage value="#{msj.navlast}" />
							</p:commandLink>
						</f:facet>

					</p:dataTable>
				</h:form>
			</div>
			<div style="width: 1%; float: left;">-</div>
			<div style="width: 39%; float: left;">
				<h:form id="mainFormProducto">

					<p:commandButton value="Nuevo" icon="ui-icon-document"
						style="width:140px;"
						actionListener="#{productobean.nuevaEntidad()}"
						update=":mainFormProducto" />

					<p:commandButton value="Editar" icon="ui-icon-pencil"
						style="width:140px;" actionListener="#{productobean.editar()}"
						update=":mainFormProducto" />

					<p:commandButton value="Eliminar" icon="ui-icon-trash"
						style="width:140px;" actionListener="#{productobean.eliminar()}"
						update=":mainFormProducto">
						<p:confirm header="Confirmación"
							message="¿Esta seguro que desea eliminar este registro?"
							icon="ui-icon-alert" />
					</p:commandButton>

					<p:accordionPanel>
						<p:tab title="Filtros">
							<table border="0" cellpadding="0" cellspacing="5">
								<tr>
									<td>Talla</td>
									<td>Color</td>
									<td>Estado</td>
								</tr>
								<tr>
									<td><p:selectOneMenu id="idptbxTalla_td"
											value="#{productobean.filtroTalla}" style="width:100px">
											<p:ajax event="change" listener="#{productobean.buscar()}"
												update=":mainFormProducto:idtablaproducto" />
											<f:selectItem itemLabel="Filtre por una talla"
												itemValue="#{null}" noSelectionOption="true" />
											<f:selectItems value="#{tallabean.list}" var="talla"
												itemLabel="#{talla.nombre}" itemValue="#{talla.code}" />
										</p:selectOneMenu></td>
									<td><p:selectOneMenu id="idptbxColor_td"
											value="#{productobean.filtroColor}" style="width:100px">
											<p:ajax event="change" listener="#{productobean.buscar()}"
												update=":mainFormProducto:idtablaproducto" />
											<f:selectItem itemLabel="Filtre por un color"
												itemValue="#{null}" noSelectionOption="true" />
											<f:selectItems value="#{colorbean.list}" var="color"
												itemLabel="#{color.nombre}" itemValue="#{color.code}" />
										</p:selectOneMenu></td>
									<td><p:inputText id="idptbxEstado_td" label="Estado"
											size="15" value="#{productobean.filtroEstado}">
											<p:ajax event="keyup" listener="#{productobean.buscar()}"
												update=":mainFormProducto:idtablaproducto" />
										</p:inputText></td>
								</tr>
							</table>

						</p:tab>
					</p:accordionPanel>

					<p:dataTable id="idtablaproducto" var="rowp"
						value="#{productobean.list}" selection="#{productobean.selected}"
						selectionMode="single" emptyMessage="Ningun dato encontrado..."
						rowKey="#{row.code}" scrollHeight="50">

						<f:facet name="header">
							<div>
								<div class="div40 subtitle_table_left">Página:
									#{productobean.pagina} de #{productobean.cantidadPaginas}</div>
								<div class="div20 subtitle_table_center">Productoes</div>
								<div class="div40 subtitle_table_right">Registros:
									#{productobean.cantidadRegistros}</div>
								<div class="footer"></div>
							</div>
						</f:facet>

						<p:ajax event="rowSelect"
							listener="#{productobean.onRowSelectProducto}" />

						<p:column headerText="Color" width="40%">
							<h:outputText value="#{rowp.color.nombre} " />
						</p:column>

						<p:column headerText="Talla" width="40%">
							<h:outputText value="#{rowp.talla.nombre} " />
						</p:column>

						<p:column headerText="Estado" width="40%">
							<h:outputText value="#{rowp.estado} " />
						</p:column>

						<f:facet name="footer">
							<p:commandLink actionListener="#{productobean.firstpage()}"
								update=":mainFormProducto:idtablaproducto">
								<h:graphicImage value="#{msj.navfirst}" />
							</p:commandLink>
							<p:commandLink actionListener="#{productobean.previouspage()}"
								update=":mainFormProducto:idtablaproducto">
								<h:graphicImage value="#{msj.navprevious}" />
							</p:commandLink>
							<p:commandLink actionListener="#{productobean.nextpage()}"
								update=":mainFormProducto:idtablaproducto">
								<h:graphicImage value="#{msj.navnext}" />
							</p:commandLink>
							<p:commandLink actionListener="#{productobean.lastpage()}"
								update=":mainFormProducto:idtablaproducto">
								<h:graphicImage value="#{msj.navlast}" />
							</p:commandLink>
						</f:facet>

					</p:dataTable>

				</h:form>

			</div>
			<div class="footer"></div>
		</div>
		
		<p:dialog id="dlgNuevoEditarBProducto" widgetVar="dlgNuevoEditarBP" 
				closeOnEscape="false" header="Nuevo/editar Base Producto" modal="true" appendTo="@(body)"
				visible="#{baseproductobean.visibleNuevoEditar}" closable="true">
			<h:form id="mainFormBaseproductoEdit">
				<ui:include src="BaseProducto_edit.xhtml" />
			</h:form>
		</p:dialog>
		
		<p:dialog id="dlgNuevoEditarProducto" widgetVar="dlgNuevoEditarP" 
				closeOnEscape="false" header="Nuevo/editar Producto" modal="true" appendTo="@(body)"
				visible="#{productobean.visibleNuevoEditar}" closable="true">
			<h:form id="mainFormproductoEdit">
				<ui:include src="Producto_edit.xhtml" />
			</h:form>
		</p:dialog>
		
	</ui:define>
</ui:composition>