<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div>
		<p:accordionPanel>
			<p:tab title="Filtros">
				<table>
					<tr>
						<td>Id Cátalogo</td>
						<td>Id Producto</td>
						<td>Prenda</td>
						<td>Estilo</td>
						<td>Marca</td>
						<td>Talla</td>
						<td>Color</td>
						<td>Nombre</td>						
					</tr>
					<tr>
						
						<td><p:inputText id="idtbxCatalogo" label="Catálogo"
								size="#{msj.caja_filtro_width}" value="#{productoinventariobean.filtroCatalogo}">
								<p:ajax event="keyup"
									listener="#{productoinventariobean.buscar()}"
									update=":mainFormProductoSelected:idtablaproductoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxCode" label="Code" size="#{msj.caja_filtro_width}"
								value="#{productoinventariobean.filtroCode}">
								<p:ajax event="keyup"
									listener="#{productoinventariobean.buscar()}"
									update=":mainFormProductoSelected:idtablaproductoselected" />
							</p:inputText></td>						
						<td><p:inputText id="idtbxPrenda" label="Prenda" size="#{msj.caja_filtro_width}"
								value="#{productoinventariobean.filtroPrenda}">
								<p:ajax event="keyup"
									listener="#{productoinventariobean.buscar()}"
									update=":mainFormProductoSelected:idtablaproductoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxEstilo" label="Estilo" size="#{msj.caja_filtro_width}"
								value="#{productoinventariobean.filtroEstilo}">
								<p:ajax event="keyup"
									listener="#{productoinventariobean.buscar()}"
									update=":mainFormProductoSelected:idtablaproductoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxMarca" label="Marca" size="#{msj.caja_filtro_width}"
								value="#{productoinventariobean.filtroMarca}">
								<p:ajax event="keyup"
									listener="#{productoinventariobean.buscar()}"
									update=":mainFormProductoSelected:idtablaproductoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxTalla" label="Talla" size="#{msj.caja_filtro_width}"
								value="#{productoinventariobean.filtroTalla}">
								<p:ajax event="keyup"
									listener="#{productoinventariobean.buscar()}"
									update=":mainFormProductoSelected:idtablaproductoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxColor" label="Color" size="#{msj.caja_filtro_width}"
								value="#{productoinventariobean.filtroColor}">
								<p:ajax event="keyup"
									listener="#{productoinventariobean.buscar()}"
									update=":mainFormProductoSelected:idtablaproductoselected" />
							</p:inputText></td>
						<td><p:inputText id="idtbxNombre" label="Nombre" size="#{msj.caja_filtro_width}"
								value="#{productoinventariobean.filtroNombre}">
								<p:ajax event="keyup"
									listener="#{productoinventariobean.buscar()}"
									update=":mainFormProductoSelected:idtablaproductoselected" />
							</p:inputText></td>						

					</tr>
				</table>
			</p:tab>
		</p:accordionPanel>
	</div>
	<p:dataTable id="idtablaproductoselected" var="row"
		value="#{productoinventariobean.list}"
		selection="#{productoinventariobean.selected}" selectionMode="single"
		emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}"
		rowStyleClass="#{ row.estado eq 'PEDIDO' ? 'rowPedidoTable' : null } #{row.estado eq 'EN STOCK' ? 'rowStockTable' : null } #{row.estado eq 'TRANSITO' ? 'rowTransitoTable' : null }">

		<f:facet name="header">
			<div>
				<div class="div40 subtitle_table_left">Página:
					#{productoinventariobean.pagina} de
					#{productoinventariobean.cantidadPaginas}</div>
				<div class="div20 subtitle_table_center">Productos</div>
				<div class="div40 subtitle_table_right">Registros:
					#{productoinventariobean.cantidadRegistros}</div>
				<div class="footer"></div>
			</div>
		</f:facet>

		<p:ajax event="rowSelect"
			listener="#{productoinventariobean.onRowSelect}" />
		
		<p:column headerText="Id Catálogo" >
			<h:outputText value="#{row.baseproducto.code}" />
		</p:column>
		
		<p:column headerText="Id Producto" >
			<h:outputText value="#{row.code}" />
		</p:column>

		<p:column headerText="Código" >
			<h:outputText value="#{row.baseproducto.codigo}" />
		</p:column>

		<p:column headerText="Prenda" >
			<h:outputText value="#{row.baseproducto.prenda.nombre}" />
		</p:column>

		<p:column headerText="Estilo" >
			<h:outputText value="#{row.baseproducto.estilo.nombre}" />
		</p:column>

		<p:column headerText="Marca" >
			<h:outputText value="#{row.baseproducto.marca.nombre}" />
		</p:column>
		
		<p:column headerText="Almacen" >
			<h:outputText value="#{row.almacen.nombre}" />
		</p:column>

		<p:column headerText="Nombre" >
			<h:outputText value="#{row.nombre}" />
		</p:column>

		<p:column headerText="Talla" >
			<h:outputText value="#{row.talla.nombre}" />
		</p:column>

		<p:column headerText="Color" >
			<h:outputText value="#{row.color.nombre}" />
		</p:column>		

		<p:column headerText="Estado" >
			<h:outputText value="#{row.estado}" />
		</p:column>

		<f:facet name="footer">
			<p:commandLink actionListener="#{productoinventariobean.firstpage()}"
				update=":mainFormProductoSelected:idtablaproductoselected">
				<h:graphicImage value="#{msj.navfirst}" />
			</p:commandLink>
			<p:commandLink
				actionListener="#{productoinventariobean.previouspage()}"
				update=":mainFormProductoSelected:idtablaproductoselected">
				<h:graphicImage value="#{msj.navprevious}" />
			</p:commandLink>
			<p:commandLink actionListener="#{productoinventariobean.nextpage()}"
				update=":mainFormProductoSelected:idtablaproductoselected">
				<h:graphicImage value="#{msj.navnext}" />
			</p:commandLink>
			<p:commandLink actionListener="#{productoinventariobean.lastpage()}"
				update=":mainFormProductoSelected:idtablaproductoselected">
				<h:graphicImage value="#{msj.navlast}" />
			</p:commandLink>
		</f:facet>

	</p:dataTable>

</ui:composition>