<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	
	<div>
		<div class="div40">
			<p:outputPanel layout="block" id="personPicture">
        		<p:graphicImage height="150" value="#{uploadBean.uploadedFileAsStream}"
            		rendered="#{uploadBean.uploadedFileAsStream != null}" />
    		</p:outputPanel>
        	<p:fileUpload auto="true" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" value="#{uploadbean.file}" update="personPicture" />
			</div>
		<div class="div60"></div>
		<div class="foot"></div>
	</div>
	
	<h:panelGrid id="pnlGrdData" columns="3" cellspacing="5" cellpadding="2"> 			

		<p:outputLabel value="ID:" rendered="#{!productobean.nuevo}" />
		<p:outputLabel value="#{productobean.entidad.code}" rendered="#{!productobean.nuevo}" />
		<p:outputLabel  value="-" rendered="#{!productobean.nuevo}"/>

		<p:outputLabel for="tbxColor" value="Color:" />
		<p:selectOneMenu id="tbxColor" value="#{productobean.colorCode}"
			style="width:200px" required="true"
			requiredMessage="Campo Color es requerido">
			<f:selectItem itemLabel="Seleccione un color" itemValue=""
				noSelectionOption="true" />
			<f:selectItems value="#{colorbean.list}" var="color"
				itemLabel="#{color.nombre}" itemValue="#{color.code}" />
		</p:selectOneMenu>
		<p:outputLabel  value=""/>

		<p:outputLabel for="tbxTalla" value="Talla:" />
		<p:selectOneMenu id="tbxTalla" value="#{productobean.tallaCode}"
			style="width:200px" required="true"
			requiredMessage="Campo Talla es requerido">
			<f:selectItem itemLabel="Seleccione una talla" itemValue=""
				noSelectionOption="true" />
			<f:selectItems value="#{tallabean.list}" var="talla"
				itemLabel="#{talla.nombre}" itemValue="#{talla.code}" />
		</p:selectOneMenu>
		<p:outputLabel  value=""/>								
		
	</h:panelGrid> 

	<br />
	<div class="obligatorio">(*) Campos obligatorios!</div>

	<p:separator />

	<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
		cellpadding="0">

		<p:commandButton value="Guardar" icon="ui-icon-disk"
			style="width:100px;" actionListener="#{productobean.guardar()}"
			update=":mainFormBaseProductoEdit:pnlGrdData :mainForm" />

		<p:commandButton value="Cancelar" icon="ui-icon-document"
			style="width:100px;" />

	</h:panelGrid>

</ui:composition>