<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">
		<div>
			<div class="div30">-</div>
			<div class="div40">
				<div class="titulo">
					<h:graphicImage url="#{msj.img_producto}"
						style="margin-right: 2px;" />
					Productos
				</div>
			</div>
			<div class="div30"></div>
			<div class="footer"></div>
		</div>
		<br />
		
		<div>
			<h:form id="mainForm">

				<p:accordionPanel activeIndex="-1">
					<p:tab title="Filtros">

						<table border="0" cellpadding="0" cellspacing="5">
							<tr>
								<td>Code</td>
								<td>Codigo</td>
								<td>Estilo</td>
								<td>Marca</td>
								<td>Tipo de Prenda</td>
							</tr>
							<tr>
								<td><p:inputText id="idtbxCode" label="Code" size="15"
										value="#{baseproductobean.filtroCode}">
										<p:ajax event="keyup" listener="#{baseproductobean.buscar()}"
											update=":mainForm:idtablabaseproducto" />
									</p:inputText></td>
								<td><p:inputText id="idtbxCodigo" label="Codigo" size="15"
										value="#{baseproductobean.filtroCodigo}">
										<p:ajax event="keyup" listener="#{baseproductobean.buscar()}"
											update=":mainForm:idtablabaseproducto" />
									</p:inputText></td>
								<td><p:selectOneMenu id="idtbxEstilo"
										value="#{baseproductobean.filtroEstilo}" style="width:100px">
										<p:ajax event="change" listener="#{baseproductobean.buscar()}"
											update=":mainForm:idtablabaseproducto" />
										<f:selectItem itemLabel="Filtre por un estilo"
											itemValue="#{null}" noSelectionOption="true" />
										<f:selectItems value="#{estilobean.list}" var="estilo"
											itemLabel="#{estilo.nombre}" itemValue="#{estilo.code}" />
									</p:selectOneMenu></td>
								<td><p:selectOneMenu id="idtbxMarca"
										value="#{baseproductobean.filtroMarca}" style="width:100px">
										<p:ajax event="change" listener="#{baseproductobean.buscar()}"
											update=":mainForm:idtablabaseproducto" />
										<f:selectItem itemLabel="Filtre por una marca"
											itemValue="#{null}" noSelectionOption="true" />
										<f:selectItems value="#{marcabean.list}" var="marca"
											itemLabel="#{marca.nombre}" itemValue="#{marca.code}" />
									</p:selectOneMenu></td>
								<td><p:selectOneMenu id="idtbxPrenda"
										value="#{baseproductobean.filtroPrenda}" style="width:100px">
										<p:ajax event="change" listener="#{baseproductobean.buscar()}"
											update=":mainForm:idtablabaseproducto" />
										<f:selectItem itemLabel="Filtre por un tipo de prenda"
											itemValue="#{null}" noSelectionOption="true" />
										<f:selectItems value="#{prendabean.list}" var="prenda"
											itemLabel="#{prenda.nombre}" itemValue="#{prenda.code}" />
									</p:selectOneMenu></td>
							</tr>
						</table>
					</p:tab>
				</p:accordionPanel>
				<p:dataTable id="idtablabaseproducto" var="row"
					value="#{baseproductobean.list}"
					selection="#{baseproductobean.selected}" selectionMode="single"
					emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}"
					scrollHeight="50">

					<f:facet name="header">
						<div>
							<div class="div40 subtitle_table_left">Página:
								#{baseproductobean.pagina} de
								#{baseproductobean.cantidadPaginas}</div>
							<div class="div20 subtitle_table_center">
								Productos

								<p:commandLink actionListener="#{baseproductobean.firstpage()}"
									update=":mainForm:idtablabaseproducto">
									<h:graphicImage value="#{msj.navfirst}" />
								</p:commandLink>
								<p:commandLink
									actionListener="#{baseproductobean.previouspage()}"
									update=":mainForm:idtablabaseproducto">
									<h:graphicImage value="#{msj.navprevious}" />
								</p:commandLink>
								<p:commandLink actionListener="#{baseproductobean.nextpage()}"
									update=":mainForm:idtablabaseproducto">
									<h:graphicImage value="#{msj.navnext}" />
								</p:commandLink>
								<p:commandLink actionListener="#{baseproductobean.lastpage()}"
									update=":mainForm:idtablabaseproducto">
									<h:graphicImage value="#{msj.navlast}" />
								</p:commandLink>

							</div>
							<div class="div40 subtitle_table_right">Registros:
								#{baseproductobean.cantidadRegistros}</div>
							<div class="footer"></div>
						</div>
					</f:facet>

					<p:ajax event="rowSelect"
						listener="#{productobean.onRowSelectBaseProducto}"
						update=":mainForm" />

					<p:column headerText="Foto" width="30%">
						<div align="center">						
							<h:graphicImage url="#{msj.img_productodefault}" />
						</div>
						<h:outputText value="#{row.code} " />
						<h:outputText value="| #{row.codigo} "
							rendered="#{not empty row.codigo}" />
					</p:column>

					<p:column headerText="Detalle Catálogo" width="35%">
						
						<div class="div50">
							<div style="padding-top: 5px;">
								<div class="div40" align="right">
									<p:outputLabel styleClass="tlabel" value="Id :" />
								</div>
								<div class="div60">
									<p:outputLabel id="idbpId" value="#{row.baseProducto.code}" />
								</div>
								<div class="footer"></div>
							</div>
							<div style="padding-top: 5px;">
								<div class="div40" align="right">
									<p:outputLabel styleClass="tlabel" value="Código :" />
								</div>
								<div class="div60">
									<p:outputLabel id="idbpId" value="#{row.baseProducto.codigo}" />
								</div>
								<div class="footer"></div>
							</div>
							<div style="padding-top: 5px;">
								<div class="div40" align="right">
									<p:outputLabel styleClass="tlabel" value="Código :" />
								</div>
								<div class="div60">
									<p:outputLabel id="idbpId" value="#{row.baseProducto.codigo}" />
								</div>
								<div class="footer"></div>
							</div>
						</div>
						<div class="div50">
							<div style="padding-top: 5px;">
								<div class="div40" align="right">
									<p:outputLabel styleClass="tlabel" value="Id :" />
								</div>
								<div class="div60">
									<p:outputLabel id="idbpId" value="#{row.baseProducto.code}" />
								</div>
								<div class="footer"></div>
							</div>
						</div>
						<div class="footer"></div>
												
						<h:panelGrid columns="2" style="border-style: none; border-width: 0px;">
							<p:outputLabel for="idpmarca" value="Marca" />
							<p:outputLabel id="idpmarca" value="#{row.marca.nombre}" />

							<p:outputLabel for="idpestilo" value="Estilo" />
							<p:outputLabel id="idpestilo" value="#{row.estilo.nombre}" />

							<p:outputLabel for="idpprenda" value="Prenda" />
							<p:outputLabel id="idpprenda" value="#{row.prenda.nombre}" />

							<p:outputLabel for="idpcantidad" value="Cantidad" />
							<p:outputLabel id="idpcantidad" value="#{row.cantidad}" />

							<p:outputLabel for="idpprecio" value="Precio" />
							<p:outputLabel id="idpprecio" value="#{row.precio}">
								<f:convertNumber pattern="#,##0.00" />
							</p:outputLabel>

							<p:outputLabel for="idppreciopromo"
								value="Precio Promo #{row.esporcentaje ? '%' : '' }" />
							<p:outputLabel id="idppreciopromo" value="#{row.precioPromo}">
								<f:convertNumber pattern="#,##0.00" />
							</p:outputLabel>

							<p:outputLabel for="idpespromo" value="En Promoción?" />
							<p:outputLabel id="idpespromo"
								value="#{row.espromo ? 'Si' : 'No' }" />

							<p:outputLabel for="idpprecioporcentaje"
								value="Precio promo en porcentaje?" />
							<p:outputLabel id="idpprecioporcentaje"
								value="#{row.esporcentaje ? 'Si' : 'No' }" />
						</h:panelGrid>

					</p:column>

					<p:column headerText="Detalle Producto" width="35%">
						<div class="div50">
							<div style="padding-top: 5px;">
								<div class="div40" align="right">
									<p:outputLabel styleClass="tlabel" value="Id :" />
								</div>
								<div class="div60">
									<p:outputLabel id="idbpId" value="#{row.baseProducto.code}" />
								</div>
								<div class="footer"></div>
							</div>
						</div>
						<div class="div50">
							<div style="padding-top: 5px;">
								<div class="div40" align="right">
									<p:outputLabel styleClass="tlabel" value="Id :" />
								</div>
								<div class="div60">
									<p:outputLabel id="idbpId" value="#{row.baseProducto.code}" />
								</div>
								<div class="footer"></div>
							</div>
						</div>
						<div class="footer"></div>
					</p:column>

					<f:facet name="footer">
						<p:commandLink actionListener="#{baseproductobean.firstpage()}"
							update=":mainForm:idtablabaseproducto">
							<h:graphicImage value="#{msj.navfirst}" />
						</p:commandLink>
						<p:commandLink actionListener="#{baseproductobean.previouspage()}"
							update=":mainForm:idtablabaseproducto">
							<h:graphicImage value="#{msj.navprevious}" />
						</p:commandLink>
						<p:commandLink actionListener="#{baseproductobean.nextpage()}"
							update=":mainForm:idtablabaseproducto">
							<h:graphicImage value="#{msj.navnext}" />
						</p:commandLink>
						<p:commandLink actionListener="#{baseproductobean.lastpage()}"
							update=":mainForm:idtablabaseproducto">
							<h:graphicImage value="#{msj.navlast}" />
						</p:commandLink>
					</f:facet>

				</p:dataTable>
			</h:form>
		</div>

		<p:dialog id="dlgNuevoEditarBProducto" widgetVar="dlgNuevoEditarBP"
			closeOnEscape="false" header="Nuevo/editar Base Producto"
			modal="true" appendTo="@(body)"
			visible="#{baseproductobean.visibleNuevoEditar}" closable="true">
			<h:form id="mainFormBaseProductoEdit">
				<ui:include src="BaseProducto_edit.xhtml" />
			</h:form>
		</p:dialog>

		<p:dialog id="dlgNuevoEditarProducto" widgetVar="dlgNuevoEditarP"
			closeOnEscape="false" header="Nuevo/editar Producto" modal="true"
			appendTo="@(body)" visible="#{productobean.visibleNuevoEditar}"
			closable="true">
			<h:form id="mainFormproductoEdit">
				<ui:include src="Producto_edit.xhtml" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>