<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Talla</center>
		</h1>

		<table class="borderHidden" cellpadding="0" cellspacing="0"
			width="100%" border="0">
			<tr>
				<td width="30%"><h:form id="mainForm">
						<div>
							<p:outputLabel for="idtbxNombre" value="Talla:" />
							<p:inputText id="idtbxNombre" label="Nombre" size="50"
								value="#{tallabean.cadenaBusqueda}">
								<p:ajax event="keyup" listener="#{tallabean.buscar()}"
									update=":mainForm:idtablatalla" />
							</p:inputText>
						</div>
						<p:dataTable id="idtablatalla" var="row" value="#{tallabean.list}"
							selection="#{tallabean.selected}" selectionMode="single"
							emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}"
							rowIndexVar="rowIndex">

							<f:facet name="header">
								<div>
									<div class="div40 subtitle_table_left">Página:
										#{tallabean.pagina} de #{tallabean.cantidadPaginas}</div>
									<div class="div20 subtitle_table_center">tallas</div>
									<div class="div40 subtitle_table_right">Registros:
										#{tallabean.cantidadRegistros}</div>
									<div class="footer"></div>
								</div>
							</f:facet>

							<p:ajax event="rowSelect" listener="#{tallabean.onRowSelect}"
								update=":mainFormtallaEdit" />

							<p:column headerText="Nro" width="10%">
								<h:outputText value="#{rowIndex + 1}" />
							</p:column>

							<p:column sortBy="#{row.nombre}" headerText="Nombre" width="90%">
								<h:outputText value="#{row.nombre}" />
							</p:column>

							<f:facet name="footer">
								<p:commandLink actionListener="#{tallabean.firstpage()}"
									update=":mainForm:idtablatalla">
									<h:graphicImage value="#{msj.navfirst}" />
								</p:commandLink>
								<p:commandLink actionListener="#{tallabean.previouspage()}"
									update=":mainForm:idtablatalla">
									<h:graphicImage value="#{msj.navprevious}" />
								</p:commandLink>
								<p:commandLink actionListener="#{tallabean.nextpage()}"
									update=":mainForm:idtablatalla">
									<h:graphicImage value="#{msj.navnext}" />
								</p:commandLink>
								<p:commandLink actionListener="#{tallabean.lastpage()}"
									update=":mainForm:idtablatalla">
									<h:graphicImage value="#{msj.navlast}" />
								</p:commandLink>
							</f:facet>

						</p:dataTable>
					</h:form></td>
				<td width="15%"></td>
				<td width="40%"><h:form id="mainFormtallaEdit">
						<ui:include src="Talla_edit.xhtml" />
						<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
							cellpadding="0">

							<p:commandButton value="Guardar" icon="ui-icon-disk"
								style="width:100px;" actionListener="#{tallabean.guardar()}"
								update=":mainFormtallaEdit:pnlGrdData :mainForm:idtablatalla" />

							<p:commandButton value="Eliminar" icon="ui-icon-document"
								style="width:100px;" actionListener="#{tallabean.eliminar()}"
								update=":mainFormtallaEdit:pnlGrdData :mainForm:idtablatalla" />

							<p:commandButton value="Nuevo" icon="ui-icon-document"
								style="width:100px;" actionListener="#{tallabean.nuevo()}"
								update=":mainFormtallaEdit:pnlGrdData :mainForm:idtablatalla" />

						</h:panelGrid>
					</h:form></td>
				<td width="15%"></td>
			</tr>
		</table>

	</ui:define>
</ui:composition>