<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Auditoria</center>
		</h1>

		<h:form id="mainForm">
			
			<p:accordionPanel>
				<p:tab title="Filtros" >
					<h:panelGrid columns="10" cellspacing="5" cellpadding="0">
						<p:outputLabel for="idtbxFecha" value="Fecha:" />
						<p:inputText id="idtbxFecha" label="Fecha" size="20" value="#{bitacorabean.filtroFecha}">
							<p:ajax event="keyup" listener="#{bitacorabean.buscar()}" update=":mainForm:idtablabitacora" />																	
						</p:inputText>
						
						<p:outputLabel for="idtbxAccion" value="Accion:" /> 
						<p:inputText id="idtbxAccion" label="Accion" size="20" value="#{bitacorabean.filtroAccion}">
							<p:ajax event="keyup" listener="#{bitacorabean.buscar()}" update=":mainForm:idtablabitacora" />																	
						</p:inputText>
						
						<p:outputLabel for="idtbxIp" value="Ip:" /> 
						<p:inputText id="idtbxIp" label="Ip" size="20" value="#{bitacorabean.filtroIp}">
							<p:ajax event="keyup" listener="#{bitacorabean.buscar()}" update=":mainForm:idtablabitacora" />																	
						</p:inputText>
						
						<p:outputLabel for="idtbxMensaje" value="Mensaje:" /> 
						<p:inputText id="idtbxMensaje" label="Mensaje" size="20" value="#{bitacorabean.filtroMensaje}">
							<p:ajax event="keyup" listener="#{bitacorabean.buscar()}" update=":mainForm:idtablabitacora" />																	
						</p:inputText>
						
						<p:outputLabel for="idtbxUsuario" value="Usuario:" /> 
						<p:inputText id="idtbxUsuario" label="Usuario" size="20" value="#{bitacorabean.filtroUsuario}">
							<p:ajax event="keyup" listener="#{bitacorabean.buscar()}" update=":mainForm:idtablabitacora" />																	
						</p:inputText>
						
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
						
			<p:dataTable id="idtablabitacora" var="row" value="#{bitacorabean.list}"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}"
				rowIndexVar="rowIndex">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{bitacorabean.pagina} de #{bitacorabean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Actividades</div>
						<div class="div40 subtitle_table_right">Registros:
							#{bitacorabean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>
				
				<p:column headerText="Nro" width="5%">
					<h:outputText value="#{rowIndex + 1}" />
				</p:column>

				<p:column sortBy="#{row.fecha}" headerText="Fecha" width="15%">
					<h:outputText value="#{row.fecha}" />
				</p:column>

				<p:column sortBy="#{row.accion}" headerText="Acción" width="20%">
					<h:outputText value="#{row.accion}" />
				</p:column>
				
				<p:column sortBy="#{row.ip}" headerText="ip" width="10%">
					<h:outputText value="#{row.ip}" />
				</p:column>
				
				<p:column sortBy="#{row.mensaje}" headerText="Mensaje" width="30%">
					<h:outputText value="#{row.mensaje}" />
				</p:column>
				
				<p:column sortBy="#{row.usuario.nombre}" headerText="Usuario" width="20%">
					<h:outputText value="#{row.usuario.nombre}" />
				</p:column>

				<f:facet name="footer">
					<p:commandLink actionListener="#{bitacorabean.firstpage()}"
						update=":mainForm:idtablabitacora">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{bitacorabean.previouspage()}"
						update=":mainForm:idtablabitacora">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{bitacorabean.nextpage()}"
						update=":mainForm:idtablabitacora">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{bitacorabean.lastpage()}"
						update=":mainForm:idtablabitacora">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>