<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Rol</center>
		</h1>

		<table class="borderHidden" cellpadding="0" cellspacing="0"
			width="100%" border="0">
			<tr>
				<td width="50%">
				<h:form id="mainForm">
						<div>
							<p:outputLabel for="idtbxNombre" value="Rol:" />
							<p:inputText id="idtbxNombre" label="Nombre" size="50"
								value="#{rolbean.cadenaBusqueda}">
								<p:ajax event="keyup" listener="#{rolbean.buscar()}"
									update=":mainForm:idtablarol" />
							</p:inputText>
						</div>
						<p:dataTable id="idtablarol" var="row" value="#{rolbean.list}"
							selection="#{rolbean.selected}" selectionMode="single"
							emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}"
							rowIndexVar="rowIndex">

							<f:facet name="header">
								<div>
									<div class="div40 subtitle_table_left">Página:
										#{rolbean.pagina} de #{rolbean.cantidadPaginas}</div>
									<div class="div20 subtitle_table_center">Roles</div>
									<div class="div40 subtitle_table_right">Registros:
										#{rolbean.cantidadRegistros}</div>
									<div class="footer"></div>
								</div>
							</f:facet>

							<p:ajax event="rowSelect" listener="#{rolbean.onRowSelect}"
								update=":mainFormRolEdit" />

							<p:column headerText="Nro" width="10%">
								<h:outputText value="#{rowIndex + 1}" />
							</p:column>

							<p:column sortBy="#{row.nombre}" headerText="Nombre" width="90%">
								<h:outputText value="#{row.nombre}" />
							</p:column>

							<f:facet name="footer">
								<p:commandLink actionListener="#{rolbean.firstpage()}"
									update=":mainForm:idtablarol">
									<h:graphicImage value="#{msj.navfirst}" />
								</p:commandLink>
								<p:commandLink actionListener="#{rolbean.previouspage()}"
									update=":mainForm:idtablarol">
									<h:graphicImage value="#{msj.navprevious}" />
								</p:commandLink>
								<p:commandLink actionListener="#{rolbean.nextpage()}"
									update=":mainForm:idtablarol">
									<h:graphicImage value="#{msj.navnext}" />
								</p:commandLink>
								<p:commandLink actionListener="#{rolbean.lastpage()}"
									update=":mainForm:idtablarol">
									<h:graphicImage value="#{msj.navlast}" />
								</p:commandLink>
							</f:facet>

						</p:dataTable>
					</h:form></td>
				<td width="15%"></td>
				<td width="30%"><h:form id="mainFormRolEdit">
						<ui:include src="Rol_edit.xhtml" />
					</h:form></td>
				<td width="15%"></td>
			</tr>
		</table>

	</ui:define>
</ui:composition>