<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<p:panel header="Información Rol">
		<h:panelGrid id="pnlGrdData" columns="2" cellspacing="2"
			cellpadding="0">

			<p:outputLabel value="Code:" rendered="#{!rolbean.nuevo}" />
			<p:outputLabel value="#{rolbean.entidad.code}"
				rendered="#{!rolbean.nuevo}" />

			<p:outputLabel for="tbxNombre" value="Nombre:" />
			<p:inputText id="tbxNombre" label="Nombre" size="50"
				value="#{rolbean.entidad.nombre}" />

		</h:panelGrid>

		<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
			cellpadding="0">

			<p:commandButton value="Guardar" icon="ui-icon-disk"
				style="width:100px;" actionListener="#{rolbean.guardar()}"
				update=":mainFormRolEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Eliminar" icon="ui-icon-document"
				style="width:100px;" actionListener="#{rolbean.eliminar()}"
				update=":mainFormRolEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Nuevo" icon="ui-icon-document"
				style="width:100px;" actionListener="#{rolbean.nuevo()}"
				update=":mainFormRolEdit:pnlGrdData :mainForm" />

		</h:panelGrid>

	</p:panel>

</ui:composition>