<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<p:panel id="ppanel" header="Información Usuario">
		<h:panelGrid id="pnlGrdData" columns="2" cellspacing="2" cellpadding="2">

			<p:outputLabel value="ID:" rendered="#{!usuariobean.nuevo}" />
			<p:outputLabel value="#{usuariobean.entidad.code}"
				rendered="#{!usuariobean.nuevo}" />

			<p:outputLabel for="tbxNombre" value="Nombre:" />
			<p:inputText id="tbxNombre" label="Nombre" size="50"
				value="#{usuariobean.entidad.nombre}" />
				
			<p:outputLabel for="tbxLogin" value="Login:" />
			<p:inputText id="tbxLogin" label="Login" size="50"
				value="#{usuariobean.entidad.login}" />	
				
			<p:outputLabel for="tbxPassword" value="Password:" />
			<p:password id="tbxPassword" value="#{usuariobean.entidad.password}" 
				feedback="true" promptLabel="Ingrese su password" 
				weakLabel="Bajo" goodLabel="Medio" strongLabel="Bueno" size="50"/>
							
			<p:outputLabel for="tbxTelefono" value="Telefono:" />
			<p:inputText id="tbxTelefono" label="Telefono" size="50"
				value="#{usuariobean.entidad.telefono}" />

			<p:outputLabel for="tbxDireccion" value="Dirección:" />
			<p:inputText id="tbxDireccion" label="Direccion" size="50"
				value="#{usuariobean.entidad.direccion}" />

			<p:outputLabel for="tbxEmail" value="Email:" />
			<p:inputText id="tbxEmail" label="Email" size="50"
				value="#{usuariobean.entidad.email}" />				

			<p:outputLabel for="tbxSucursal" value="Sucursal:" />			        	        	              	
        	<p:selectOneMenu id="tbxSucursal" value="#{usuariobean.sucursalCode}" style="width:200px">                
                <f:selectItem itemLabel="Seleccione una Sucursal" itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{sucursalbean.list}" var="sucursal" itemLabel="#{sucursal.nombre}" itemValue="#{sucursal.code}"/>
            </p:selectOneMenu>        			
			
			<p:outputLabel for="tbxRol" value="Rol:" />			        	        	              	
        	<p:selectOneMenu id="tbxRol" value="#{usuariobean.rolCode}" style="width:200px" 
        				required="true" requiredMessage="Debe seleccionar un rol!">                
                <f:selectItem itemLabel="Seleccione un rol" itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{rolbean.list}" var="rol" itemLabel="#{rol.nombre}" itemValue="#{rol.code}"/>
            </p:selectOneMenu>
				
			<p:outputLabel for="tbxEsExterno" value="Es externo:" />
			<p:selectBooleanCheckbox id="tbxEsExterno" value="#{usuariobean.entidad.isexterno}" >
				<p:ajax event="change" update=":mainFormUsuarioEdit:tbxTipoExterno"/> 
			</p:selectBooleanCheckbox>			
				
			<p:outputLabel for="tbxTipoExterno" value="Tipo Externo:" />			
			<p:selectOneMenu id="tbxTipoExterno" value="#{usuariobean.entidad.tipoexterno}" style="width:200px" 
        			required="#{usuariobean.entidad.isexterno}" requiredMessage="Campo TipoExterno es requerido" 
        			disabled="#{!usuariobean.entidad.isexterno}">
                <f:selectItem itemLabel="Seleccione un tipo externo" itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{usuariobean.tipsexternolist}" var="tipoexterno" itemLabel="#{tipoexterno}" itemValue="#{tipoexterno}"/>
            </p:selectOneMenu>

		</h:panelGrid>

		<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
			cellpadding="0">

			<p:commandButton value="Guardar" icon="ui-icon-disk"
				style="width:100px;" actionListener="#{usuariobean.guardar()}"
				update=":mainFormUsuarioEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Eliminar" icon="ui-icon-document"
				style="width:100px;" actionListener="#{usuariobean.eliminar()}"
				update=":mainFormUsuarioEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Nuevo" icon="ui-icon-document"
				style="width:100px;" actionListener="#{usuariobean.nuevo()}"
				update=":mainFormUsuarioEdit:pnlGrdData :mainForm" />

		</h:panelGrid>

	</p:panel>

</ui:composition>