<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Usuario</center>
		</h1>

		<table class="borderHidden" cellpadding="0" cellspacing="0"
			width="100%" border="0">
			<tr>
				<td width="66%"><h:form id="mainForm">
						<p:accordionPanel >
							<p:tab title="Filtros" >
								<h:panelGrid id="idFiltros" columns="10" cellspacing="5" cellpadding="0">								
									
									
									<p:outputLabel for="idtbxNombre" value="Nombre:" />
									<p:inputText id="idtbxNombre" label="Nombre" size="#{msj.caja_filtro_width}"
										value="#{usuariobean.filtroNombre}">
										<p:ajax event="keyup" listener="#{usuariobean.buscar()}"
											update=":mainForm:idtablausuario" />
									</p:inputText>
									
									<p:outputLabel for="idtbxLogin" value="Login:" />
									<p:inputText id="idtbxLogin" label="Login" size="#{msj.caja_filtro_width}"
										value="#{usuariobean.filtroLogin}">
										<p:ajax event="keyup" listener="#{usuariobean.buscar()}"
											update=":mainForm:idtablausuario" />
									</p:inputText>
									
									<p:outputLabel for="idtbxEmail" value="Email:" />
									<p:inputText id="idtbxEmail" label="Email"
										size="#{msj.caja_filtro_width}" value="#{usuariobean.filtroEmail}">
										<p:ajax event="keyup" listener="#{usuariobean.buscar()}"
											update=":mainForm:idtablausuario" />
									</p:inputText>

									<p:outputLabel for="idtbxTelefono" value="Teléfono:" />
									<p:inputText id="idtbxTelefono" label="Telefono" size="#{msj.caja_filtro_width}"
										value="#{usuariobean.filtroTelefono}">
										<p:ajax event="keyup" listener="#{usuariobean.buscar()}"
											update=":mainForm:idtablausuario" />
									</p:inputText>

									<p:outputLabel for="idtbxDireccion" value="Dirección:" />
									<p:inputText id="idtbxDireccion" label="Direccion" size="#{msj.caja_filtro_width}"
										value="#{usuariobean.filtroDireccion}">
										<p:ajax event="keyup" listener="#{usuariobean.buscar()}"
											update=":mainForm:idtablausuario" />
									</p:inputText>

									<p:outputLabel for="idtbxEsExterno" value="Es Externo:" />
									<p:selectBooleanCheckbox id="idtbxEsExterno" value="#{usuariobean.filtroIsExterno}" >										
										<p:ajax event="change" listener="#{usuariobean.buscar()}" update=":mainForm:idtablausuario" /> 
									</p:selectBooleanCheckbox>
									
									<p:outputLabel for="idtbxTipoExterno" value="Tipo Externo:" />
									<p:inputText id="idtbxTipoExterno" label="Tipo Externo" size="#{msj.caja_filtro_width}"
										value="#{usuariobean.filtroTipoExterno}">
										<p:ajax event="keyup" listener="#{usuariobean.buscar()}"
											update=":mainForm:idtablausuario" />
									</p:inputText>


								</h:panelGrid>
							</p:tab>
						</p:accordionPanel>
						<p:dataTable id="idtablausuario" var="row"
							value="#{usuariobean.list}" selection="#{usuariobean.selected}"
							selectionMode="single" emptyMessage="Ningun dato encontrado..."
							rowKey="#{row.code}" rowIndexVar="rowIndex">

							<f:facet name="header">
								<div>
									<div class="div40 subtitle_table_left">Página:
										#{usuariobean.pagina} de #{usuariobean.cantidadPaginas}</div>
									<div class="div20 subtitle_table_center">Usuarioes</div>
									<div class="div40 subtitle_table_right">Registros:
										#{usuariobean.cantidadRegistros}</div>
									<div class="footer"></div>
								</div>
							</f:facet>

							<p:ajax event="rowSelect" listener="#{usuariobean.onRowSelect}"
								update=":mainFormUsuarioEdit" />

							<p:column headerText="Nro" width="5%">
								<h:outputText value="#{rowIndex + 1}" />
							</p:column>

							<p:column sortBy="#{row.nombre}" headerText="Nombre" width="15%">
								<h:outputText value="#{row.nombre}" />
							</p:column>

							<p:column sortBy="#{row.login}" headerText="Login" width="15%">
								<h:outputText value="#{row.login}" />
							</p:column>

							<p:column sortBy="#{row.email}" headerText="Email" width="15%">
								<h:outputText value="#{row.email}" />
							</p:column>

							<p:column sortBy="#{row.telefono}" headerText="Teléfono" width="10%">
								<h:outputText value="#{row.telefono}" />
							</p:column>

							<p:column sortBy="#{row.direccion}" headerText="Dirección" width="15%">
								<h:outputText value="#{row.direccion}" />
							</p:column>
							
							<p:column sortBy="#{row.sucursal.nombre}" headerText="Sucursal" width="10%">
								<h:outputText value="#{row.sucursal.nombre}" />
							</p:column>
							
							<p:column sortBy="#{row.rol.nombre}" headerText="Rol" width="10%">
								<h:outputText value="#{row.rol.nombre}" />
							</p:column>

							<p:column sortBy="#{row.isexterno}" headerText="Es Externo?" width="10%">
								<h:outputText value="#{row.isexterno ?  'Si' : 'No' }" />
							</p:column>
							
							<p:column sortBy="#{row.tipoexterno}" headerText="Tipo Externo" width="15%">
								<h:outputText value="#{row.tipoexterno}" />
							</p:column>							

							<f:facet name="footer">
								<p:commandLink actionListener="#{usuariobean.firstpage()}"
									update=":mainForm:idtablausuario">
									<h:graphicImage value="#{msj.navfirst}" />
								</p:commandLink>
								<p:commandLink actionListener="#{usuariobean.previouspage()}"
									update=":mainForm:idtablausuario">
									<h:graphicImage value="#{msj.navprevious}" />
								</p:commandLink>
								<p:commandLink actionListener="#{usuariobean.nextpage()}"
									update=":mainForm:idtablausuario">
									<h:graphicImage value="#{msj.navnext}" />
								</p:commandLink>
								<p:commandLink actionListener="#{usuariobean.lastpage()}"
									update=":mainForm:idtablausuario">
									<h:graphicImage value="#{msj.navlast}" />
								</p:commandLink>
							</f:facet>

						</p:dataTable>
					</h:form></td>
				<td width="2%"></td>
				<td width="30%"><h:form id="mainFormUsuarioEdit">
						<ui:include src="Usuario_edit.xhtml" />
					</h:form></td>
				<td width="2%"></td>
			</tr>
		</table>

	</ui:define>
</ui:composition>