<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Almacén</center>
		</h1>

		<table class="borderHidden" cellpadding="0" cellspacing="0"
			width="100%" border="0">
			<tr>
				<td width="66%"><h:form id="mainForm">
						<p:accordionPanel >
							<p:tab title="Filtros" >
								<h:panelGrid id="idFiltros" columns="10" cellspacing="5" cellpadding="0">
																	
									<p:outputLabel for="idtbxNombre" value="Nombre:" />
									<p:inputText id="idtbxNombre" label="Nombre" size="15"
										value="#{almacenbean.filtroNombre}">
										<p:ajax event="keyup" listener="#{almacenbean.buscar()}"
											update=":mainForm:idtablaalmacen" />
									</p:inputText>								

									<p:outputLabel for="idtbxDireccion" value="Dirección:" />
									<p:inputText id="idtbxDireccion" label="Direccion" size="15"
										value="#{almacenbean.filtroDireccion}">
										<p:ajax event="keyup" listener="#{almacenbean.buscar()}"
											update=":mainForm:idtablaalmacen" />
									</p:inputText>
	
									<p:outputLabel for="idtbxTipo" value="Tipo:" />
									<p:inputText id="idtbxTipo" label="Tipo" size="15"
										value="#{almacenbean.filtroTipo}">
										<p:ajax event="keyup" listener="#{almacenbean.buscar()}"
											update=":mainForm:idtablaalmacen" />
									</p:inputText>
	
									<p:outputLabel for="idtbxSucursal" value="Sucursal:" />
									<p:inputText id="idtbxSucursal" label="Sucursal" size="15"
										value="#{almacenbean.filtroSucursal}">
										<p:ajax event="keyup" listener="#{almacenbean.buscar()}"
											update=":mainForm:idtablaalmacen" />
									</p:inputText>
	
								</h:panelGrid>
							</p:tab>
						</p:accordionPanel>
						<p:dataTable id="idtablaalmacen" var="row"
							value="#{almacenbean.list}" selection="#{almacenbean.selected}"
							selectionMode="single" emptyMessage="Ningun dato encontrado..."
							rowKey="#{row.code}" rowIndexVar="rowIndex">

							<f:facet name="header">
								<div>
									<div class="div40 subtitle_table_left">Página:
										#{almacenbean.pagina} de #{almacenbean.cantidadPaginas}</div>
									<div class="div20 subtitle_table_center">Almacenes</div>
									<div class="div40 subtitle_table_right">Registros:
										#{almacenbean.cantidadRegistros}</div>
									<div class="footer"></div>
								</div>
							</f:facet>

							<p:ajax event="rowSelect" listener="#{almacenbean.onRowSelect}"
								update=":mainFormAlmacenEdit" />
							
							<p:column headerText="Nro" width="10%">
								<h:outputText value="#{rowIndex + 1}" />
							</p:column>

							<p:column sortBy="#{row.nombre}" headerText="Nombre" width="30%">
								<h:outputText value="#{row.nombre}" />
							</p:column>						

							<p:column sortBy="#{row.direccion}" headerText="Dirección" width="20%">
								<h:outputText value="#{row.direccion}" />
							</p:column>
							
							<p:column sortBy="#{row.tipo}" headerText="Tipo" width="10%">
								<h:outputText value="#{row.tipo}" />
							</p:column>
							
							<p:column sortBy="#{row.sucursal.nombre}" headerText="Sucursal" width="30%">
								<h:outputText value="#{row.sucursal.nombre}" />
							</p:column>

							<f:facet name="footer">
								<p:commandLink actionListener="#{almacenbean.firstpage()}"
									update=":mainForm:idtablaalmacen">
									<h:graphicImage value="#{msj.navfirst}" />
								</p:commandLink>
								<p:commandLink actionListener="#{almacenbean.previouspage()}"
									update=":mainForm:idtablaalmacen">
									<h:graphicImage value="#{msj.navprevious}" />
								</p:commandLink>
								<p:commandLink actionListener="#{almacenbean.nextpage()}"
									update=":mainForm:idtablaalmacen">
									<h:graphicImage value="#{msj.navnext}" />
								</p:commandLink>
								<p:commandLink actionListener="#{almacenbean.lastpage()}"
									update=":mainForm:idtablaalmacen">
									<h:graphicImage value="#{msj.navlast}" />
								</p:commandLink>
							</f:facet>

						</p:dataTable>
					</h:form></td>
				<td width="2%"></td>
				<td width="30%"><h:form id="mainFormAlmacenEdit">
						<ui:include src="Almacen_edit.xhtml" />
					</h:form></td>
				<td width="2%"></td>
			</tr>
		</table>

	</ui:define>
</ui:composition>