<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<p:panel header="Información Almacen">
		<h:panelGrid id="pnlGrdData" columns="2" cellspacing="2" cellpadding="2">

			<p:outputLabel value="ID:" rendered="#{!almacenbean.nuevo}" />
			<p:outputLabel value="#{almacenbean.entidad.code}"
				rendered="#{!almacenbean.nuevo}" />

			<p:outputLabel for="tbxNombre" value="Nombre:" />
			<p:inputText id="tbxNombre" label="Nombre" size="50"
				value="#{almacenbean.entidad.nombre}" 
				required="true"
				requiredMessage="Campo Nombre es requerido"/>

			<p:outputLabel for="tbxDireccion" value="Dirección:" />
			<p:inputText id="tbxDireccion" label="Direccion" size="50"
				value="#{almacenbean.entidad.direccion}" 
				required="true"
				requiredMessage="Campo Direccion es requerido"/>
			
			<p:outputLabel for="tbxTipo" value="Tipo:" />
			<p:inputText id="tbxTipo" label="Tipo" size="50"
				value="#{almacenbean.entidad.tipo}" 
				required="true"
				requiredMessage="Campo Tipo es requerido"/>
				
			<p:outputLabel for="tbxSucursal" value="Sucursal:" />			        	        	              	
        	<p:selectOneMenu id="tbxSucursal" value="#{almacenbean.sucursalCode}" style="width:200px" 
        			required="true" requiredMessage="Campo Sucursal es requerido">                
                <f:selectItem itemLabel="Seleccione una Sucursal" itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{sucursalbean.list}" var="sucursal" itemLabel="#{sucursal.nombre}" itemValue="#{sucursal.code}"/>
            </p:selectOneMenu>        			

		</h:panelGrid>
		<p:separator />
		<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
			cellpadding="0">

			<p:commandButton value="Guardar" icon="ui-icon-disk"
				style="width:100px;" actionListener="#{almacenbean.guardar()}"
				update=":mainFormAlmacenEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Eliminar" icon="ui-icon-document"
				style="width:100px;" actionListener="#{almacenbean.eliminar()}"
				update=":mainFormAlmacenEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Nuevo" icon="ui-icon-document"
				style="width:100px;" actionListener="#{almacenbean.nuevo()}"
				update=":mainFormAlmacenEdit:pnlGrdData :mainForm" />

		</h:panelGrid>

	</p:panel>

</ui:composition>