<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">
		<h:form id="mainForm">
			<div>
				<div class="div30">
					<p:commandButton value="Nuevo" action="Egreso.xhtml?faces-redirect=true" icon="ui-icon-disk"
					style="width:100px;" />
				</div>
				<div class="div40">
					<div class="titulo">Egresos</div>
				</div>
				<div class="div30"></div>
				<div class="footer"></div>
			</div>
			<br />
			
			<p:accordionPanel activeIndex="-1"> 
				<p:tab title="Filtros">
					<h:panelGrid id="idFiltros" columns="12" cellspacing="5"
						cellpadding="0">

						<p:outputLabel for="idtbxCode" value="ID:" />
						<p:inputText id="idtbxCode" label="Code" size="15"
							value="#{egresolistbean.filtroCode}">
							<p:ajax event="keyup" listener="#{egresolistbean.buscar()}"
								update=":mainForm:idtablaegresolist" />
						</p:inputText>

						<p:outputLabel for="idtbxTipoegreso" value="Tipoegreso:" />
						<p:inputText id="idtbxTipoegreso" label="Tipoegreso" size="15"
							value="#{egresolistbean.filtroTipoegreso}">
							<p:ajax event="keyup" listener="#{egresolistbean.buscar()}"
								update=":mainForm:idtablaegresolist" />
						</p:inputText>

						<p:outputLabel for="idtbxFechaIni" value="FechaIni:" />
						<p:inputText id="idtbxFechaIni" label="FechaIni" size="15"
							value="#{egresolistbean.filtroFechaIni}">
							<p:ajax event="keyup" listener="#{egresolistbean.buscar()}"
								update=":mainForm:idtablaegresolist" />
						</p:inputText>

						<p:outputLabel for="idtbxFechaFin" value="FechaFin:" />
						<p:inputText id="idtbxFechaFin" label="FechaFin" size="15"
							value="#{egresolistbean.filtroFechaFin}">
							<p:ajax event="keyup" listener="#{egresolistbean.buscar()}"
								update=":mainForm:idtablaegresolist" />
						</p:inputText>

						<p:outputLabel for="idtbxAlmacen" value="Fecha:" />
						<p:selectOneMenu id="idtbxAlmacen"
							value="#{egresolistbean.filtroAlmacen}" style="width:200px">
							<p:ajax event="change" listener="#{egresolistbean.buscar()}"
								update=":mainForm:idtablaegresolist" />
							<f:selectItem itemLabel="Filtre por un almacen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{almacenbean.list}" var="almacen"
								itemLabel="#{almacen.nombre}" itemValue="#{almacen.code}" />
						</p:selectOneMenu>

						<p:outputLabel for="idtbxUsuario" value="Usuario:" />
						<p:inputText id="idtbxUsuario" label="Fecha" size="15"
							value="#{egresolistbean.filtroUsuario}">
							<p:ajax event="keyup" listener="#{egresolistbean.buscar()}"
								update=":mainForm:idtablaegresolist" />
						</p:inputText>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablaegresolist" var="row"
				value="#{egresolistbean.list}"
				selection="#{egresolistbean.selected}" selectionMode="single"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{egresolistbean.pagina} de #{egresolistbean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Egresos</div>
						<div class="div40 subtitle_table_right">Registros:
							#{egresolistbean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{egresolistbean.onRowSelect}" />
				
				<p:column headerText="Acción" width="5%">
					<div align="center">
						<p:commandLink
							actionListener="#{egresolistbean.onVerEgreso( row )}"
							action="EgresoView.xhtml?faces-redirect=true">
							<h:graphicImage alt="Ver" url="#{msj.img_view}" />
						</p:commandLink>
					</div>
				</p:column>

				<p:column headerText="ID" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>

				<p:column headerText="Tipo Egreso" width="20%">
					<h:outputText value="#{row.tipoegreso}" />
				</p:column>

				<p:column headerText="Fecha" width="20%">
					<h:outputText value="#{row.fecha}" />
				</p:column>

				<p:column headerText="Almacen" width="20%">
					<h:outputText value="#{row.almacen.nombre}" />
				</p:column>

				<p:column headerText="Usuario" width="20%">
					<h:outputText value="#{row.usuario.nombre}" />
				</p:column>

				<p:column headerText="Total" width="10%">
					<h:outputText value="#{row.total}">
						<f:convertNumber pattern="#.###" />
					</h:outputText>
				</p:column>

				

				<f:facet name="footer">
					<p:commandLink actionListener="#{egresolistbean.firstpage()}"
						update=":mainForm:idtablaegresolist">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{egresolistbean.previouspage()}"
						update=":mainForm:idtablaegresolist">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{egresolistbean.nextpage()}"
						update=":mainForm:idtablaegresolist">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{egresolistbean.lastpage()}"
						update=":mainForm:idtablaegresolist">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>