<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm2">

			<div>
				<div class="div30">
					<p:confirmDialog global="true" appendTo="@(body)">
						<p:commandButton value="Si" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>

					<p:commandButton value="Cancelar"
						action="IngresoList.xhtml?faces-redirect=true" icon="ui-icon-disk"
						style="width:100px;" />
					
					<p:commandButton value="Guardar" icon="ui-icon-disk"
						action="#{ingresobean.save()}" style="width:100px;">
						<p:confirm header="Confirmación" message="Favor confirmar"
							icon="ui-icon-alert" />
					</p:commandButton>					
				</div>
				<div class="div40">
					<div class="titulo">Ingreso</div>
				</div>
				<div class="div30" align="right">
					<p:outputLabel styleClass="tlabel" for="idtbxUsuario"
						value="Usuario:" />
					<p:outputLabel id="idtbxUsuario" value="#{ingresobean.usuario}" />					
				</div>
				<div class="footer"></div>
			</div>
			<br />

			<p:panel>
				<center>
					<h:panelGrid columns="4" cellpadding="2" cellspacing="2">


						<p:outputLabel styleClass="tlabel" for="idtbxAlmacen"
							value="Almacen:" />
						<p:selectOneMenu id="idtbxAlmacen"
							value="#{ingresobean.codeAlmacen}" style="width:150px">
							<f:selectItem itemLabel="Seleccione un almacen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{almacenbean.list}" var="almacen"
								itemLabel="#{almacen.nombre}" itemValue="#{almacen.code}" />
						</p:selectOneMenu>

						<p:outputLabel styleClass="tlabel" for="idtbxTipoIngreso"
							value="TipoIngreso:" />
						<p:selectOneMenu id="idtbxTipoIngreso"
							value="#{ingresobean.tipoIngreso}" style="width:150px">
							<f:selectItem itemLabel="Seleccione un ingreso"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{ingresobean.tipoIngresolist}"
								var="ingreso" itemLabel="#{ingreso}" itemValue="#{ingreso}" />
						</p:selectOneMenu>
					</h:panelGrid>
				</center>
			</p:panel>

			<p:separator />

			<div>
				<div class="div70">
					<h:panelGrid columns="4" cellpadding="2" cellspacing="2">

						<p:commandButton value="Add Catalogo" icon="ui-icon-disk"
							style="width:150px;"
							actionListener="#{baseproductoselecbean.onResetearVariables()}"
							oncomplete="PF('dlgSelecCatalogoVar').show();"
							update=":FormSeleccBaseProducto" />

						<p:commandButton value="Crear Catálogo" icon="ui-icon-disk"
							style="width:150x;"
							oncomplete="PF('dlgNuevoCatalogoVar').show();"
							update=":mainFormBaseProductorEdit" />

						<p:commandButton value="Crear Color" icon="ui-icon-disk"
							style="width:150px;" oncomplete="PF('dlgNuevoColorVar').show();"
							update=":mainFormcolorEdit" />

						<p:commandButton value="Crear Talla" icon="ui-icon-disk"
							style="width:150px;" oncomplete="PF('dlgNuevaTallaVar').show();"
							update=":mainFormtallaEdit" />
					</h:panelGrid>
				</div>
				<div class="div30">
					<div align="right">
						<p:outputLabel styleClass="tlabel" value="Monto Total: " />
						<p:outputLabel id="tbxMontoTotal"
							value="#{ingresobean.montoTotal}">
							<f:convertNumber pattern="#,##0.00" />
						</p:outputLabel>
						<p:outputLabel value=" Bs" />
					</div>
				</div>
				<div class="footer"></div>
			</div>

			<p:separator />

			<p:dataTable id="idtablaingreso" var="row"
				value="#{ingresobean.list}" emptyMessage="Ningun dato encontrado..."
				rowIndexVar="rowIndex">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">
							<p:outputLabel styleClass="tlabel" value="Items: " />
							#{ingresobean.list.size()}
						</div>
						<div class="div20 subtitle_table_center">
							<p:outputLabel styleClass="tlabel" value="Detalle" />
						</div>
						<div class="div40 subtitle_table_right">-</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:column headerText="Acción" width="3%">
					<p:commandLink actionListener="#{ingresobean.onQuitarItem( row )}"
						update=":mainForm2:idtablaingreso">
						<h:graphicImage alt="Editar" url="/resources/icons/delete.png"
							width="15" height="15" />
					</p:commandLink>
				</p:column>
	
				<p:column headerText="Catalogo" width="30%">
					<div class="div50">
						<div style="padding-top: 5px;">
							<div class="div40" align="right">
								<p:outputLabel styleClass="tlabel" value="Id :" />
							</div>
							<div class="div60">
								<p:outputLabel id="idbpId" value="#{row.baseProducto.code}" />
							</div>
							<div class="footer"></div>
						</div>

						<div style="padding-top: 5px;">
							<div class="div40" align="right">
								<p:outputLabel styleClass="tlabel" value="Código :" />
							</div>
							<div class="div60">
								<p:outputLabel id="idbpCodigo"
									value="#{row.baseProducto.codigo}" />
							</div>
							<div class="footer"></div>
						</div>

						<div style="padding-top: 5px;">
							<div class="div40" align="right">
								<p:outputLabel styleClass="tlabel" value="Prenda :" />
							</div>
							<div class="div60">
								<p:outputLabel id="idbpPrenda"
									value="#{row.baseProducto.prenda.nombre}" />
							</div>
							<div class="footer"></div>
						</div>

					</div>
					<div class="div50">
						<div style="padding-top: 5px;">
							<div class="div40" align="right">
								<p:outputLabel styleClass="tlabel" value="Estilo :" />
							</div>
							<div class="div60">
								<p:outputLabel id="idbpEstilo"
									value="#{row.baseProducto.estilo.nombre}" />
							</div>
							<div class="footer"></div>
						</div>
						<div style="padding-top: 5px;">
							<div class="div40" align="right">
								<p:outputLabel styleClass="tlabel" value="Marca :" />
							</div>
							<div class="div60">
								<p:outputLabel id="idbpMarca"
									value="#{row.baseProducto.marca.nombre}" />
							</div>
							<div class="footer"></div>
						</div>
						<div style="padding-top: 5px;">
							<div class="div40" align="right">
								<p:outputLabel styleClass="tlabel" value="Precio :" />
							</div>
							<div class="div60">
								<p:outputLabel id="idbpPrecio"
									value="#{row.baseProducto.precio}">
									<f:convertNumber pattern="#{msj.numero_formato}" />
								</p:outputLabel>
								<p:outputLabel value=" Bs" />
							</div>
							<div class="footer"></div>
						</div>
					</div>
					<div class="footer"></div>

					<p:commandButton value="Add Producto" icon="ui-icon-disk"
						style="width:300px;"
						actionListener="#{ingresobean.onAddDetalleIngresoProductoItem( row )}"
						update=":mainForm2:idtablaingreso :mainForm2:tbxMontoTotal" />

				</p:column>

				<p:column headerText="Detalle Producto" width="67%">
					<div align="right">
						<p:outputLabel styleClass="tlabel" value="Total Catalogo: " />
						<p:outputLabel id="idMontoTotalCatalogo"
							value="#{row.precioTotal}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
						<p:outputLabel value=" Bs" />
					</div>

					<p:dataTable id="idtablaingresoproducto" var="rowProducto"
						value="#{row.detalleIPIList}"
						emptyMessage="Ningun dato encontrado...">

						<f:facet name="header">
							<div>
								<div class="div40 subtitle_table_left">
									<p:outputLabel styleClass="tlabel" value="Items: " />
									#{row.detalleIPIList.size()}
								</div>
								<div class="div20 subtitle_table_center">
									<p:outputLabel styleClass="tlabel" value="Detalle Producto" />
								</div>
								<div class="div40 subtitle_table_right">-</div>
								<div class="footer"></div>
							</div>
						</f:facet>

						<p:column headerText="Acción" width="10%">
							<p:commandLink
								actionListener="#{row.onQuitarItem( rowProducto )}"
								update=":mainForm2:idtablaingreso">
								<h:graphicImage alt="Editar" url="/resources/icons/delete.png"
									width="15" height="15" />
							</p:commandLink>
						</p:column>

						<p:column headerText="Nombre" width="20%">
							<p:inputText id="idprnombre" value="#{rowProducto.nombre}" />
						</p:column>

						<p:column headerText="Color" width="25%">
							<p:selectOneMenu id="idtbxColor" value="#{rowProducto.colorCode}"
								style="width:150px">
								<f:selectItem itemLabel="Seleccione un color"
									itemValue="#{null}" noSelectionOption="true" />
								<f:selectItems value="#{colorbean.list}" var="color"
									itemLabel="#{color.nombre}" itemValue="#{color.code}" />
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Talla" width="25%">
							<p:selectOneMenu id="idtbxTalla" value="#{rowProducto.tallaCode}"
								style="width:150px">
								<f:selectItem itemLabel="Seleccione una talla"
									itemValue="#{null}" noSelectionOption="true" />
								<f:selectItems value="#{tallabean.list}" var="talla"
									itemLabel="#{talla.nombre}" itemValue="#{talla.code}" />
							</p:selectOneMenu>
						</p:column>

						<p:column headerText="Precio (Bs)" width="20%">
							<p:inputText id="idprprecio" value="#{rowProducto.precio}"
								required="true"
								requiredMessage="Campo precio item es requerido."
								converterMessage="Campo precio es decimal"
								style="text-align: right;">
								<p:ajax event="keyup"
									listener="#{ingresobean.onUpdateMontoTotal()}"
									update=":mainForm2:idtablaingreso:idMontoTotalCatalogo :mainForm2:tbxMontoTotal" />
								<f:convertNumber pattern="#{msj.numero_formato}" />
							</p:inputText>
						</p:column>					

					</p:dataTable>
				</p:column>			

			</p:dataTable>
		</h:form>


		<!-- 
			Dialogo para seleccionar un catalogo  
		-->
		<p:dialog id="dlgSelecCatalogo" widgetVar="dlgSelecCatalogoVar"
			closeOnEscape="false" header="Seleccionar Catalogo" modal="true"
			appendTo="@(body)" closable="false" resizable="false" width="300">

			<h:form id="FormSeleccBaseProducto">

				<ui:include src="/view/Producto/BaseProductoSelec.xhtml" />

				<h:panelGrid id="pnlGrdControlButton" columns="2" cellspacing="4"
					cellpadding="0">
					<p:commandButton value="Add" icon="ui-icon-disk"
						style="width:100px;"
						disabled="#{empty baseproductoselecbean.baseProducto}"
						actionListener="#{ingresobean.onSelecBaseProducto( baseproductoselecbean.baseProducto )}"
						oncomplete="PF('dlgSelecCatalogoVar').hide();"
						update=":mainForm2:idtablaingreso" immediate="true" />
					<p:commandButton value="Salir" icon="ui-icon-close"
						style="width:100px;"
						oncomplete="PF('dlgSelecCatalogoVar').hide();"
						ignoreAutoUpdate="false" immediate="true" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<!-- 
			Dialogo para crear un catalogo  
		-->
		<p:dialog id="dlgNuevoCatalogo" widgetVar="dlgNuevoCatalogoVar"
			closeOnEscape="false" header="Nuevo Catálogo" modal="true"
			appendTo="@(body)" closable="false" resizable="false">
			<h:form id="mainFormBaseProductorEdit">
				<ui:include src="/view/Producto/BaseProducto_edit.xhtml" />
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						style="width:100px;"
						actionListener="#{baseproductobean.guardar()}"
						update=":mainFormBaseProductorEdit:pnlGrdData">
					</p:commandButton>

					<p:commandButton value="Salir" icon="ui-icon-close"
						style="width:100px;"
						oncomplete="PF('dlgNuevoCatalogoVar').hide();" immediate="true" />
				</h:panelGrid>
			</h:form>


		</p:dialog>

		<p:dialog id="dlgNuevoPrenda" widgetVar="dlgNuevoPrendaVar"
			closeOnEscape="false" header="Nueva Prenda" modal="true"
			appendTo="@(body)" closable="false" resizable="false">
			<h:form id="mainFormprendaEdit">
				<ui:include src="/view/Producto/Prenda_edit.xhtml" />
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						style="width:100px;" actionListener="#{prendabean.guardar()}"
						update=":mainFormprendaEdit:pnlGrdData" />

					<p:commandButton value="Salir" icon="ui-icon-disk"
						actionListener="#{prendabean.cargarLista()}"
						update=":mainFormBaseProductorEdit:tbxPrenda"
						oncomplete="PF('dlgNuevoPrendaVar').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog id="dlgNuevoEstilo" widgetVar="dlgNuevoEstiloVar"
			closeOnEscape="false" header="Nuevo Estilo" modal="true"
			appendTo="@(body)" closable="false" resizable="false">
			<h:form id="mainFormestiloEdit">
				<ui:include src="/view/Producto/Estilo_edit.xhtml" />
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						style="width:100px;" actionListener="#{estilobean.guardar()}"
						update=":mainFormestiloEdit:pnlGrdData" />

					<p:commandButton value="Salir" icon="ui-icon-disk"
						actionListener="#{estilobean.cargarLista()}"
						update=":mainFormBaseProductorEdit:tbxEstilo"
						oncomplete="PF('dlgNuevoEstiloVar').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog id="dlgNuevaMarca" widgetVar="dlgNuevaMarcaVar"
			closeOnEscape="false" header="Nueva Marca" modal="true"
			appendTo="@(body)" closable="false" resizable="false">
			<h:form id="mainFormmarcaEdit">
				<ui:include src="/view/Producto/Marca_edit.xhtml" />
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						style="width:100px;" actionListener="#{marcabean.guardar()}"
						update=":mainFormmarcaEdit:pnlGrdData" />

					<p:commandButton value="Salir" icon="ui-icon-disk"
						actionListener="#{marcabean.cargarLista()}"
						update=":mainFormBaseProductorEdit:tbxMarca"
						oncomplete="PF('dlgNuevaMarcaVar').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog id="dlgNuevoColor" widgetVar="dlgNuevoColorVar"
			closeOnEscape="false" header="Nuevo Color" modal="true"
			appendTo="@(body)" closable="false" resizable="false">
			<h:form id="mainFormcolorEdit">
				<ui:include src="/view/Producto/Color_edit.xhtml" />
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						style="width:100px;" actionListener="#{colorbean.guardar()}"
						update=":mainFormcolorEdit:pnlGrdData" />

					<p:commandButton value="Salir" icon="ui-icon-disk"
						actionListener="#{colorbean.cargarLista()}"
						update=":mainForm2:idtablaingreso"
						oncomplete="PF('dlgNuevoColorVar').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog id="dlgNuevaTalla" widgetVar="dlgNuevaTallaVar"
			closeOnEscape="false" header="Nueva Talla" modal="true"
			appendTo="@(body)" closable="false" resizable="false">
			<h:form id="mainFormtallaEdit">
				<ui:include src="/view/Producto/Talla_edit.xhtml" />
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Guardar" icon="ui-icon-disk"
						style="width:100px;" actionListener="#{tallabean.guardar()}"
						update=":mainFormtallaEdit:pnlGrdData" />

					<p:commandButton value="Salir" icon="ui-icon-disk"
						actionListener="#{tallabean.cargarLista()}"
						update=":mainForm2:idtablaingreso"
						oncomplete="PF('dlgNuevaTallaVar').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>