<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">



		<h:form id="mainForm">

			<div>
				<div class="div30">
					<p:commandButton value="Nuevo" action="Ingreso.xhtml?faces-redirect=true" icon="ui-icon-disk"
					style="width:100px;" />
				</div>
				<div class="div40">
					<div class="titulo">Ingresos</div>
				</div>
				<div class="div30"></div>
				<div class="footer"></div>				
			</div>
			<br />
			
			<p:accordionPanel activeIndex="-1">
				<p:tab title="Filtros">
					<h:panelGrid id="idFiltros" columns="12" cellspacing="5"
						cellpadding="0">

						<p:outputLabel for="idtbxCode" value="ID:" />
						<p:inputText id="idtbxCode" label="Code" size="15"
							value="#{ingresolistbean.filtroCode}">
							<p:ajax event="keyup" listener="#{ingresolistbean.buscar()}"
								update=":mainForm:idtablaingresolist" />
						</p:inputText>

						<p:outputLabel for="idtbxTipoingreso" value="Tipoingreso:" />
						<p:inputText id="idtbxTipoingreso" label="Tipoingreso" size="15"
							value="#{ingresolistbean.filtroTipoingreso}">
							<p:ajax event="keyup" listener="#{ingresolistbean.buscar()}"
								update=":mainForm:idtablaingresolist" />
						</p:inputText>

						<p:outputLabel for="idtbxFechaIni" value="FechaIni:" />
						<p:inputText id="idtbxFechaIni" label="FechaIni" size="15"
							value="#{ingresolistbean.filtroFechaIni}">
							<p:ajax event="keyup" listener="#{ingresolistbean.buscar()}"
								update=":mainForm:idtablaingresolist" />
						</p:inputText>

						<p:outputLabel for="idtbxFechaFin" value="FechaFin:" />
						<p:inputText id="idtbxFechaFin" label="FechaFin" size="15"
							value="#{ingresolistbean.filtroFechaFin}">
							<p:ajax event="keyup" listener="#{ingresolistbean.buscar()}"
								update=":mainForm:idtablaingresolist" />
						</p:inputText>

						<p:outputLabel for="idtbxAlmacen" value="Fecha:" />
						<p:selectOneMenu id="idtbxAlmacen"
							value="#{ingresolistbean.filtroAlmacen}" style="width:200px">
							<p:ajax event="change" listener="#{ingresolistbean.buscar()}"
								update=":mainForm:idtablaingresolist" />
							<f:selectItem itemLabel="Filtre por un almacen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{almacenbean.list}" var="almacen"
								itemLabel="#{almacen.nombre}" itemValue="#{almacen.code}" />
						</p:selectOneMenu>

						<p:outputLabel for="idtbxUsuario" value="Usuario:" />
						<p:inputText id="idtbxUsuario" label="Fecha" size="15"
							value="#{ingresolistbean.filtroUsuario}">
							<p:ajax event="keyup" listener="#{ingresolistbean.buscar()}"
								update=":mainForm:idtablaingresolist" />
						</p:inputText>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablaingresolist" var="row"
				value="#{ingresolistbean.list}"
				selection="#{ingresolistbean.selected}" selectionMode="single"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{ingresolistbean.pagina} de #{ingresolistbean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Ingresos</div>
						<div class="div40 subtitle_table_right">Registros:
							#{ingresolistbean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{ingresolistbean.onRowSelect}" />

				<p:column headerText="Acción" width="5%">
					<p:commandLink
						actionListener="#{ingresolistbean.onVerIngreso( row )}"
						action="IngresoView.xhtml?faces-redirect=true"
						title="Ver Ingreso #{row.code}">
						<h:graphicImage alt="Ver" url="/resources/icons/delete.png"
							width="15" height="15" />
						<p:tooltip value="Ver Ingreso #{row.code}"/>
					</p:commandLink>
				</p:column>

				<p:column headerText="ID" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>

				<p:column headerText="Tipo Ingreso" width="20%">
					<h:outputText value="#{row.tipoingreso}" />
				</p:column>

				<p:column headerText="Fecha" width="20%">
					<h:outputText value="#{row.fecha}" />
				</p:column>

				<p:column headerText="Almacen" width="20%">
					<h:outputText value="#{row.almacen.nombre}" />
				</p:column>

				<p:column headerText="Usuario" width="20%">
					<h:outputText value="#{row.usuario.nombre}" />
				</p:column>

				<p:column headerText="Total (Bs)" width="10%">
					<div align="right">
						<h:outputText value="#{row.total}">
							<f:convertNumber pattern="#.###" />
						</h:outputText>
					</div>
				</p:column>				

				<f:facet name="footer">
					<p:commandLink actionListener="#{ingresolistbean.firstpage()}"
						update=":mainForm:idtablaingresolist">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{ingresolistbean.previouspage()}"
						update=":mainForm:idtablaingresolist">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{ingresolistbean.nextpage()}"
						update=":mainForm:idtablaingresolist">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{ingresolistbean.lastpage()}"
						update=":mainForm:idtablaingresolist">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>