<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<p:panel header="Información Sucursal">
		<h:panelGrid id="pnlGrdData" columns="2" cellspacing="2" cellpadding="2">

			<p:outputLabel value="ID:" rendered="#{!sucursalbean.nuevo}" />
			<p:outputLabel value="#{sucursalbean.entidad.code}"
				rendered="#{!sucursalbean.nuevo}" />

			<p:outputLabel for="tbxNombre" value="Nombre:" />
			<p:inputText id="tbxNombre" label="Nombre" size="50"
				value="#{sucursalbean.entidad.nombre}" />

			<p:outputLabel for="tbxResponsable" value="Responsable:" />
			<p:inputText id="tbxResponsable" label="Responsable" size="50"
				value="#{sucursalbean.entidad.responsable}" />

			<p:outputLabel for="tbxDireccion" value="Dirección:" />
			<p:inputText id="tbxDireccion" label="Direccion" size="50"
				value="#{sucursalbean.entidad.direccion}" />

		</h:panelGrid>

		<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
			cellpadding="0">

			<p:commandButton value="Guardar" icon="ui-icon-disk"
				style="width:100px;" actionListener="#{sucursalbean.guardar()}"
				update=":mainFormSucursalEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Eliminar" icon="ui-icon-document"
				style="width:100px;" actionListener="#{sucursalbean.eliminar()}"
				update=":mainFormSucursalEdit:pnlGrdData :mainForm" />

			<p:commandButton value="Nuevo" icon="ui-icon-document"
				style="width:100px;" actionListener="#{sucursalbean.nuevo()}"
				update=":mainFormSucursalEdit:pnlGrdData :mainForm" />

		</h:panelGrid>

	</p:panel>

</ui:composition>