<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h1>
			<center>Sucursal</center>
		</h1>

		<table class="borderHidden" cellpadding="0" cellspacing="0"
			width="100%" border="0">
			<tr>
				<td width="66%"><h:form id="mainForm">
						<p:accordionPanel >
							<p:tab title="Filtros" >
								<h:panelGrid id="idFiltros" columns="10" cellspacing="5" cellpadding="0">
								
									<p:outputLabel for="idtbxCode" value="ID:" />
									<p:inputText id="idtbxCode" label="Code" size="15"
										value="#{sucursalbean.filtroCode}">
										<p:ajax event="keyup" listener="#{sucursalbean.buscar()}"
											update=":mainForm:idtablasucursal" />
									</p:inputText>

									<p:outputLabel for="idtbxNombre" value="Nombre:" />
									<p:inputText id="idtbxNombre" label="Nombre" size="15"
										value="#{sucursalbean.filtroNombre}">
										<p:ajax event="keyup" listener="#{sucursalbean.buscar()}"
											update=":mainForm:idtablasucursal" />
									</p:inputText>

									<p:outputLabel for="idtbxResponsable" value="Responsable:" />
									<p:inputText id="idtbxResponsable" label="Responsable"
										size="15" value="#{sucursalbean.filtroResponsable}">
										<p:ajax event="keyup" listener="#{sucursalbean.buscar()}"
											update=":mainForm:idtablasucursal" />
									</p:inputText>

									<p:outputLabel for="idtbxDireccion" value="Dirección:" />
									<p:inputText id="idtbxDireccion" label="Direccion" size="15"
										value="#{sucursalbean.filtroDireccion}">
										<p:ajax event="keyup" listener="#{sucursalbean.buscar()}"
											update=":mainForm:idtablasucursal" />
									</p:inputText>

								</h:panelGrid>
							</p:tab>
						</p:accordionPanel>
						<p:dataTable id="idtablasucursal" var="row"
							value="#{sucursalbean.list}" selection="#{sucursalbean.selected}"
							selectionMode="single" emptyMessage="Ningun dato encontrado..."
							rowKey="#{row.code}">

							<f:facet name="header">
								<div>
									<div class="div40 subtitle_table_left">Página:
										#{sucursalbean.pagina} de #{sucursalbean.cantidadPaginas}</div>
									<div class="div20 subtitle_table_center">Sucursales</div>
									<div class="div40 subtitle_table_right">Registros:
										#{sucursalbean.cantidadRegistros}</div>
									<div class="footer"></div>
								</div>
							</f:facet>

							<p:ajax event="rowSelect" listener="#{sucursalbean.onRowSelect}"
								update=":mainFormSucursalEdit" />

							<p:column sortBy="#{row.code}" headerText="ID" width="10%">
								<h:outputText value="#{row.code}" />
							</p:column>

							<p:column sortBy="#{row.nombre}" headerText="Nombre" width="30%">
								<h:outputText value="#{row.nombre}" />
							</p:column>

							<p:column sortBy="#{row.responsable}" headerText="Responsable" width="30%">
								<h:outputText value="#{row.responsable}" />
							</p:column>

							<p:column sortBy="#{row.direccion}" headerText="Dirección" width="30%">
								<h:outputText value="#{row.direccion}" />
							</p:column>

							<f:facet name="footer">
								<p:commandLink actionListener="#{sucursalbean.firstpage()}"
									update=":mainForm:idtablasucursal">
									<h:graphicImage value="#{msj.navfirst}" />
								</p:commandLink>
								<p:commandLink actionListener="#{sucursalbean.previouspage()}"
									update=":mainForm:idtablasucursal">
									<h:graphicImage value="#{msj.navprevious}" />
								</p:commandLink>
								<p:commandLink actionListener="#{sucursalbean.nextpage()}"
									update=":mainForm:idtablasucursal">
									<h:graphicImage value="#{msj.navnext}" />
								</p:commandLink>
								<p:commandLink actionListener="#{sucursalbean.lastpage()}"
									update=":mainForm:idtablasucursal">
									<h:graphicImage value="#{msj.navlast}" />
								</p:commandLink>
							</f:facet>

						</p:dataTable>
					</h:form></td>
				<td width="2%"></td>
				<td width="30%"><h:form id="mainFormSucursalEdit">
						<ui:include src="Sucursal_edit.xhtml" />
					</h:form></td>
				<td width="2%"></td>
			</tr>
		</table>

	</ui:define>
</ui:composition>