<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm2">

			<div>
				<div class="div30">
					<p:confirmDialog global="true" appendTo="@(body)" width="200" >					
						<p:commandButton value="Si" type="button" style="width:80px;"
							styleClass="ui-confirmdialog-yes" icon="#{msj.icon_check}" />
						<p:commandButton value="No" type="button" style="width:80px;"
							styleClass="ui-confirmdialog-no" icon="#{msj.icon_close}" />
					</p:confirmDialog>

					<p:commandButton value="Cancelar"
						action="TraspasoList.xhtml?faces-redirect=true" icon="#{msj.icon_cancelar}"
						style="width:100px;" />
						
					<p:commandButton value="Guardar" icon="#{msj.icon_guardar}"
						action="#{traspasobean.save()}" style="width:100px;">
						<p:confirm header="Confirmación" message="Favor confirmar"
							icon="#{msj.icon_alert}" />
					</p:commandButton>
					
				</div>
				<div class="div40">
					<div class="titulo">Traspaso</div>
				</div>
				<div class="div30" align="right">
					<h:graphicImage url="#{msj.img_usuario}" height="20" width="20" style="margin-right: 2px;" />
					<p:outputLabel id="idtbxUsuario" value="#{traspasobean.usuario}" />
					
				</div>
				<div class="footer"></div>
			</div>
			<br />

			<p:panel>
				<center>
					<h:panelGrid columns="8" cellpadding="2" cellspacing="2">

						<p:outputLabel styleClass="tlabel" for="idtbxAlmacenOrigen"
							value="AlmacenOrigen:" />
						<p:selectOneMenu id="idtbxAlmacenOrigen" 
							value="#{traspasobean.codeAlmacenOrigen}" style="width:150px">
							<f:selectItem itemLabel="Seleccione un almacen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{almacenbean.list}" var="almacen"
								itemLabel="#{almacen.nombre}" itemValue="#{almacen.code}" />
							<p:ajax event="change" update=":mainForm2:idEgrAlmacenOrgien :mainForm2:idtablatraspaso :mainForm2:tbxMontoTotal" 
							listener="#{traspasobean.onCambioAlmacenOrigen()}" />
						</p:selectOneMenu>
						
						<p:outputLabel styleClass="tlabel" for="idtbxAlmacenDestino"
							value="AlmacenDestino:" />
						<p:selectOneMenu id="idtbxAlmacenDestino" 
							value="#{traspasobean.codeAlmacenDestino}" style="width:150px">
							<f:selectItem itemLabel="Seleccione un almacen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{almacenbean.list}" var="almacen"
								itemLabel="#{almacen.nombre}" itemValue="#{almacen.code}" />
							<p:ajax event="change" update=":mainForm2:idtablatraspaso :mainForm2:tbxMontoTotal" />
						</p:selectOneMenu>
						
						<p:outputLabel styleClass="tlabel" for="idtbxMotivo"
							value="Motivo:" />
						<p:inputTextarea id="idtbxMotivo" cols="50"
							value="#{traspasobean.motivo}" />
							
						<p:outputLabel styleClass="tlabel" for="idtbxComentario"
							value="Comentario:" />
						<p:inputTextarea id="idtbxComentario" cols="50"
							value="#{traspasobean.comentario}" />
							
					</h:panelGrid>
				</center>
			</p:panel>

			<p:separator />

			<div>
				<div class="div70">
					<p:commandButton id="idEgrAlmacenOrgien" 
						value="Agregar Producto" icon="ui-icon-disk"
						style="width:200px"
						oncomplete="PF('dlgProductoSelectedVar').show();"
						update=":mainFormProductoSelected"
						disabled="#{empty traspasobean.codeAlmacenOrigen or traspasobean.codeAlmacenOrigen eq 0}"
						actionListener="#{productoinventariobean.onResetVariables( traspasobean.almacenOrigen.nombre )}" />
					El traspaso solo se hace por almacen!!! 
				</div>
				<div class="div30">
					<div align="right">
						<p:outputLabel styleClass="tlabel" value="Monto Total: " />
						<p:outputLabel id="tbxMontoTotal" value="#{traspasobean.montoTotal}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
						<p:outputLabel value=" Bs" />
					</div>
				</div>
				<div class="footer"></div>
			</div>

			<p:separator />

			<p:dataTable id="idtablatraspaso" var="row" value="#{traspasobean.list}"
				emptyMessage="Ningun dato encontrado..." rowIndexVar="rowIndex">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">
							<p:outputLabel styleClass="tlabel" value="Items: " />
							#{traspasobean.list.size()}
						</div>
						<div class="div20 subtitle_table_center">
							<p:outputLabel styleClass="tlabel" value="Detalle" />
						</div>
						<div class="div40 subtitle_table_right">-</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:column headerText="Acción" width="5%">
					<p:commandLink actionListener="#{traspasobean.onQuitarItem( row )}"
						update=":mainForm2:idtablatraspaso :mainForm2:tbxMontoTotal"
						title="Eliminar registro!!">
						<h:graphicImage alt="Eliminar registro" url="#{msj.img_basureror}"  />
					</p:commandLink>
				</p:column>

				<p:column headerText="Nro" width="5%">
					<p:outputLabel value="#{rowIndex + 1}" />
				</p:column>

				<p:column headerText="Id Catálogo" width="10%">	
					<div align="center">
						<p:outputLabel value="#{row.baseproducto.code}" />
					</div>
				</p:column>
				
				<p:column headerText="Id Producto" width="10%">
					<div align="center">
						<p:outputLabel value="#{row.code}" />
					</div>
				</p:column>
				
				<p:column headerText="Código" width="10%">				
					<p:outputLabel value="#{row.baseproducto.codigo}" />					
				</p:column>

				<p:column headerText="Nombre" width="10%">
					<p:outputLabel value="#{row.nombre}" />
				</p:column>

				<p:column headerText="Prenda" width="10%">
					<p:outputLabel value="#{row.baseproducto.prenda.nombre}" />
				</p:column>

				<p:column headerText="Estilo" width="10%">
					<p:outputLabel value="#{row.baseproducto.estilo.nombre}" />
				</p:column>

				<p:column headerText="Marca" width="10%">
					<p:outputLabel value="#{row.baseproducto.marca.nombre}" />
				</p:column>

				<p:column headerText="Talla" width="10%">
					<p:outputLabel value="#{row.talla.nombre}" />
				</p:column>

				<p:column headerText="Color" width="10%">
					<p:outputLabel value="#{row.color.nombre}" />
				</p:column>

				<p:column headerText="Estado" width="10%">
					<p:outputLabel value="#{row.estado}" />
				</p:column>

				<p:column headerText="Precio" width="7%" >
					<div align="right">
						<p:outputLabel id="idbpPrecio" value="#{row.baseproducto.precio}">
							<f:convertNumber pattern="#{msj.numero_formato}" />
						</p:outputLabel>
					</div>
				</p:column>

			</p:dataTable>
		</h:form>

		<p:dialog id="dlgProductoSelected" widgetVar="dlgProductoSelectedVar"
			closeOnEscape="false" header="Seleccionar Producto" modal="true"
			appendTo="@(body)" closable="false" resizable="false" width="1000">

			<h:form id="mainFormProductoSelected">

				<div style="overflow: auto; height: 500px;">
					<ui:include src="../Producto/ProductoInventarioSelect.xhtml" />
				</div>
				
				<p:separator />
				
				<h:panelGrid id="pnlGrdControl" columns="3" cellspacing="4"
					cellpadding="0">

					<p:commandButton value="Bajar Producto" icon="ui-icon-disk"
						style="width:200px;"
						actionListener="#{traspasobean.adicionarProducto( productoinventariobean.selected )}"
						update=":mainForm2:idtablatraspaso :mainForm2:tbxMontoTotal" />

					<p:commandButton value="Bajar Productos del Catálogo"
						icon="ui-icon-disk" style="width:200px;"
						actionListener="#{traspasobean.adicionarProductos( productoinventariobean.onSelectedCatalogo( productoinventariobean.selected.baseproducto ) )}"
						update=":mainForm2:idtablatraspaso :mainForm2:tbxMontoTotal" />

					<p:commandButton value="Salir" icon="ui-icon-disk"
						update=":mainForm2:idtablatraspaso"
						oncomplete="PF('dlgProductoSelectedVar').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>