<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="../layout/templatebase.xhtml">

	<ui:define name="Cuerpo">

		<h:form id="mainForm">

			<div>
				<div class="div30">
					<p:commandButton value="Nuevo" action="Traspaso.xhtml?faces-redirect=true" icon="ui-icon-disk"
					style="width:100px;" />
				</div>
				<div class="div40">
					<div class="titulo">Traspasos</div>
				</div>
				<div class="div30"></div>
				<div class="footer"></div>
			</div>
			<br />
			
			<p:accordionPanel activeIndex="-1"> 
				<p:tab title="Filtros">
					<h:panelGrid id="idFiltros" columns="12" cellspacing="5"
						cellpadding="0">

						<p:outputLabel for="idtbxCode" value="ID:" />
						<p:inputText id="idtbxCode" label="Code" size="15"
							value="#{traspasolistbean.filtroCode}">
							<p:ajax event="keyup" listener="#{traspasolistbean.buscar()}"
								update=":mainForm:idtablatraspasolist" />
						</p:inputText>

						<p:outputLabel for="idtbxAlmacenIngreso" value="Almacen Ingreso:" />
						<p:selectOneMenu id="idtbxAlmacenIngreso"
							value="#{traspasolistbean.filtroAlmacenIngreso}" style="width:200px">
							<p:ajax event="change" listener="#{traspasolistbean.buscar()}"
								update=":mainForm:idtablatraspasolist" />
							<f:selectItem itemLabel="Filtre por un almacen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{almacenbean.list}" var="almacen"
								itemLabel="#{almacen.nombre}" itemValue="#{almacen.code}" />
						</p:selectOneMenu>
						
						<p:outputLabel for="idtbxAlmacenEgreso" value="Almacen Egreso:" />
						<p:selectOneMenu id="idtbxAlmacenEgreso"
							value="#{traspasolistbean.filtroAlmacenEgreso}" style="width:200px">
							<p:ajax event="change" listener="#{traspasolistbean.buscar()}"
								update=":mainForm:idtablatraspasolist" />
							<f:selectItem itemLabel="Filtre por un almacen"
								itemValue="#{null}" noSelectionOption="true" />
							<f:selectItems value="#{almacenbean.list}" var="almacen"
								itemLabel="#{almacen.nombre}" itemValue="#{almacen.code}" />
						</p:selectOneMenu>
																	
						<p:outputLabel for="idtbxMotivo" value="Motivo:" />
						<p:inputText id="idtbxMotivo" label="Motivo" size="15"
							value="#{traspasolistbean.filtroMotivo}">
							<p:ajax event="keyup" listener="#{traspasolistbean.buscar()}"
								update=":mainForm:idtablatraspasolist" />
						</p:inputText>

						<p:outputLabel for="idtbxComentario" value="Comentario:" />
						<p:inputText id="idtbxComentario" label="Comentario" size="15"
							value="#{traspasolistbean.filtroComentario}">
							<p:ajax event="keyup" listener="#{traspasolistbean.buscar()}"
								update=":mainForm:idtablatraspasolist" />
						</p:inputText>

						<p:outputLabel for="idtbxUsuario" value="Usuario:" />
						<p:inputText id="idtbxUsuario" label="Fecha" size="15"
							value="#{traspasolistbean.filtroUsuario}">
							<p:ajax event="keyup" listener="#{traspasolistbean.buscar()}"
								update=":mainForm:idtablatraspasolist" />
						</p:inputText>
					</h:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:dataTable id="idtablatraspasolist" var="row"
				value="#{traspasolistbean.list}"
				selection="#{traspasolistbean.selected}" selectionMode="single"
				emptyMessage="Ningun dato encontrado..." rowKey="#{row.code}">

				<f:facet name="header">
					<div>
						<div class="div40 subtitle_table_left">Página:
							#{traspasolistbean.pagina} de #{traspasolistbean.cantidadPaginas}</div>
						<div class="div20 subtitle_table_center">Traspasos</div>
						<div class="div40 subtitle_table_right">Registros:
							#{traspasolistbean.cantidadRegistros}</div>
						<div class="footer"></div>
					</div>
				</f:facet>

				<p:ajax event="rowSelect" listener="#{traspasolistbean.onRowSelect}" />
				
				<p:column headerText="Acción" width="5%">
					<div align="center">
						<p:commandLink
							actionListener="#{traspasolistbean.onVerTraspaso( row )}"
							action="TraspasoView.xhtml?faces-redirect=true">
							<h:graphicImage alt="Ver" url="#{msj.img_view}" />							
						</p:commandLink>
					</div>
				</p:column>

				<p:column headerText="ID" width="5%">
					<h:outputText value="#{row.code}" />
				</p:column>
				
				<p:column headerText="Fecha" width="15%">
					<h:outputText value="#{row.fecha}" />
				</p:column>

				<p:column headerText="Almacen Origen" width="10%">
					<h:outputText value="#{row.egreso.almacen.nombre}" />
				</p:column>
				
				<p:column headerText="Almacen Destino" width="10%">
					<h:outputText value="#{row.ingreso.almacen.nombre}" />
				</p:column>

				<p:column headerText="Motivo" width="20%">
					<h:outputText value="#{row.motivo}" />
				</p:column>
				
				<p:column headerText="Comentario" width="20%">
					<h:outputText value="#{row.comentario}" />
				</p:column>

				<p:column headerText="Usuario" width="10%">
					<h:outputText value="#{row.usuario.nombre}" />
				</p:column>
				
				<f:facet name="footer">
					<p:commandLink actionListener="#{traspasolistbean.firstpage()}"
						update=":mainForm:idtablatraspasolist">
						<h:graphicImage value="#{msj.navfirst}" />
					</p:commandLink>
					<p:commandLink actionListener="#{traspasolistbean.previouspage()}"
						update=":mainForm:idtablatraspasolist">
						<h:graphicImage value="#{msj.navprevious}" />
					</p:commandLink>
					<p:commandLink actionListener="#{traspasolistbean.nextpage()}"
						update=":mainForm:idtablatraspasolist">
						<h:graphicImage value="#{msj.navnext}" />
					</p:commandLink>
					<p:commandLink actionListener="#{traspasolistbean.lastpage()}"
						update=":mainForm:idtablatraspasolist">
						<h:graphicImage value="#{msj.navlast}" />
					</p:commandLink>
				</f:facet>

			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>