<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="layout/templatelogin.xhtml">

	<ui:define name="cuerpo">

		<h:form id="formLogin" enctype="application/x-www-form-urlencoded">

			<div style="padding: 10% 0 0 28%;">

				<div id="login-box">

					<table style="width: 100%; height: 100%; padding: 20px 20px 20px 20px;" border="0">
						<tr>
							<td colspan="2" style="text-align: center; height: 70px;">
								<h2>Log-in</h2>
							</td>
						</tr>
						<tr>
							<td>
								<center>
									<h:graphicImage id="deleteImage" width="145" height="135" url="/resources/css/images/usr2.png" />
								</center>
							</td>
							<td>

								<table border="0" style="width: 100%; height: 100%;">

									<tr>
										<td><div id="login-box-name">Usuario:</div></td>
										<td><h:inputText id="usernameId" value="#{loginbean.login}" required="true" label="Usuario" requiredMessage="Campo Usuario requerido."
												maxlength="20" size="20" autocomplete="off" styleClass="form-login" /></td>
									</tr>

									<tr>
										<td><div id="login-box-name">Password:</div></td>
										<td><h:inputSecret id="passwordId" value="#{loginbean.password}" required="true" label="Password" autocomplete="off" maxlength="20"
												size="20" requiredMessage="Campo Password es requerido." styleClass="form-login" /></td>
									</tr>

									<tr>
										<td colspan="2">
											<center>
												<h:commandButton type="submit" id="comanLogin" action="#{loginbean.verificarLogin}" value="LOGIN"
													style="font-size: 18px; color: #2F5C9B; font-weight: bold; width: 120px; height:40px;" />
											</center>
										</td>
									</tr>

								</table>

							</td>
						</tr>

						<tr>
							<td style="text-align: center; height: 40px;" colspan="2"><span>#{msj.titulo_pie}</span></td>
						</tr>

					</table>

				</div>

			</div>

		</h:form>

	</ui:define>

</ui:composition>
