
.div5{
	width: 5%;
	float: left;	
}

.div10{
	width: 10%;
	float: left;	
}

.div20{
	width: 20%;
	float: left;	
}

.div25{
	width: 25%;
	float: left;	
}

.div30{
	width: 30%;
	float: left;	
}

.div35{
	width: 35%;
	float: left;	
}

.div40{
	width: 40%;
	float: left;	
}

.div50{
	width: 50%;
	float: left;	
}

.div60{
	width: 60%;
	float: left;	
}

.div70{
	width: 70%;
	float: left;	
}

.div80{
	width: 80%;
	float: left;	
}

.div90{
	width: 90%;
	float: left;	
}

.footer{
	clear: both;	
}

.borderHidden{	
	border-style: hidden;
	border-width: 0px;
}

.subtitle_table_left{
	text-align: left; 
	font-size: 10px; 
	color: black;
	font-weight: normal;
}

.subtitle_table_center{	
	text-align: center; 
	color: white;
	font-weight: bold;
}

.subtitle_center{	
	text-align: center; 
	color: black;
	font-weight: bold;
}

.subtitle_table_right{
	text-align: right; 
	font-size: 10px; 
	color: black;
	font-weight: normal;
}


.obligatorio{
	text-align: right;
	font-style: italic;
	color: graytext;	
}

.tlabel{
	text-align: right; 
	font-weight: bold;
	padding-right: 5px;
}

.inputText{
	text-align: right;
}

.titulo{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	color: #3069AE;
}

.rowPedidoTable {	
	background-color: blue;
}

.rowStockTable {	
	background-color: red;
}

.rowTransitoTable {	
	background-color: yellow;
}

