body {
	background-color: #FFFFFF;
	color: #808285;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#headerText {
	font-size: 28px;
	font-weight: bold;
	color: #3A57A3;
	top: 20px;
	left: 250px;
}

#footerText {
	font-size: 13px;
	font-weight: normal;
	color: #101020;
	position: inherit;
}

#wrap {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#bottom {
	height: 18pt;
	line-height: 22px;
	background-color: #BFD3ED;
	text-align: center;
	margin: -2px auto -3px auto;
}

#left {
	float: left;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

#right {
	float: right;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

.center_content {
	position: relative;
	background-color: #dddddd;
	padding: 5px;
}

.left_content {
	background-color: #dddddd;
	padding: 5px;
	margin-left: 170px;
}

.right_content {
	background-color: #dddddd;
	padding: 5px;
	margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#top a:link:hover, #top a:visited:hover {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

.nav {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 1px;
	border-top: #ccc 1px solid;
	margin-right: 1px;
	border-right: #ccc 1px solid;
	padding-top: 5px;
}

#title {
	font-size: 12px;
	color: #234F89;
	letter-spacing: -1px;
	font-weight: 100;
	font-weight: bold;
}

#title2 {
	color: #4D4D4D;
	font-weight: bold;
	font-weight: 100;
}

#logo {
	width: 130px;
	height: 73px;
	background-image: url("images/LogoTigo.png");
	margin-left: -2px;
}

#loginj {
	padding: 0;
	margin: -2px auto -3px auto;
}

#header_resize {
	padding: 0;
	width: 1000px;
}

#loginj em {
	color: #7BB6D4;
	font-size: 13px;
	font-weight: bold;
}

#logintitle {
	font-size: 15px;
	color: #234F89;
	letter-spacing: -1px;
	font-weight: 100;
	font-weight: bold;
}

h1 {
	letter-spacing: -1px;
	color: #3069AE;
}

h2 {
	font-size: 15px;
	color: #234F89;
	letter-spacing: -1px;
	font-weight: 100;
	font-weight: bold;
}

#content {
	background-color: #fff;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

img {
	border: 0;
}

.tbl-resaltado {
	background-color: #cad7e4;
	background: none repeat scroll 0 0 #cad7e4;
}

.columnasGrid {
	vertical-align: top;
}

.columnasGrid97 {
	width: 97%;
}

.filas_regla {
	color: #ffffff;
	font-weight: bold;
	background: #c10000;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-north {
	z-index: 30 !important;
	overflow: visible !important;
}