body {
	background-color: #F2F5F7;
	color: #808285;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#headerText {
	font-size: 28px;
	font-weight: bold;
	color: #3A57A3;
	position: absolute;
	top: 20px;
	left: 250px;
}

#bottom {
	height: 20px;
	background: #BFD3ED;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	bottom: 0;
}

#footerText {
	font-size: 13px;
	color: #101020;
}

#logo {
	position: relative;
	top: 8px;
	left: 20px;
	width: 129px;
	height: 73px;
	background-image: url("images/LogoTigo.png");
}

#loginj {
	height: 88px;
	background: #F0F2F4;
	/*padding: 0;
	min-width: 1000px;
	*/
	/**/
	border-bottom: 1px solid black;
}

#loginj em {
	color: #7BB6D4;
	font-size: 13px;
	font-weight: bold;
}

#wrap {
	margin: 0 auto;
	width: 780px;
	height: 100%;
}

#box {
	border-bottom: #5F5F5F 1px solid;
	border-left: #5F5F5F 1px solid;
	border-top: #5F5F5F 1px solid;
	border-right: #5F5F5F 1px solid;
	padding-bottom: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 1px;
	margin-right: 1px;
	padding-top: 5px;
	width: 300px;
	height: 180px;
	left: 220px;
	position: relative;
}

.nav { /*border-bottom: #ccc 1px solid;
    border-left: #ccc 1px solid;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;*/
	padding-bottom: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 1px;
	margin-right: 1px;
	padding-top: 5px;
	width: 700px;
	height: 380px;
	left: 0px;
	position: relative;
}

h1 {
	letter-spacing: -1px;
	/*color: #3069AE;*/
	font: bold 24px Arial, Helvetica, sans-serif;
	color: #5F5F5F;
	text-align: center;
}

#logintitle {
	font-size: 15px;
	/*color: #234F89;
    /*padding: 5px 0 0 20px;*/
	color: #808285;
	letter-spacing: -1px;
	font-weight: 100;
}

img {
	border: 0;
}

.columnasGrid {
	vertical-align: top;
}

.columnasGrid97 {
	width: 97%;
}