<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="mainFormmenu">
		<p:menu toggleable="true" >
			<f:facet name="header">Menu</f:facet>
			<p:submenu label="Administración">
				<p:menuitem value="Usuario"
					action="/view/Administracion/Usuario.xhtml?faces-redirect=true"
					icon="ui-icon-disk" ajax="false" />
				<p:menuitem value="Rol"
					action="/view/Administracion/Rol.xhtml?faces-redirect=true"
					icon="ui-icon-arrowrefresh-1-w" />
				<p:menuitem value="Privilegio" actionListener="#"
					icon="ui-icon-arrowrefresh-1-w" />
				<p:menuitem value="Auditoria"
					action="/view/Administracion/Bitacora.xhtml?faces-redirect=true"
					icon="ui-icon-arrowrefresh-1-w" />
			</p:submenu>
			<p:submenu label="Producto" >
			
				<p:menuitem value="Producto Base"
					action="/view/Producto/BaseProducto.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
					
				<p:menuitem value="Producto"
					action="/view/Producto/Producto.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
					
				<p:menuitem value="Color"
					action="/view/Producto/Color.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
						
				<p:menuitem value="Talla"
					action="/view/Producto/Talla.xhtml?faces-redirect=true"
					icon="ui-icon-arrowrefresh-1-w" />
				<p:menuitem value="Prenda"
					action="/view/Producto/Prenda.xhtml?faces-redirect=true"
					icon="ui-icon-arrowrefresh-1-w" />				
				<p:menuitem value="Marca"
					action="/view/Producto/Marca.xhtml?faces-redirect=true"
					icon="ui-icon-arrowrefresh-1-w" />
				<p:menuitem value="Estilo"
					action="/view/Producto/Estilo.xhtml?faces-redirect=true"
					icon="ui-icon-arrowrefresh-1-w" />
			</p:submenu>
			<p:submenu label="Venta">
				<p:menuitem value="Cliente"
					action="/view/Venta/Cliente.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
				<p:menuitem value="Venta"
					action="/view/Venta/VentaList.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
			</p:submenu>
			<p:submenu label="Compra">
				<p:menuitem value="Proveedor"
					action="/view/Compra/Proveedor.xhtml?faces-redirect=true"
					icon="ui-icon-disk" >
				</p:menuitem>
				<p:menuitem value="Pedido"
					action="/view/Compra/PedidoList.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
				<p:menuitem value="Compra"
					action="/view/Compra/CompraList.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
				<p:menuitem value="Transito"
					action="/view/Compra/TransitoList.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
				<p:menuitem value="Recepción"
					action="/view/Compra/RecepcionList.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
			</p:submenu>
			<p:submenu label="Inventario">
				<p:menuitem value="Ingreso"
					action="/view/Inventario/IngresoList.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
				<p:menuitem value="Egreso"
					action="/view/Inventario/EgresoList.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
				<p:menuitem value="Traspaso"
					action="/view/Inventario/TraspasoList.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
				<p:menuitem value="Sucursal"
					action="/view/Inventario/Sucursal.xhtml?faces-redirect=true"
					icon="ui-icon-disk" />
				<p:menuitem value="Almacen"
					action="/view/Inventario/Almacen.xhtml?faces-redirect=true"
					icon="ui-icon-arrowrefresh-1-w" />				
			</p:submenu>
		</p:menu>
	</h:form>
</ui:composition>