<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>

	<f:facet name="first">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</f:facet>
	<meta http-equiv="X-Frame-Options" content="deny" />
	<meta content="private ,no-cache, no-store, must-revalidate"
		http-equiv="Cache-Control" />
	<meta content="no-cache" http-equiv="Pragma" />
	<meta content="0" http-equiv="Expires" />

	<link href="#{request.contextPath}/resources/css/cssLayoutTV.css"
		rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/resources/css/cssenovia.css"
		rel="stylesheet" type="text/css" />

	<link rel="shortcut icon"
		href="#{request.contextPath}/resources/icons/icon.png"
		type="image/png" />

	<f:loadBundle basename="messages" var="msj" />

	<title>#{msj.titulo_cabecera}</title>

	<script language="JavaScript" type="text/javascript">
// 		window.onbeforeunload = function () {
// 			window.location.href="#{request.contextPath}/Logout";
// 			document.location.href="#{request.contextPath}/Logout";
// 		    return  "Cerrar?";
// 		}; 
	
		// Used to logout the session , when browser window was closed 
		//window.onunload = function () {
		//	document.location.href="#{request.contextPath}/Logout";
		//};
	</script>

</h:head>

<body>

	<p:layout id="layoutPrincipal" fullPage="true"
		style="background-color: #FFFFFF; border-color: #FFFFFF;">

		<p:layoutUnit position="north" resizable="false" closable="true"
			collapsible="false" size="88">
			<table border="0" style="width: 100%; height: 100%;">
				<tr>
					<td width="150">
						<div id="loginj">
							<div id="logo">
								<ui:insert name="logo"></ui:insert>
							</div>

						</div>
					</td>
					<td>
						<table>
							<tr>
								<td>
									<div id="headerText">
										<span>#{msj.titulo_cabecera}</span>
									</div>
								</td>
							</tr>
							<tr>
								<td><h:form id="frmMenuBar">
										<p:menubar model="#{login.model}"
											style="border-width:0; border-color: #F2F5F7; width:100%;" />
									</h:form></td>
							</tr>
						</table>
					</td>
					<td width="200" style="text-align: right;">
						<table border="0" style="width: 100%; height: 70%;">
							<tr>
								<td>Bienvenido: #{loginbean.login}</td>
							</tr>
							<tr>
								<td><a href="#{request.contextPath}/Logout">Cerrar session</a></td>
							</tr>
							<tr>
								<td><p:clock pattern="#{msj.fecha_ddMMyyyyhms}" mode="server"  /></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</p:layoutUnit>

		<p:layoutUnit id="layoutCenter" position="center"
			style="background-color: #FFFFFF; border-color: #FFFFFF;">
			<div id="wrap">
				<div id="content">

					<p:outputPanel ajaxRendered="true">
						<p:growl id="messages" escape="false" showDetail="true"
							autoUpdate="true" sticky="true" />
					</p:outputPanel>

					<div>
						<div class="div10">
							<ui:include src="menu.xhtml" />
						</div>
						<div class="div90">
							<div class="nav">
								<ui:insert name="Cuerpo">Cuerpo</ui:insert>
							</div>
						</div>
						<div class="footer"></div>
					</div>

				</div>
			</div>
		</p:layoutUnit>

		<p:layoutUnit id="layoutPie" position="south"
			style="border-color: #BFD3ED; background: #BFD3ED;">
			<div id="bottom">
				<div id="footerText">
					<span>#{msj.titulo_pie}</span>
				</div>
			</div>
		</p:layoutUnit>

	</p:layout>
</body>

</html>
